{extend name="../common/public/base" /}
{block name="css"}
{include file="../common/public/bootstrap" /}
{/block}
{block name="body"}
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="row">
            {if $module !== 'home'}
            <div class="col-lg-2 col-md-3 col-sm-12">
                <div class="layui-card border border-light-subtle mt-2">
                    <div class="layui-card-header">筛选</div>
                    <div class="layui-card-body overflow-y-auto overflow-x-hidden" style="max-height: 680px;">
                        <ul class="layui-menu p-0" id="filterUser">
                            {if $module === 'admin'}
                            <li class="layui-menu-item-checked" lay-options="{user_id: 0, company_id: 0}">
                                <div class="layui-menu-body-title">全部</div>
                            </li>
                            {foreach $company as $key => $val}
                            <li class="layui-menu-item-group layui-menu-item-up" lay-options="{type: 'group'}">
                                <div class="layui-menu-body-title">
                                    {$val.corporation} <i class="layui-icon layui-icon-up"></i>
                                </div>
                                {if !empty($val.user)}
                                <ul class="p-0">
                                    <li class="" lay-options="{user_id: 0, company_id: {$val.id}}">
                                        <div class="layui-menu-body-title">全部</div>
                                    </li>
                                    {foreach $val.user as $k => $v}
                                    <li lay-options="{user_id: {$v.id}, company_id: {$val.id}}">
                                        <div class="layui-menu-body-title">{$v.realname}</div>
                                    </li>
                                    {/foreach}
                                </ul>
                                {/if}
                            </li>
                            {/foreach}
                            {elseif $module === 'company'}
                            <li class="layui-menu-item-checked" lay-options="{user_id: 0, company_id: {$user.id}}">
                                <div class="layui-menu-body-title">全部</div>
                            </li>
                            {foreach $users as $key => $val}
                            <li class="" lay-options="{user_id: {$val.id}, company_id: {$val.company_id}}">
                                <div class="layui-menu-body-title">{$val.realname}</div>
                            </li>
                            {/foreach}
                            {/if}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-10 col-md-9 col-sm-12">
            {else /}
            <div class="col">
            {/if}
                <table class="layui-table" id="currentTableId" lay-filter="currentTableFilter" lay-even lay-data="">
                    <thead>
                        <tr>
                            <th lay-data="{field: 'id', align: 'center', width: 100}">ID</th>
                            <th lay-data="{field: 'username', align: 'center', width: 150}">用户</th>
                            {if $module === 'admin'}
                            <th lay-data="{field: 'company', align: 'center', width: 300}">所属公司</th>
                            {/if}
                            <th lay-data="{field: 'ip', align: 'center', width: 200}">登录IP</th>
                            <th lay-data="{field: 'platform', align: 'center', width: 150}">系统信息</th>
                            <th lay-data="{field: 'platform_version', align: 'center', width: 150}">系统版本</th>
                            <th lay-data="{field: 'browser', align: 'center', width: 150}">浏览器信息</th>
                            <th lay-data="{field: 'browser_version', align: 'center', width: 200}">浏览器版本</th>
                            <th lay-data="{field: 'device', align: 'center', width: 150}">设备信息</th>
                            <th lay-data="{field: 'device_type', align: 'center', width: 150}">设备类型</th>
                            <th lay-data="{field: 'create_time', align: 'center', width: 200}">登录时间</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}

<script src="__STATIC__/js/common/user_logs.js?v={:time()}"></script>

{/block}
