{extend name="public/base" /}
{block name="css"}
{include file="public/bootstrap" /}
<style>
    .logo-title {
        text-align: center;
        letter-spacing: 2px;
        padding: 14px 0;
    }

    .logo-title h1 {
        color: #1E9FFF;
        font-size: 25px;
        font-weight: bold;
    }

    .login-form {
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 14px 20px;
        box-shadow: 0 0 8px #eeeeee;
    }

    .login-form .layui-form-item {
        position: relative;
    }

    .login-form .layui-form-item label {
        position: absolute;
        left: 1px;
        top: 1px;
        width: 100px;
        line-height: 20px;
        text-align: center;
        color: #565656;
    }

    .layui-form-item .layui-input-block {
        margin-left: 130px;
    }
</style>
{/block}
{block name="body"}
<div class="container justify-content-center">
    <div class="row justify-content-center">
        <div class="col col-lg-8 col-md-10 bg-white">
            <form class="layui-form layuimini-form" action="">
                <input type="hidden" name="id" value="{$userInfo.id}" />
                <div class="layui-form-item logo-title">
                    <h1>编辑账号</h1>
                </div>
                <div class="layui-tab">
                    <ul class="layui-tab-title">
                        <li class="layui-this">账户信息</li>
                        <li>客户信息</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="account">账号</label>
                                <div class="layui-input-block" id="account">
                                    <input type="text" name="username" lay-verify="required" placeholder="账号"
                                           autocomplete="off" class="layui-input" value="{$userInfo.username}" readonly>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="password">密码</label>
                                <div class="layui-input-block" id="password">
                                    <input type="password" name="password" lay-verify="required|password" placeholder="密码"
                                           autocomplete="off" class="layui-input" value="{$userInfo.password}">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="ration">座席</label>
                                <div class="layui-input-block" id="ration">
                                    <input type="number" name="ration" min="0" placeholder="0"
                                           autocomplete="off" class="layui-input" value="{$userInfo.ration}">
                                    <tip>提示：1个小号为1个座席</tip>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="limit_user">限制用户数</label>
                                <div class="layui-input-block" id="limit_user">
                                    <input type="number" name="limit_user" min="0" placeholder="0"
                                           autocomplete="off" class="layui-input" value="{$userInfo.limit_user}">
                                    <tip>提示：0 为无限制开通拨号用户</tip>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="xnumber">小号</label>
                                <div class="layui-input-block" id="xnumber">
                                    <select name="number_store_id" lay-filter="required">
                                        {foreach $numberList as $val}
                                        <option value="{$val.id}" {if $userInfo->companyXnumber->number_store_id === $val.id}selected{/if}>{$val.number}</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="rate">费率(元)</label>
                                <div class="layui-input-block" id="rate">
                                    <input type="number" name="rate" min="0" placeholder="0"
                                           autocomplete="off" class="layui-input" value="{$userInfo.rate}">
                                    <tip>提示：用于计算话费，默认 0.15/分钟</tip>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="isTest">测试账号</label>
                                <div class="layui-input-block" id="isTest">
                                    <input type="checkbox" lay-skin="switch" lay-filter="testFilter" name="is_test" value="1" lay-text="是|否" {if $userInfo.is_test === '是'}checked{/if}>
                                </div>
                            </div>
                            <div class="layui-form-item {if !$userInfo->getData('is_test')}d-none{/if} test-endtime">
                                <label class="layui-form-label" for="test_endtime">结束时间</label>
                                <div class="layui-input-block" id="test_endtime">
                                    <input type="text" name="test_endtime" placeholder="1970-01-01 00:00:00"
                                           autocomplete="off" class="layui-input" value="{$userInfo.test_endtime}" id="testEndTime">
                                </div>
                                <div class="layui-input-block">
                                    <tip>超过测试时间将禁止拨号，空为无限制。</tip>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="status">状态</label>
                                <div class="layui-input-block" id="status">
                                    <input type="checkbox" lay-skin="switch" lay-filter="statusFilter" name="status" value="1" lay-text="启用|禁止" {if $userInfo.status === '正常'}checked{/if}>
                                </div>
                                <div class="layui-input-block">
                                    <tip>禁止后，该账号下的所有拨号账号将无法正常使用。</tip>
                                </div>
                            </div>

                        </div>
                        <div class="layui-tab-item">
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="corporation">公司名称</label>
                                <div class="layui-input-block" id="corporation">
                                    <input type="text" name="corporation" lay-verify="required" placeholder="公司名称"
                                           autocomplete="off" class="layui-input" value="{$userInfo.corporation}" readonly>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="phone">联系电话</label>
                                <div class="layui-input-block" id="phone">
                                    <input type="text" name="phone" lay-verify="required|phone" placeholder="联系电话"
                                           autocomplete="off" class="layui-input" value="{$userInfo.phone}">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="address">联系地址</label>
                                <div class="layui-input-block" id="address">
                                    <input type="text" name="address" lay-verify="" placeholder="联系地址"
                                           autocomplete="off" class="layui-input" value="{$userInfo.address}">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="contractDatetime">合同时间</label>
                                <div class="layui-input-block" id="contractDatetime">
                                    <div class="layui-input-inline">
                                        <input type="text" name="contract_start_datetime" value="{$userInfo.contract_start_datetime}" autocomplete="off" id="startDate" class="layui-input" placeholder="开始日期">
                                    </div>
                                    <div class="layui-form-mid">-</div>
                                    <div class="layui-input-inline">
                                        <input type="text" name="contract_end_datetime" value="{$userInfo.contract_end_datetime}" autocomplete="off" id="endDate" class="layui-input" placeholder="结束日期">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" for="newsImg">合同</label>
                                <div class="layui-input-block layui-upload">
                                    <button type="button" class="layui-btn" id="newsImg">上传</button>
                                    <div class="layui-upload-list" id="newsImgBox">

                                    </div>
                                    <input name="contract_attachment" type="hidden" value="{$userInfo.contract_attachment}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <button class="layui-btn layui-btn layui-btn-normal layui-btn-fluid" lay-submit=""
                            lay-filter="edit">保 存
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{/block}

{block name="js"}
<script>
    layui.use(['jquery', 'form', 'laydate','upload'], function () {
        let $ = layui.jquery,
            form = layui.form,
            upload = layui.upload,
            laydate = layui.laydate;
        let b = [];
        let contract_attachment = "{$userInfo.contract_attachment}";
        //上传图片
        let uploadInst = upload.render({
            elem: '#newsImg',
            url: '{:url("/news/upload")}' ,
            multiple: true,
            accept: 'images', //只允许上传图片
            before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#newsImgBox').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img" style="max-height: 200px; width: auto;">')
                });
            },
            done: function (res) {
                let icon = 0;
                if (res.code === 1) {
                    let a = res['data']['savePath']
                    b.push(a)
                    icon = 1;
                    $('input[name="contract_attachment"]').val(b);
                }

                return layer.msg(res.msg, {icon: icon, time: 3000})
            },
            error: function () {
                //演示失败状态，并实现重传
                let demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            },
        });
        //
        let frameIndex = parent.layer.getFrameIndex(window.name);

        let getDateTime = function (param = {}) {
            let defaultParam = {
                year: 0,
                month: 0,
                day: 0,
                hour: 0,
                minute: 0,
                second: 0
            };
            param = Object.assign(defaultParam, param)
            let d = new Date();
            let year = d.getFullYear() + param.year,
                month = d.getMonth() + 1 + param.month,
                day = d.getDate() + param.day,
                hour = d.getHours() + param.hour,
                minute = d.getMinutes() + param.minute,
                second = d.getSeconds() + param.second;

            if (month < 10) {
                month = '0' + month;
            }

            if (day < 10) {
                day = '0' + day;
            }

            if (hour < 10) {
                hour = '0' + hour;
            }

            if (minute < 10) {
                minute = '0' + minute;
            }

            if (second < 10) {
                second = '0' + second;
            }

            return year + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
        }

        // 时间限制为现在
        let minDate = getDateTime();
        laydate.render({
            elem: '#testEndTime',
            type: 'datetime',
            min: minDate,
            value: getDateTime({ day: 1 }),
        })
        laydate.render({
            elem: '#contractDatetime',
            range: ['#startDate', '#endDate'],
            type: 'datetime',
            // done: function (value) {
            //     let d = value.split(' - ')
            //     let params = Object.assign({}, form.val('searchForm'), { startDate: d[0], endDate: d[1] ? d[1] : '' })
            //     reloadTable(params)
            // }
        })
        form.on('switch(testFilter)', function (obj) {
            let endtimeItem = $('.test-endtime')
            obj.elem.checked ? endtimeItem.removeClass('d-none') : endtimeItem.addClass('d-none')
        })

        // 进行登录操作
        form.on('submit(edit)', function (data) {
            let params = data.field, option = { icon: 5 };
            // console.log(params);
            // return false
            if (params.account === '') {
                layer.msg('账号不能为空', option);
                return false;
            }

            if (params.password === '') {
                layer.msg('密码不能为空', option);
                return false;
            }

            if (params.rate < 0) {
                layer.msg('费率不能为小数', option);
                return false;
            }

            if (params.ration < 0) {
                layer.msg('座席不能为小数', option);
                return false;
            }

            if (params.corporation === '') {
                layer.msg('公司名称不能为空', option);
                return false;
            }

            if (params.is_test === '1' && params.test_endtime === '') {
                layer.msg('结束时间不能为空', option)
                return false
            }

            $.post('{:url("/user/edit")}', params, function (res) {
                if (res.code === 1) {
                    option.icon = 6;
                    option.time = 2500;
                    layer.msg(res.msg, option, function () {
                        parent.layer.close(frameIndex);
                        parent.layui.table.reload('userTable');
                    });
                } else {
                    layer.msg(res.msg, option);
                }
            });

            return false;
        });

    });
</script>

{/block}
