<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" style="width: 600px;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">编辑</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="">
            <form class="" action="" name="formEditor">
                <input name="id" value="" type="hidden"/>
                <div class="mb-3">
                    <h5 class="text-black-50 text-center">账号信息</h5>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="call_type_id">呼叫线路</label>
                    <select name="call_type_id" id="call_type_id" class="form-select" required>
                        {foreach $callTypeList as $key => $val}
                        <option value="{$val.id}">{$val.title}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="account">账号<span class="text-warning px-1">*</span></label>
                    <input type="text" name="username" id="account" placeholder="账号"
                           autocomplete="off" class="form-control" value="" required>
                    <div class="form-text">提示：此昵称作为登录账号使用，创建后暂不支持更改</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">密码<span class="text-warning px-1">*</span></label>
                    <input type="password" name="password" id="password"
                           placeholder="密码"
                           autocomplete="off" class="form-control" value="" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="ration">座席</label>
                    <input type="number" name="ration" min="0" placeholder="1"
                           autocomplete="off" class="form-control" value="1">
                    <div class="form-text">提示：1个小号为1个座席，默认 1</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="limit_user">限制用户数</label>
                    <input type="number" name="limit_user" id="limit_user" min="0" placeholder="0"
                           autocomplete="off" class="form-control" value="">
                    <div class="form-text">提示：0 为无限制开通拨号用户</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="xnumber">小号</label>
                    <select name="number_store_id" id="xnumber" class="form-select">
                        {foreach $numberList as $val}
                        <option value="{$val.id}">{$val.number}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="rate">费率(元)</label>
                    <input type="text" name="rate" id="rate" placeholder="0"
                           autocomplete="off" class="form-control" value="0.15">
                    <div class="form-text">提示：用于计算话费，默认 0.15/分钟</div>
                </div>
                <div class="mb-3 form-check form-switch">
                    <input type="checkbox" class="form-check-input" id="talent_on" name="talent_on"
                           value="1">
                    <label class="form-check-label" for="talent_on">人才管理</label>
                    <div class="form-text">
                        开启人才管理
                    </div>
                </div>
                <div class="mb-3 form-check form-switch">
                    <input type="checkbox" class="form-check-input" id="recycle_on" name="recycle_on"
                           value="1">
                    <label class="form-check-label" for="recycle_on">回收站</label>
                    <div class="form-text">
                        开启客户、人才管理回收功能
                    </div>
                </div>
                <div class="mb-3 form-check form-switch">
                    <input type="checkbox" class="form-check-input" id="isTest" name="is_test"
                           value="1">
                    <label class="form-check-label" for="isTest">测试账号</label>
                    <div class="form-text">
                        设为测试账号
                    </div>
                </div>
                <div class="mb-3 d-none test-endtime">
                    <label class="form-label" for="test_endtime">结束时间</label>
                    <input type="text" name="test_endtime" placeholder="1970-01-01 00:00:00"
                           autocomplete="off" class="form-control" value="" id="testEndTime">
                    <div class="form-text">超过测试时间将禁止拨号，空为无限制。</div>
                </div>
                <div class="mb-5 form-check form-switch">
                    <label class="form-check-label" for="status1">状态</label>
                    <input type="checkbox" id="status1" class="form-check-input" name="status"
                           value="1" checked>
                    <div class="form-text">禁止后，该账号下的所有拨号账号将无法正常使用。</div>
                </div>
                <div class="my-3">
                    <h5 class="text-black-50 text-center">客户信息</h5>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="corporation">公司名称</label>
                    <input type="text" name="corporation" id="corporation" placeholder="公司名称"
                           autocomplete="off" class="form-control" value="" required>
                    <div class="form-text">添加后不能更改，请慎重填写。</div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="realname">法 人</label>
                    <input type="text" name="realname" id="realname" placeholder="法人" autocomplete="off"
                           class="form-control" value="">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="phone">联系电话</label>
                    <input type="text" name="phone" id="phone" placeholder="联系电话"
                           autocomplete="off" class="form-control" value="">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="address">联系地址</label>
                    <input type="text" name="address" id="address" placeholder="联系地址"
                           autocomplete="off" class="form-control" value="">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="contractDatetime">合同时间</label>
                    <div class="row" id="contractDatetime">
                        <div class="col">
                            <input type="text" name="contract_start_datetime" value="" autocomplete="off" id="startDate"
                                   class="form-control" placeholder="开始日期">
                        </div>
                        <div class="col-1 align-content-center">-</div>
                        <div class="col">
                            <input type="text" name="contract_end_datetime" value="" autocomplete="off" id="endDate"
                                   class="form-control" placeholder="结束日期">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="newsImg">合同</label>
                    <div class="input-group mb-3" id="newsImg">
                        <span class="input-group-text">点击上传</span>
                        <input name="contract_attachment" class="form-control" type="text" value="" readonly/>
                    </div>
                    <div class="layui-upload-list" id="newsImgBox"></div>
                </div>

                <div class="mb-3 d-grid">
                    <button class="btn btn-primary" type="submit">保 存</button>
                </div>
            </form>
        </div>
    </div>
</div>

