{extend name="../common/public/base" /}
{block name="css"}
{include file="../common/public/bootstrap" /}
{/block}
{block name="body"}
<div class="container-fluid bg-white rounded-3 py-2">
    <div class="row">
        <div class="col pt-2">
            <form class="layui-form layui-form-pane" lay-filter="searchForm" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">筛选</label>
                    <div class="layui-input-block m-0">
                        <input type="radio" name="like" value="all" title="全部" checked="">
                        <input type="radio" name="like" value="probation" title="试用期">
                        <input type="radio" name="like" value="using" title="使用中">
                        <input type="radio" name="like" value="spot" title="即将到期">
                        <input type="radio" name="like" value="expire" title="已无效">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">账号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="username" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">公司名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="corporation" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">用户状态</label>
                        <div class="layui-input-inline">
                            <select name="status" lay-filter="userStatusFilter">
                                {foreach $statusList as $key => $val}
                                <option value="{$key}">{$val}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">是否试用</label>
                        <div class="layui-input-inline">
                            <select name="is_test" lay-filter="tryUserFilter">
                                {foreach $isTestList as $key => $val}
                                <option value="{$key}">{$val}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button type="submit" class="layui-btn layui-btn-normal" lay-submit
                                lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                        </button>
                    </div>
                    <div class="layui-inline">
                        <button type="reset" class="layui-btn layui-btn-primary"><i class="fa fa-refresh"></i> 重 置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <script type="text/html" id="toolbarDemo">
                <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"><i
                        class="fa fa-plus"></i> 开通账号
                </button>
                <span class="ms-3 text-secondary">注：点击'已开通用户'列可查看用户列表内容</span>
            </script>
            <table class="layui-table" id="currentTableId" lay-filter="currentTableFilter" lay-even lay-data="">
                <thead>
                <tr>
                    <th lay-data="{field: 'id', title: '编号', width: 100, fixed: 'left'}"></th>
                    <th lay-data="{field: 'username', title: '账号', fixed: 'left', width: 200,}"></th>
                    <th lay-data="{field: 'corporation', title: '公司名称', width: 200,}"></th>
                    <th lay-data="{field: 'ration', title: '座席', align: 'center', edit: 'text', width: 80}"></th>
                    <th lay-data="{field: 'limit_user', title: '限制用户数量', align: 'center', edit: 'text', sort: true, width: 130}"></th>
                    <th lay-data="{field: 'user_count', title: '已开通用户', align: 'center', sort: true, event: 'checkUserList', width: 130, style: 'cursor: pointer;', templet: '#hasUser'}"></th>
                    <th lay-data="{field: 'call_type_text', title: '呼叫线路', align: 'center', width: 150,}"></th>
                    <th lay-data="{field: 'rate', title: '费率(￥/元)', align: 'center', edit: 'text', sort: true, width: 120}"></th>
                    <th lay-data="{field: 'balance', title: '余额(￥/元)', align: 'center', sort: true, templet: '#balance', width: 120}"></th>
                    <th lay-data="{field: 'deposit', title: '充值', align: 'center', sort: true, width: 150}"></th>
                    <th lay-data="{field: 'expense', title: '总消费', align: 'center', sort: true, width: 150}"></th>
                    <th lay-data="{field: 'logintime', title: '最后登录', align: 'center', width: 180}"></th>
                    <th lay-data="{field: 'is_test', title: '试用', align: 'center', width: 120}"></th>
                    <th lay-data="{field: 'test_endtime', title: '到期日期', align: 'center', width: 180}"></th>
                    <th lay-data="{field: 'status', title: '状态', align: 'center', templet: '#status', width: 100}"></th>
                    <th lay-data="{title: '操作', width: 150, toolbar: '#currentTableBar', align: 'center', fixed: 'right'}"></th>
                </tr>
                </thead>
            </table>
            <script type="text/html" id="balance">
                {{# if (d.balance < 0) { }}
                <div class="layui-bg-red">{{d.balance}}</div>
                {{# } else { }}
                {{d.balance}}
                {{# } }}
            </script>
            <script type="text/html" id="hasUser">
                <span class="text-primary" title="点击查看用户列表">{{d.user_count}}</span>
            </script>
            <script type="text/html" id="status">
                {{# if(d.status === '正常') { }}
                <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="正常|禁止" lay-filter="statusFilter" checked>
                {{# } else { }}
                <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="正常|禁止" lay-filter="statusFilter">
                {{# } }}
            </script>
            <script type="text/html" id="currentTableBar">
                <a class="layui-btn layui-btn-xs data-count-edit" data-id="{{ d.id }}" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" title="编辑">
                    <i class="fa fa-user-edit"></i>
                </a>
                <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete" title="删除">
                    <i class="fa fa-trash-can"></i>
                </a>
            </script>

        </div>
    </div>
</div>
{include file="user/edit" /}
{/block}

{block name="js"}
<script src="__STATIC__/js/admin/user.js"></script>

{/block}
