{extend name="../common/public/base" /}
{block name="css"}
{include file="../common/public/bootstrap" /}
{/block}
{block name="body"}
<div class="container-fluid">
    <div class="row mb-3 shadow-sm bg-white rounded">
        <div class="col pt-3">
            <form class="layui-form layui-form-pane" lay-filter="searchForm" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">筛选</label>
                    <div class="layui-input-block m-0">
                        <input type="radio" name="like" value="all" title="全部" checked="">
                        <input type="radio" name="like" value="probation" title="试用期">
                        <input type="radio" name="like" value="using" title="使用中">
                        <input type="radio" name="like" value="spot" title="即将到期">
                        <input type="radio" name="like" value="expire" title="已无效">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">账号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="username" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">公司名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="corporation" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">用户状态</label>
                        <div class="layui-input-inline">
                            <select name="status" lay-filter="userStatusFilter">
                                {foreach $statusList as $key => $val}
                                <option value="{$key}">{$val}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">是否试用</label>
                        <div class="layui-input-inline">
                            <select name="is_test" lay-filter="tryUserFilter">
                                {foreach $isTestList as $key => $val}
                                <option value="{$key}">{$val}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button type="submit" class="layui-btn layui-btn-normal" lay-submit
                                lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                        </button>
                    </div>
                    <div class="layui-inline">
                        <button type="reset" class="layui-btn layui-btn-primary"><i class="fa fa-refresh"></i> 重 置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="layuimini-container">
    <div class="layuimini-main">
        <script type="text/html" id="toolbarDemo">
            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add"><i
                    class="fa fa-plus"></i> 开通账号
            </button>
            <span class="ms-3 text-secondary">注：点击'已开通用户'列可查看用户列表内容</span>
        </script>
        <table class="layui-table" id="currentTableId" lay-filter="currentTableFilter" lay-even lay-data="">
            <thead>
            <tr>
                <th lay-data="{field: 'id', title: '编号', width: 100, fixed: 'left'}"></th>
                <th lay-data="{field: 'username', title: '账号', fixed: 'left'}"></th>
                <th lay-data="{field: 'ration', title: '座席', align: 'center', edit: 'text'}"></th>
                <th lay-data="{field: 'limit_user', title: '限制用户数量', align: 'center', edit: 'text', sort: true}"></th>
                <th lay-data="{field: 'user_count', title: '已开通用户', align: 'center', sort: true, event: 'checkUserList', style: 'cursor: pointer;', templet: '#hasUser'}"></th>
                <th lay-data="{field: 'call_type', title: '呼叫线路', align: 'center', templet: '#callType'}"></th>
                <th lay-data="{field: 'rate', title: '费率(￥/元)', align: 'center', edit: 'text', sort: true}"></th>
                <th lay-data="{field: 'balance', title: '余额(￥/元)', align: 'center', sort: true, templet: '#balance'}"></th>
                <th lay-data="{field: 'payment_sum', title: '充值', align: 'center', sort: true}"></th>
                <th lay-data="{field: 'expense', title: '总消费', align: 'center', sort: true}"></th>
                <th lay-data="{field: 'logintime', title: '最后登录', align: 'center', width: 180}"></th>
                <th lay-data="{field: 'is_test', title: '试用', align: 'center'}"></th>
                <th lay-data="{field: 'test_endtime', title: '到期日期', align: 'center', width: 180}"></th>
                <th lay-data="{field: 'status', title: '状态', align: 'center', templet: '#status'}"></th>
                <th lay-data="{title: '操作', width: 150, toolbar: '#currentTableBar', align: 'center', fixed: 'right'}"></th>
            </tr>
            </thead>
        </table>
        <script type="text/html" id="balance">
            {{# if (d.balance < 0) { }}
                <div class="layui-bg-red">{{d.balance}}</div>
            {{# } else { }}
            {{d.balance}}
            {{# } }}
        </script>
        <script type="text/html" id="hasUser">
            <span class="text-primary" title="点击查看用户列表">{{d.user_count}}</span>
        </script>
        <script type="text/html" id="callType">
            {{# if(d.call_type === 'axb') { }}
            AXB线路
            {{# } else if (d.call_type === 'callback') { }}
            网通回拨
            {{# } else if (d.call_type === 'DxCallBack') { }}
            电信回拨
            {{# } }}
        </script>
        <script type="text/html" id="status">
            {{# if(d.status === '正常') { }}
            <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="正常|禁止" lay-filter="statusFilter" checked>
            {{# } else { }}
            <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="正常|禁止" lay-filter="statusFilter">
            {{# } }}
        </script>
        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit" title="编辑">
                <i class="fa fa-user-edit"></i>
            </a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete" title="删除">
                <i class="fa fa-trash-can"></i>
            </a>
        </script>

    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['jquery', 'form', 'table'], function () {
        let $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.init('currentTableFilter', {
            url: '{:url("/user/getUserList")}',
            id: 'userTable',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            //异步请求，格式化数据
            parseData: function (res) {
                return {
                    'code': 0,
                    'msg': '',
                    'data': res.rows,
                    'count': res.total
                }
            },
            page: {
                limits: [15, 30, 45, 60],
                limit: 15,
            },
            skin: 'line',
            even: true,
        })

        let reloadTable = function (params = {}) {
            //执行搜索重载
            table.reload('userTable', {
                page: {
                    curr: 1
                },
                where: params
            }, false);
        }
        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            reloadTable(data.field)

            return false
        });
        form.on('select(tryUserFilter)', function (data) {
            let params = [];
            params[data.elem.name] = data.value
            params = Object.assign({}, form.val('searchForm'), params)
            reloadTable(params)
        })
        form.on('select(userStatusFilter)', function (data) {
            let params = [];
            params[data.elem.name] = data.value
            params = Object.assign({}, form.val('searchForm'), params)
            reloadTable(params);
        })
        $('button[type="reset"]').on('click', function () {
            reloadTable({})
        })

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                let index = layer.open({
                    title: '开通账号',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '{:url("/user/add")}',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                let checkStatus = table.checkStatus('currentTableId'),
                    data = checkStatus.data;
                console.log(data);
                if (data === '' || data === 'undefind') {
                    layer.msg('请勾选需要删除的数据');
                    return false;
                } else {
                    let ids = [], url = '';
                    $(data).each(function (i) {
                        ids.push(data[i].id);
                    });
                    console.log(ids);
                    $.post(url, ids, function () {
                        //todo
                    });
                }
            }
        });

        let updateUserField = function (param) {
            $.post('{:url("/User/updateUser")}', param, function (res) {
                let option = {icon: 0};
                if (res.code === 1) {
                    option.icon = 1
                }

                layer.msg(res.msg, option)
            })
        }
        form.on('switch(statusFilter)', function (obj) {
            let status = obj.elem.checked ? 1 : 0;
            let params = {id: obj.value, status: status};
            if (!status) {
                parent.layer.confirm('禁止后，该账号下的所有拨号账号将无法正常使用', {icon: 3, title: '提示'}, function (index) {
                    updateUserField(params)
                    parent.layer.close(index)
                })
            } else {
                updateUserField(params)
            }
        })

        // 单元格编辑
        table.on('edit(currentTableFilter)', function (obj) {
            $.post('{:url("/User/edit")}', obj.data, function (res) {
                let option = {icon: 0};
                if (res.code === 1) {
                    option.icon = 1
                }

                layer.msg(res.msg, option)
            })
        });

        table.on('tool(currentTableFilter)', function (obj) {
            switch (obj.event) {
                case 'edit':
                    let index = layer.open({
                        title: '编辑账号',
                        type: 2,
                        shade: 0.2,
                        shadeClose: true,
                        anim: 2,
                        area: ['100%', '100%'],
                        content: '{:url("/user/edit")}?id=' + obj.data.id,
                    });
                    $(window).on("resize", function () {
                        layer.full(index);
                    });
                    break;
                case 'checkUserList':
                    layer.open({
                        title: '用户列表',
                        type: 2,
                        shade: 0.2,
                        shadeClose: true,
                        anim: 2,
                        area: ['100%', '100%'],
                        content: '{:url("/user/subUserList")}?id=' + obj.data.id,
                    });
                    break;
                case 'delete':
                    layer.confirm('删除账号后，其账号下所有关联账号将全部删除', function (index) {
                        $.post("{:url('/User/del')}", {id: obj.data.id}, function (res) {
                            layer.close(index);
                            let option = {icon: 0};
                            if (res.code === 1) {
                                option.icon = 1
                                obj.del();
                            }

                            layer.msg(res.msg, option)
                        })
                    });
                    break;
            }
        });


    });
</script>

{/block}
