{extend name="public/base" /}
{block name="css"}
    {include file="public/bootstrap" /}
{/block}
{block name="body"}
<div class="container-fluid">
    <div class="row bg-white mb-3 rounded-3 shadow-sm">
        <div class="col pt-3">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label">账号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="username" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">手机号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="phone" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <button type="submit" class="layui-btn layui-btn-normal"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                    </div>
                    <div class="layui-inline">
                        <button type="reset" class="layui-btn layui-btn-primary"><i class="fa fa-refresh"></i> 重 置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="layuimini-container">
    <div class="layuimini-main">
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">

                <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add"><i class="fa fa-plus"></i> 添加</button>
<!--                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>-->
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter" lay-even></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit" title="编辑"><i class="fa fa-user-edit"></i></a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete" title="删除"><i class="fa fa-trash-can"></i> </a>
        </script>

    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['form', 'table'], function () {
        let $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '{:url("/user/getSubUserList", ["company_id" => $company_id])}',
            id: 'userTable',
            toolbar: true,
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            //异步请求，格式化数据
            parseData: function (res) {
                return {
                    'code': 0,
                    'msg': '',
                    'data': res.rows,
                    'count': res.total
                }
            },
            cols: [[
                {type: "checkbox", width: 50},
                {field: 'username', title: '账号'},
                {field: 'phone', title: '手机号', align: "center"},
                {field: 'number', title: '小号', align: "center",},
                {field: 'call_history_count', title: '呼叫总数', align: "center", sort: true },
                {field: 'expense_sum', title: '总消费', align: "center", sort: true },
                {field: 'logintime', title: '登录时间', align: "center"},
                // {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ]],
            page: {
                limits: [10, 20, 30, 40],
                limit: 10,
            },
            skin: 'line',
            even: true,
        });

        let search = function (params) {
            table.reload('userTable', {
                page: {
                    curr: 1
                },
                where: params
            })
        }

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            if (data.field.username === "" && data.field.phone === "") {
                layer.msg('搜索内容不能为空', { icon: 0 })
                return false
            }
            search(data.field);
            return false;
        });

        $('button[type="reset"]').on('click', function () {
            search({})
        })

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                $.post('{:url("/User/checkLimitUser")}', {}, function (res) {
                    if (res.code === 1) {
                        let index = layer.open({
                            title: '开通账号',
                            type: 2,
                            shade: 0.2,
                            maxmin: true,
                            shadeClose: true,
                            anim: 2,
                            area: ['100%', '100%'],
                            content: '{:url("/user/add")}',
                        });
                        $(window).on("resize", function () {
                            layer.full(index);
                        });
                    } else {
                        layer.msg(res.msg, { icon: 0 })
                    }
                })
            } else if (obj.event === 'delete') {  // 监听删除操作
                let checkStatus = table.checkStatus('currentTableId'),
                    data = checkStatus.data;
                    if(data == '' || data == 'undefind'){
                        layer.msg('请勾选需要删除的数据');
                        return false;
                    }else{
                        let ids=[],url='';
                        $(data).each(function (i) {
                            ids.push(data[i].id);
                        });
                        console.log(ids);
                        $.post(url,ids,function () {
                            //todo
                        });
                    }
            }
        });

        //监听表格复选框选择
        // table.on('checkbox(currentTableFilter)', function (obj) {
        //     console.log('pi',obj)
        // });

        table.on('tool(currentTableFilter)', function (obj) {
            if (obj.event === 'edit') {
                let index = layer.open({
                    title: '编辑账号',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '{:url("/user/edit")}?id=' + obj.data.id,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                let id = obj.data.id;
                layer.confirm('真的删除行么？删除后不可恢复', function (index) {
                    $.post('{:url("/User/del")}', { id: id }, function (res) {
                        let icon = 0;
                        if (res.code === 1) {
                            icon = 1
                            obj.del()
                        }

                        layer.msg(res.msg, { icon: icon }, function () {
                            layer.closeAll();
                        })
                    })

                });
            }
        });


    });
</script>

{/block}
