{extend name="../common/public/base" /}
{block name="css"}
    {include file="../common/public/bootstrap" /}
{/block}
{block name="body"}
<div class="container-fluid bg-white rounded-3 py-2">
    <div class="row">
        <div class="col pt-2">
            <form class="layui-form layui-form-pane" name="searchForm">
                <div class="layui-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label">关键词</label>
                        <div class="layui-input-inline">
                            <select name="operate" lay-filter="filterOperate">
                                <option value="username">账号</option>
                                <option value="phone">手机号</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="keyword" class="layui-input" value="" placeholder="关键词">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <button type="submit" class="layui-btn layui-btn-normal"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                    </div>
                    <div class="layui-inline">
                        <button type="reset" class="layui-btn layui-btn-primary"><i class="fa fa-refresh"></i> 重 置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="layui-table" id="currentTableId" lay-filter="currentTableFilter" lay-even lay-data="">
                <thead>
                <tr>
                    <th lay-data="{field: 'id', title: 'ID'}"></th>
                    <th lay-data="{field: 'username', title: '账号'}"></th>
                    <th lay-data="{field: 'phone', title: '手机号', align: 'center'}"></th>
                    <th lay-data="{field: 'number', title: '小号', align: 'center',}"></th>
                    <th lay-data="{field: 'call_history_count', title: '呼叫总数', align: 'center', sort: true }"></th>
                    <th lay-data="{field: 'expense_sum', title: '总消费', align: 'center', sort: true }"></th>
                    <th lay-data="{title: '操作', minWidth: 100, toolbar: '#currentTableBar', align: 'center'}"></th>
                </tr>
                </thead>
            </table>

            <script type="text/html" id="currentTableBar">
                <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete" title="删除"><i class="fa fa-trash-can"></i> </a>
            </script>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    const company_id = {$company_id};
</script>
<script src="__STATIC__/js/admin/sub_user_list.js?v={:time()}"></script>

{/block}
