{extend name="public/base" /}
{block name="css"}
{include file="public/bootstrap" /}
{/block}
{block name="body"}
<div class="container-fluid bg-white rounded-3 py-2">
    <div class="row justify-content-center">
        <div class="col-12">
            <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
            <script type="text/html" id="barDemo">
                <div class="layui-btn layui-btn-xs" lay-event="del">删除备忘录</div>
            </script>
            <script type="text/html" id="currentTableBar">
                <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add"><i class="fa fa-plus"></i> 添加</button>
            </script>
        </div>

    </div>
</div>

{/block}
{block name="js"}
<script src="__STATIC__/lib/layui_exts/excel.js"></script>
<script>
    layui.use(['layer', 'miniTab', 'element', 'excel', 'upload', 'table'], function () {
        let $ = layui.jquery,
            layer = layui.layer,
            miniTab = layui.miniTab,
            element = layui.element,
            excel = layui.excel,
            table = layui.table,
            upload = layui.upload;

        miniTab.listen();
        // 客户列表
        table.render({
            elem: '#currentTableId',
            id: 'historyTable',
            url: '{:url("/CustomerRecord/getCustomerRecordList")}',
            method: 'post',
            where: {
                customer_id: '{$customerId}'
            },
            toolbar: '#currentTableBar',
            // height: 680,
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            //异步请求，格式化数据
            parseData: function (res) {
                return {
                    'code': 0,
                    'msg': '',
                    'data': res.data,
                    'count': res.total
                }
            },
            cols: [[
                {field: 'content', title: '记录内容'},
                {field: 'create_at', title: '记录时间', align: "center"}
            ]],
            page: {
                limits: [15, 30, 45, 60],
                limit: 15,
            },
            skin: 'line'
        });
        table.on('tool(currentTableFilter)', function (obj) {
            let delId = obj.data.id;
            if (obj.event === 'del') {
                let index = layer.open({
                    title: '备忘列表',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: './sub/tableList.html',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            }
        });
    });
</script>

{/block}
