{extend name="public/base" /}
{block name="css"}
{include file="public/bootstrap" /}
{/block}
{block name="body"}
<div class="container-fluid">
    <div class="row mb-3 shadow-sm bg-white rounded">
        <div class="col pt-3">
            <form class="layui-form layui-form-pane" lay-fileter="searchForm" action="">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">客户名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="title" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">联系电话</label>
                        <div class="layui-input-inline">
                            <input type="text" name="phone" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <button type="submit" class="layui-btn layui-btn-normal"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                    </div>
                    <div class="layui-inline">
                        <button type="reset" class="layui-btn layui-btn-primary"><i class="fa fa-refresh"></i> 重 置</button>
                    </div>
                </div>
            </form>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 100px;">客户分类：</label>
                <div class="layui-inline">
                    <div class="layui-btn-group">
                        {foreach $cateList as $key => $val}
                        <button type="button" class="layui-btn layui-btn-sm customer-cate {if $key === -1}layui-btn-checked{else /}layui-btn-primary{/if}" data-cate="{$key}">{$val}</button>
                        {/foreach}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-white rounded-3 py-2">
    <div class="row justify-content-center">
        <div class="col-12">
            <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
            <script type="text/html" id="barDemo">
                <button type="button" class="layui-btn layui-btn-xs layui-btn-normal" lay-event="makeCall" title="点击拨号"><i class="fa fa-phone"></i></button>
                <button type="button" class="layui-btn layui-btn-xs" lay-event="edit" title="编辑"><i class="fa fa-user-edit"></i></button>
                <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del" title="删除"><i class="fa fa-trash-can"></i></button>
            </script>

            <button type="button" class="layui-btn layui-btn-sm data-count-edit layui-btn-normal d-none" id="importExcel">导入客户</button>
            <script type="text/html" id="currentTableBar">
                <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add"><i class="fa fa-plus"></i> 添加客户</button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="importExcel"><i class="fa fa-file-import"></i> 导入客户</button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-info" lay-event="info"><i class="fa fa-info"></i> 导入说明</button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" lay-event="changeCate"><i class="fa fa-up-down-left-right"></i> 移动分类</button>
                <span class="ms-3 text-secondary">注：点击'回访记录'列可查看详细内容</span>
            </script>
        </div>

    </div>
</div>

{/block}
{block name="js"}
<script src="__STATIC__/lib/layui_exts/excel.js"></script>
<script>
    layui.use(['layer', 'miniTab', 'element', 'excel', 'upload', 'table', 'form'], function () {
        let $ = layui.jquery,
            layer = layui.layer,
            miniTab = layui.miniTab,
            element = layui.element,
            excel = layui.excel,
            table = layui.table,
            upload = layui.upload,
            form = layui.form;

        miniTab.listen();
        let option = { icon: 0 }
        // 客户列表
        table.render({
            elem: '#currentTableId',
            id: 'customerTable',
            url: '{:url("/customer/getCustomerList")}',
            method: 'post',
            toolbar: '#currentTableBar',
            // height: 680,
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            //异步请求，格式化数据
            parseData: function (res) {
                return {
                    'code': 0,
                    'msg': '',
                    'data': res.data,
                    'count': res.total
                }
            },
            cols: [[
                {type: 'checkbox', fixed: 'left' },
                {field: 'id', title: '编号', align: "center", width: 150},
                {field: 'title', title: '客户名称', align: "center"},
                {field: 'phone', title: '联系电话', align: "center", style: 'cursor: pointer;', templet: function(row){
                    let hidePhone = row.phone.replace(row.phone.substring(3, 7), '****')
                    return '<span class="hide-phone d-inline">' + hidePhone + '</span><span class="show-phone d-none">' + row.phone + '</span> <i class="fa-regular fa-eye phone-icon" title="点击查看"></i>';
                    }, event: 'showPhone'},
                {field: 'province', title: '所在地', align: "center"},
                {field: 'email', title: '邮箱', align: "center"},
                {field: 'cate', title: '类型', align: "center"},
                {field: 'called_count', title: '呼叫次数', align: "center", sort: true,},
                {field: 'record_count', title: '回访记录', align: "center", sort: true, event: 'showRecord', style: 'cursor: pointer; ', templet (row) {
                    return '<span class="text-primary" title="点击查看">' + row.record_count + '</span>';
                    }},
                {field: 'last_calltime', title: '最近呼叫', align: "center"},
                {field: 'createtime', title: '创建时间', align: "center"},
                {fixed: 'right', title:'操作', align: 'center', toolbar: '#barDemo'}
            ]],
            page: {
                limits: [15, 30, 45, 60],
                limit: 15,
            },
            skin: 'line'
        });

        let reloadTable = function (params = {}) {
            params = Object.assign({}, {
                cate: $('.customer-cate').filter('.layui-btn-checked').data('cate'),
            }, params)
            table.reload('customerTable', {
                where: params,
                page: {
                    curr: 1
                }
            })
        }

        let getNowTime = function () {
            let d = new Date();
            let hour = d.getHours(), minute = d.getMinutes(), second = d.getSeconds();
            if (hour < 10) {
                hour = '0' + hour
            }

            if (minute < 10) {
                minute = '0' + minute
            }

            if (second < 10) {
                second = '0' + second
            }

            return hour + ':' + minute + ':' + second;
        }

        table.on('tool(currentTableFilter)', function (obj) {
            let editId = obj.data.id;
            // 传这个Id去后台查出备忘列表，渲染
            switch (obj.event) {
                case 'showRecord':
                    let index = layer.open({
                        title: '回访记录',
                        type: 2,
                        shade: 0.2,
                        maxmin:true,
                        shadeClose: true,
                        area: ['100%', '100%'],
                        content: '{:url("/customer/customerRecordList")}?customerId=' + editId,
                    });
                    break;
                case 'makeCall':
                    makeCall({ phone: obj.data.phone, customerId: obj.data.id }, obj);
                    break;
                case 'showPhone':
                    let hide = $(this).find('.hide-phone'), show = $(this).find('.show-phone'), icon = $(this).find('.phone-icon');
                    if (hide.hasClass('d-inline')) {
                        hide.removeClass('d-inline').addClass('d-none')
                        show.removeClass('d-none').addClass('d-inline')
                        icon.removeClass('fa-eye').addClass('fa-eye-slash')
                    } else {
                        hide.removeClass('d-none').addClass('d-inline')
                        show.removeClass('d-inline').addClass('d-none')
                        icon.removeClass('fa-eye-slash').addClass('fa-eye')
                    }
                    break;
                case 'edit':
                    layer.open({
                        type: 2,
                        title: '编辑',
                        area: ['100%', '100%'],
                        content: '{:url("/customer/edit")}?customerId=' + editId
                    });
                    break;
                case 'del':
                    $.post('{:url("/customer/del")}', { id: editId }, function (res) {
                        if (res.code === 1) {
                            option.icon = 1;
                            reloadTable()
                        }

                        layer.msg(res.msg, option);
                    })
                    break;
            }
        });

        table.on('toolbar(currentTableFilter)', function (obj) {
            let checkStatus = table.checkStatus('customerTable').data;
            let ids = '';
            switch (obj.event) {
                case 'add':
                    layer.open({
                        type: 2,
                        title: '添加',
                        area: ['100%', '100%'],
                        content: '{:url("/customer/add")}'
                    });
                    break;
                case 'info':
                    layer.open({
                        type: 1,
                        title: false,
                        skin: 'layui-layer-rim',
                        area: ['420px', '300px'],
                        content: `<div class="p-3">
                           注：只能上传Excel表格，格式为:<br /> ['客户名称', '电话号码', '所在地', '邮箱']
                           <img src="__STATIC__/images/customer-example-import.png" class="pt-3" />
                        </div>`
                    });
                    break;
                case 'importExcel':
                    $('#importExcel').click();
                    break;
                case 'changeCate':
                    if (checkStatus.length <= 0) {
                        layer.msg('请选择客户', option);
                        return false;
                    }

                    let cateId = 0;
                    $.each(checkStatus, (index, item) => {
                        ids += ',' + item.id
                    })
                    layer.open({
                        type: 1,
                        title: '选择分类',
                        skin: 'layui-layer-rim',
                        area: ['420px', '500px'],
                        content: `
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <ul class="list-group">
                                            {foreach $cateList as $key => $val}
                                            {if $key >= 0}
                                            <li class="list-group-item select-cate" data-id="{$key}">{$val}</li>
                                            {/if}
                                            {/foreach}
                                        </ul>
                                    </div>
                                </div>
                                `,
                        success: function(layero, index){
                            layero.find('.select-cate').on('click', function () {
                                cateId = $(this).data('id')

                                $.post('{:url("/customer/changeCate")}', { ids: ids, cate: cateId }, function (res) {
                                    layer.close(index)
                                    if (res.code === 1) {
                                        option.icon = 1
                                        layer.close(index)
                                        table.reload('customerTable', {
                                            page: {
                                                curr: 1
                                            }
                                        })
                                    }

                                    layer.msg(res.msg, option)
                                })
                            })
                        }
                    });
                    break;
            }
        })

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            reloadTable(data.field)

            return false
        });

        $('button[type="reset"]').on('click', function () {
            reloadTable({})
        })

        let makeCall = function (params = { phone: '', customerId: 0 }, obj = null) {
            $.post('{:url("/hbcall/makeCall")}', { mobile: params.phone, customerId: params.customerId }, function (res) {
                if (res.code === 1000) {
                    // 更新客户拨号记录
                    $.post('{:url("/HbCall/updateCustomerCalledCount")}', { phone: params.phone, customerId: params.customerId }, function (r) {
                    })

                    obj.update({
                        last_calltime: getNowTime(),
                        called_count: obj.data.called_count + 1
                    })

                    let con = `
                            <div style="padding: 50px; line-height: 30px; font-weight: 300;">
                                <p>请在<span class="fs-3 clock px-2">10</span>秒内用手机拨打号码：<h3>${res.data.xNumber}</h3> 进行通话。</p>
                            </div>
                        `;
                    layer.config({
                        extend: 'skin/blue.css',
                    }).open({
                        type: 1,
                        title: '拨号成功！',
                        closeBtn: 2,
                        area: '400px;',
                        shade: 0.8,
                        id: 'LAY_layuipro',
                        btnAlign: 'c',
                        moveType: 1,
                        skin: 'layer-ext-blue',
                        content: con,
                        success: function (layero, index) {
                            // 10秒倒计时
                            let t = 10;
                            let time = document.getElementsByClassName("clock")[0];
                            let getTime = function () {
                                t--;
                                time.innerHTML = t;
                                if (t < 0) {
                                    clearInterval(inter);
                                    // 关闭当前窗
                                    layer.close(index);
                                }
                            };

                            let inter = setInterval(getTime, 1000);
                        }
                    });
                } else {
                    let con = `
                        <div style="padding: 50px; line-height: 30px; font-weight: 300;">
                            <p>${res.msg}</p>
                        </div>
                    `;
                    layer.config({
                        extend: 'skin/red.css',
                    }).open({
                        title: res.info ?? '温馨提示',
                        type: 1,
                        area: '400px',
                        shade: 0.8,
                        id: 'LAY_layuipro',
                        btnAlign: 'c',
                        closeBtn: 2,
                        moveType: 1,
                        skin: 'layer-ext-red',
                        content: con
                    })
                }
            });
        }

        // 导入客户
        let loading = null;
        upload.render({
            elem: '#importExcel',
            url: '{:url("/hbcall/importExcel")}',
            accept: 'file', //普通文件
            exts: 'xls|excel|xlsx', //导入表格
            auto: true,  //选择文件后不自动上传
            before: function (obj) {
                loading = layer.load(); //上传loading
            },
            // 选择文件回调
            choose: function (obj) {
                // let files = obj.pushFile();
                // let fileArr = Object.values(files);// 注意这里的数据需要是数组，所以需要转换一下
                // // 用完就清理掉，避免多次选中相同文件时出现问题
                // for (let index in files) {
                //     if (files.hasOwnProperty(index)) {
                //         delete files[index];
                //     }
                // }
                // uploadExcel(fileArr); // 如果只需要最新选择的文件，可以这样写： uploadExcel([files.pop()])
            },
            done: function (res) {
                layer.close(loading);
                if (res.code === 1) {
                    option.icon = 1;
                    table.reload('customerTable', {
                        page: {
                            curr: 1
                        }
                    })
                }

                return layer.msg(res.msg, option)
            },
            error: function () {
                setTimeout(function () {
                    layer.msg("上传失败！", {
                        icon: 1
                    });
                    //关闭所有弹出层
                    layer.closeAll(); //疯狂模式，关闭所有层
                }, 1000);
            }
        });

        $('.customer-cate').on('click', function () {
            let params = Object.assign({}, form.val('searchForm'), {
                cate: $(this).data('cate')
            })
            reloadTable(params);

            $(this).removeClass('layui-btn-primary').addClass('layui-btn-checked').siblings().removeClass('layui-btn-checked').addClass('layui-btn-primary')
        })
    });
</script>

{/block}
