{extend name="public/base" /}
{block name="css"}
<link rel="stylesheet" href="__STATIC__/lib/bootstrap-5.0.0/css/bootstrap.min.css" media="all">
<link rel="stylesheet" href="__STATIC__/lib/bootstrap-5.0.0/font/bootstrap-icons.css" media="all">
{/block}
{block name="body"}
<body class="">
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="my-3 text-center fs-3">
                        <i class="fa fa-warning icon text-warning me-2"></i>呼叫中心拨号
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <blockquote class="layui-elem-quote">
                                温馨小提示
                            </blockquote>
                            <ol class="mb-5">
                                <li><span
                                        class="layui-badge-dot me-2"></span><span> 只允许拨打本公司业务电话，不允许拨打其他行业电话。</span>
                                </li>
                                <li><span class="layui-badge-dot me-2"></span> 拨号当中不允许出现：金融、地产相关高频行业。</li>
                                <li><span class="layui-badge-dot me-2"></span> 通话中不允许出现：代开发票、造假等违法字眼。</li>
                                <li><span class="layui-badge-dot me-2"></span> 不允许在通话中辱骂。</li>
                            </ol>
                            <div class="mb-3">
                                <input type="text" name="phone" value="" onkeyup="value=value.replace(/[^\d]/g,'')"
                                       class="layui-input callinginput fs-1" id="input"
                                       style="background-color: #F6F6F6;height: 90px;">
                            </div>
                            <div class=" bg-secondary">
                                <div class="row row-cols-3 gy-3 p-5 text-center">
                                    <div class="col">
                                        <span class="badge rounded-pill bg-warning lqp-btn fs-2 text-reset" data-value="1">1</span>
                                    </div>
                                    <div class="col">
                                        <span class="badge rounded-pill bg-warning lqp-btn fs-2 text-reset" data-value="2">2</span>
                                    </div>
                                    <div class="col">
                                        <span class="badge rounded-pill bg-warning lqp-btn fs-2 text-reset" data-value="3">3</span>
                                    </div>
                                    <div class="col">
                                        <span class="badge rounded-pill bg-warning lqp-btn fs-2 text-reset" data-value="4">4</span>
                                    </div>
                                    <div class="col">
                                        <span class="badge rounded-pill bg-warning lqp-btn fs-2 text-reset" data-value="5">5</span>
                                    </div>
                                    <div class="col">
                                        <span class="badge rounded-pill bg-warning lqp-btn fs-2 text-reset" data-value="6">6</span>
                                    </div>
                                    <div class="col">
                                        <span class="badge rounded-pill bg-warning lqp-btn fs-2 text-reset" data-value="7">7</span>
                                    </div>
                                    <div class="col">
                                        <span class="badge rounded-pill bg-warning lqp-btn fs-2 text-reset" data-value="8">8</span>
                                    </div>
                                    <div class="col">
                                        <span class="badge rounded-pill bg-warning lqp-btn fs-2 text-reset" data-value="9">9</span>
                                    </div>
                                    <div class="col">
                                        <span class="badge rounded-pill bg-warning lqp-btn fs-2 text-reset" data-value="*">*</span>
                                    </div>
                                    <div class="col">
                                        <span class="badge rounded-pill bg-warning lqp-btn fs-2 text-reset" data-value="0">0</span>
                                    </div>
                                    <div class="col">
                                        <span class="badge rounded-pill bg-warning lqp-btn fs-2 text-reset" data-value="#">#</span>
                                    </div>
                                    <div class="col">
                                        <span class="badge rounded-pill bg-warning lqp-btn fs-3 text-reset" data-value="#">
                                            <i class="fa fa-user"></i>
                                        </span>
                                    </div>
                                    <div class="col">
                                        <span class="badge rounded-pill bg-warning lqp-btn fs-3 text-reset" data-value="#">
                                            <i class="fa fa-phone"></i>
                                        </span>
                                    </div>
                                    <div class="col">
                                        <span class="badge rounded-pill bg-warning lqp-btn fs-3 text-reset" data-value="#">
                                            <i class="fa fa-minus"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}

<script>
    layui.use(['layer',], function () {
        var $ = layui.jquery,
            layer = layui.layer;
        // document.getElementsByClassName('callinginput').focus();
        document.getElementById("input").focus();

        let callinginput = $('.callinginput');
        //按页面
        $('.lqp-btn').on('click', function () {
            if (callinginput.val().length < 11) {//电话11位数
                callinginput.val(callinginput.val() + $(this).data('value'));//输入框值,val()里面
                // console.log(callinginput.val())
            }
        });
        // 按键盘
        $(window).on('keydown', function (e) {
            if ((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 96 && e.keyCode <= 106)) {
                if (callinginput.val().length < 11) {
                    callinginput.val(callinginput.val() + e.key);
                }

            } else if (e.keyCode === 13) {
                console.log(e)
            }
        });
        $('.lqp-empyt').on('click', function () {
            callinginput = $('.callinginput').val('');

        });
        $('.lqp-oncalling').on('click', function () {


        })
    });
</script>

{/block}
