{extend name="public/base" /}
{block name="css"}
<link rel="stylesheet" href="__STATIC__/lib/bootstrap-5.0.0/css/bootstrap.min.css" media="all">
<link rel="stylesheet" href="__STATIC__/lib/bootstrap-5.0.0/font/bootstrap-icons.css" media="all">
{/block}
{block name="body"}

<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="container-fluid" >

                    <div class="row mb-2">
                        <div class="card p-0">
                            <div class="card-header bg-body fw-bold border-bottom-0">Hi,您好汇邦！</div>
                            <div class="card-body">
                                <div class="row pb-4">
                                    <div class="col-5 border-end">
                                            <div class="row">
                                                <div class="col-3" id="lqp">
                                                    <img src="__STATIC__/images/dashuser.png" style="max-height: 80px;">
                                                </div>
                                                <div class="col-4">
                                                    <div class="mb-4">账号：<span class="fw-bold">12345678901</span></div>
                                                    <div> 手机：<span class="fw-bold">12345678901</span></div>
                                                </div>
                                                <div class="col-5">
                                                    <div class="mb-4">账号类型：<span class="fw-bold">企业</span></div>
                                                    <div>邮箱：<span class="fw-bold">448427168@qq.com</span></div>
                                                </div>
                                    </div>
                                </div>
                                    <div class="col-3 border-end row">
                                    <div class="col px-5">
                                        <div class="mb-4">当前余额/元</div>
                                        <div class="d-flex flex-row justify-content-between">
                                            <span class="" style="color:#17ca1f;">
                                                <i class="fa fa-yen-sign me-2"></i><span class="fs-2">100.00</span>
                                            </span>
                                            <span>
                                                <a href="{:url('payment/index')}" class="layui-btn layui-btn-normal text-decoration-none shadow rounded-pill">
                                                   <i class="fa fa-wallet"></i>
                                                   充值
                                               </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-4">
                                            <div class="row justify-content-center">
                                                <div class="col-6" >
                                                    <div class="d-flex flex-row align-items-end">
                                                        <img src="__STATIC__/images/22.png" style="max-height: 78px;">
                                                        <div class="ms-3">
                                                            <span class="mb-0">客服咨询</span>
                                                            <span class="fw-bold mb-0">13622850769</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class=" d-flex flex-row align-items-center">
                                                        <img src="__STATIC__/images/xiaoqiang.png" style="max-height: 78px;">
                                                        <span class="mb-0 ms-3">微信咨询</span>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                                </div>
                        </div>
                        </div>
                    </div>


            <div class="row">
                <div class="card p-0">
                    <div class="card-header bg-body ">使用情况</div>
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col">
                                <div class="card bg-primary lqp-hover" style="height: 250px;">

                                    <div class="card-body text-light  d-flex flex-column justify-content-center " style="background: url('__STATIC__/images/p.png') no-repeat center;background-size: 30%;">
                                        <p class="">今日消费/元</p>
                                        <h5 class="fw-bold "><i class="fa fa-yen-sign me-2"></i><span class="l-number">1800</span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card layui-bg-green lqp-hover" style="height: 250px;">

                                    <div class="card-body text-light  d-flex flex-column justify-content-center " style="background: url('__STATIC__/images/s.png') no-repeat center;background-size: 30%;">
                                        <p class="">本月消费/元</p>
                                        <h5 class="fw-bold"><i class="fa fa-yen-sign me-2"></i><span class="l-number">8800</span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card lqp-hover" style="background-color: #d98501; height: 250px; ">
                                    <div class="card-body text-light  d-flex flex-column justify-content-center " style="background: url('__STATIC__/images/w.png') no-repeat center;background-size: 30%;">
                                        <p class="">今年消费/元</p>
                                        <h5 class="fw-bold"><i class="fa fa-yen-sign me-2"></i><span class="l-number">4800</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}
{block name="js"}
<script src="__STATIC__/js/jquery.rotate.js"></script>

<script>
    layui.use(['layer',], function () {
        let $ = layui.jquery,
            layer = layui.layer;
        //输入框获取焦点
        $(document).ready(function () {
            $("#input").focus();
        });
      // 数字自增
        $(function(){
            $(".l-number").each(function(){
                let _this = this;
                let num = parseInt($(this).text());
                let a = 0;
                setInterval(function(){
                    if(a < num )
                    {
                        a += parseInt(num/50);
                        if(a > num)
                        {
                            $(_this).html(num);
                        }else {
                            $(_this).html(a);
                        }
                    }
                } , 50);
            })
        });
        //操作键盘
        let callinginput = $('.callinginput');
        //1
        $('.lqp-btn').on('click', function () {
            if (callinginput.val().length < 11) {
                callinginput.val(callinginput.val() + $(this).data('value'));//输入框值,val()里面
            }
        });
        //2
        $(window).on('keydown', function (e) {
            console.log(e);
            console.log(e.keyCode);
            // 大键盘||小键盘
            if ((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 96 && e.keyCode <= 106)) {
                if (callinginput.val().length < 11) {
                    // callinginput.val(callinginput.val() + e.key);
                    callinginput.val() + e.key;
                    console.log('lpp');
                    console.log(callinginput.val() + e.key);
                }

            } else if (e.keyCode === 13) {
                console.log(e)
            }
        });
        //清空输入框
        $('.lqp-empyt').on('click', function () {
            callinginput = $('.callinginput').val('');
        });
        // 拨打
        $('.lqp-oncalling').on('click', function () {
            let number = 132654289822;
            layer.open(
                {
                    title: '正在通话中...',
                    content: '请用手机拨打号码：' + number,
                },
            );
        })
    });
</script>

{/block}
