{extend name="public/base" /}
{block name="css"}
{include file="public/bootstrap" /}
<style>
    .lqp-hover:hover .card-img {
        transform: rotateY(90deg);
    }
</style>
{/block}
{block name="body"}
<div class="layuimini-container" style="margin-bottom: .75rem; ">
    <div class="layuimini-main">
        <div class="container-fluid p-4">
            <div class="row mb-2">
                <div class="col-md-5 col-sm-12 pb-4">
                    <div class="card border-0 p-0 border-end">
                        <div class="card-body py-0">
                            <p class="card-title mb-4 fw-bold"> Hi，您好<span class="text-primary">{$user.username}</span>！</p>
                            <div class="row">
                                <div class="col-3">
                                    <img src="__STATIC__/images/dashuser.png" style="max-height: 80px;">
                                </div>
                                <div class="col-4">
                                    <div class="mb-4">账号：<span class="fw-bold">{$user.username}</span></div>
                                    <div> 手机：<span class="fw-bold">***********</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 text-center my-auto">
                    <div class="card border-0 p-0 border-end">
                        <div class="card-body py-0">
                            <p class="card-title">当前余额/元</p>
                            <h5 class="card-text my-3 text-success"><i class="fa fa-yen-sign me-2"></i>{$user.balance}</h5>
                            <a href="javascript:;" layuimini-content-href="payment/index.html" data-title="充值管理"
                               class="layui-btn layui-btn-normal text-decoration-none shadow rounded-pill">
                                <i class="fa fa-wallet me-2"></i>
                                充值
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="d-flex flex-row align-items-end">
                                        <img src="__STATIC__/images/22.png" style="max-height: 78px;">
                                        <div class="ms-3">
                                            <p class="mb-0">客服咨询</p>
                                            <p class="fw-bold mb-0">13622850769</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="text-center d-flex flex-row align-items-center">
                                        <img src="__STATIC__/images/xiaoqiang.png" style="max-height: 78px;">
                                        <p class="mb-0 ms-3">微信咨询</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid bg-white rounded-3 shadow-sm mb-3">
    <div class="row mb-3 py-3 ">
        <div class="col-6 col-md-2 mb-3 mb-sm-3 mb-md-0 d-flex align-items-center justify-content-center">
            <div>
                <h4>网站概况</h4>
            </div>
        </div>
        <div class="col-6 col-md-2 mb-3 mb-sm-3 mb-md-0 border-end d-flex align-items-end justify-content-center">
            <div>
                <p class="">总消费</p>
                <h5 class="">
                    <i class="fa fa-yen-sign fs-6"></i>
                    <span class="l-number fs-2">{$total_cost}</span></h5>
            </div>
        </div>
        <div class="col-6 col-md-2 mb-3 mb-sm-3 mb-md-0 border-end d-flex align-items-end justify-content-center">
            <div class="">
                <p class="">今日支出</p>
                <h5 class="">
                    <i class="fa fa-yen-sign fs-6"></i>
                    <span class="l-number fs-2">{$current_day_cost}</span></h5>
            </div>
        </div>
        <div class="col-6 col-md-2 mb-3 mb-sm-3 mb-md-0 border-end d-flex align-items-end justify-content-center">
            <div>
                <p class="">昨日支出</p>
                <h5 class="">
                    <i class="fa fa-yen-sign fs-6"></i>
                    <span class="l-number fs-2">{$yesterday_cost}</span></h5>
            </div>
        </div>
        <div class="col-6 col-md-2 mb-3 mb-sm-3 mb-md-0 border-end d-flex align-items-end justify-content-center">
            <div>
                <p class="">本月支出</p>
                <h5 class="">
                    <i class="fa fa-yen-sign fs-6"></i>
                    <span class="l-number fs-2">{$current_month_cost}</span></h5>
            </div>
        </div>
        <div class="col-6 col-md-2 mb-3 mb-sm-3 mb-md-0 d-flex align-items-end justify-content-center">
            <div>
                <p class="">今年支出</p>
                <h5 class="">
                    <i class="fa fa-yen-sign fs-6"></i>
                    <span class="l-number fs-2">{$current_year_cost}</span></h5>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mb-sm-3 mb-xl-0">
        <div class="col-xl-7 col-lg-12 mb-sm-3 bg-white rounded-3 shadow-sm">
            <div class="row p-3">
                <div class="col-lg-6 col-12 mb-sm-3 h-100">
                    <div id="historyChart" class="h-100" style="height: 270px;"></div>
                </div>
                <div class="col-lg-6 col-12 mb-3">
                    <div class="row h-50 gap-3 mb-3">
                        <div class="col p-3 rounded-3" style="background-color: #f7f7f7;">
                            <div class="mb-3 text-black-50">总呼出</div>
                            <h2 class="totalCallHistory "></h2>
                        </div>
                        <div class="col p-3 rounded-3" style="background-color: #f7f7f7">
                            <div class="mb-3 text-black-50">总时间(分)</div>
                            <h2 class="totalCallDuration "></h2>
                        </div>
                    </div>
                    <div class="row h-50 gap-3 mb-3">
                        <div class="col p-3 rounded-3" style="background-color: #f7f7f7">
                            <div class="mb-3 text-black-50">已接听</div>
                            <h2 class="totalCallAndPickUp"></h2>
                        </div>
                        <div class="col p-3 rounded-3" style="background-color: #f7f7f7">
                            <div class="mb-3 text-black-50">未接听</div>
                            <h2 class="totalCallAndNoPickUp"></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-5 col-lg-6">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">排行榜</div>
                        <div class="card-body">
                            <table class="table table-hover toplist-table">
                                <tr>
                                    <th>用户</th>
                                    <th>未接听</th>
                                    <th>已接听</th>
                                    <th>时间(分)</th>
                                    <th>消费金额</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col bg-white rounded-3 shadow-sm py-3">
            <div id="callChart" class="h-100" style="height: 350px;"></div>
        </div>
    </div>
</div>

{/block}
{block name="js"}
<script src="__STATIC__/js/jquery.rotate.js"></script>

<script src="__STATIC__/lib/echarts/echarts.min.js"></script>
<script>
    layui.use(['layer', 'miniTab'], function () {
        let $ = layui.jquery,

            layer = layui.layer,
            miniTab = layui.miniTab;

        // 在新的Tab窗口打开页面
        miniTab.listen();

        let chart = echarts.init($('#historyChart')[0])
        let callChart = echarts.init($('#callChart')[0])
        window.onresize = function (e) {
            chart.resize();
            callChart.resize();
        }

        let getChartData = function () {
            $.post('{:url("/Index/getReport")}', {}, function (res) {
                $('.totalCallHistory').text(res.data.totalCallHistory)
                $('.totalCallAndPickUp').text(res.data.totalCallAndPickUp)
                $('.totalCallAndNoPickUp').text(res.data.totalCallAndNoPickUp)
                $('.totalCallDuration').text(res.data.totalCallDuration)
                chart.setOption({
                    title: {
                        text: '呼叫统计',
                    },
                    dataset: [
                        {
                            source: res.data.chartData
                        }
                    ],
                    tooltip: {
                        trigger: 'item',
                    },
                    series: [
                        {
                            name: '拨号次数',
                            type: 'pie',
                            radius: ['35%', '75%'],
                            datasetIndex: 0
                        }
                    ]
                })
            })
        };

        getChartData();

        // 近几小时的记录
        let h = 12
        let getCallChartData = function () {
            $.post('{:url("/Index/getHoursData")}', { hours: h }, function (res) {
                if (res.code === 1) {
                    callChart.setOption({
                        title: {
                            text: `近${h}小时拨号统计`,
                        },
                        dataset: [
                            {
                                source: res.data
                            }
                        ],
                        // legend: {},
                        tooltip: {
                            trigger: 'axis',
                        },
                        toolbox: {
                            feature: {
                                restore: { title: '还原' },
                                saveAsImage: { title: '保存图片' },
                            }
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap: false,
                            axisLabel: {
                                // rotate: 45
                            }
                        },
                        yAxis: {
                            type: 'value',
                            boundaryGap: [0, '100%'],
                            // max: 'dataMax'
                        },
                        grid: {
                            bottom: 10,
                            left: 20,
                            right: 20,
                            containLabel: true
                        },
                        series: [
                            {
                                name: '拨号次数',
                                type: 'line',
                                encode: {
                                    x: 'datetime',
                                    y: 'sum'
                                },
                                areaStyle: {
                                }
                            },
                            {
                                name: '时间(分)',
                                type: 'line',
                                encode: {
                                    x: 'datetime',
                                    y: 'duration'
                                },
                                areaStyle: {
                                }
                            },
                            {
                                name: '消费(￥)',
                                type: 'line',
                                encode: {
                                    x: 'datetime',
                                    y: 'expense'
                                },
                                areaStyle: {
                                }
                            }
                        ]
                    })
                }
            })
        }
        getCallChartData();

        let getTopData = function () {
            $.post('{:url("/Index/getTopList")}', {}, function (res) {
                $.each(res.data, function (index, item) {
                    $('.toplist-table').append($('<tr />')
                        .append($('<td />', { text: item.username }))
                        .append($('<td />', { text: item.callHistory_count }))
                        .append($('<td />', { text: item.callHistory_pickup_count }))
                        .append($('<td />', { text: item.duration_sum }))
                        .append($('<td />', { text: item.expense_sum }))
                    )
                })
            })
        }

        getTopData();
    });
</script>

{/block}
