{extend name="../common/public/base" /}
{block name="css"}
{include file="../common/public/bootstrap" /}
<style>
    .logo-title {
        text-align: center;
        letter-spacing: 2px;
        padding: 14px 0;
    }

    .logo-title h1 {
        color: #1E9FFF;
        font-size: 25px;
        font-weight: bold;
    }

    .login-form {
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 14px 20px;
        box-shadow: 0 0 8px #eeeeee;
    }

    .login-form .layui-form-item {
        position: relative;
    }

    .login-form .layui-form-item label {
        position: absolute;
        left: 1px;
        top: 1px;
        width: 100px;
        line-height: 20px;
        text-align: center;
        color: #565656;
    }

    .layui-form-item .layui-input-block {
        margin-left: 130px;
    }
</style>
{/block}
{block name="body"}
<div class="container justify-content-center">
    <div class="row justify-content-center">
        <div class="col col-lg-8 col-md-10 bg-white">
            <form class="layui-form layuimini-form" action="">
                <div class="layui-form-item logo-title">
                    <h1>开通账号</h1>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">呼叫线路</label>
                    <div class="layui-input-block">
                        <input type="text" name="" value="{$user.call_type_text}" class="layui-input border-0" disabled>
                        <tip>提示：当前使用呼叫线路</tip>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" for="account">账号<span class="text-danger" style="margin: 0 5px;">*</span></label>
                    <div class="layui-input-block" id="account">
                        <input type="text" name="username" lay-verify="required|account" placeholder="账号"
                               autocomplete="off" class="layui-input" value="">
                        <tip>提示：此昵称作为登录账号使用，创建后暂不支持更改</tip>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="password">密码<span class="text-danger" style="margin: 0 5px;">*</span></label>
                    <div class="layui-input-block" id="password">
                        <input type="password" name="password" lay-verify="required|password" placeholder="密码"
                               autocomplete="off" class="layui-input" value="">
                    </div>
                </div>
                <div class="layui-form-item {if $user->call_type !== 1}d-none{/if}">
                    <label class="layui-form-label">小号</label>
                    <div class="layui-input-block">
                        <select name="number_store_id">
                            <option value="{$user.companyXnumber.numberStore.id}">{$user.companyXnumber.numberStore.number}</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" for="realname">真实姓名<span class="text-danger" style="margin: 0 5px;">*</span></label>
                    <div class="layui-input-block" id="realname">
                        <input type="text" name="realname" lay-verify="required" placeholder="真实姓名" autocomplete="off" class="layui-input" value="">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" for="phone">手机号<span class="text-danger" style="margin: 0 5px;">*</span></label>
                    <div class="layui-input-block" id="phone">
                        <input type="text" name="phone" lay-verify="required|phone" placeholder="手机号"
                               autocomplete="off" class="layui-input" value="">
                        <tip>提示：必须提供正确的手机号才能进行拨号</tip>
                    </div>
                </div>

                <div class="layui-form-item {if !in_array($user->call_type, [3, 4])}d-none{/if}">
                    <label class="layui-form-label" for="callback_number">回拨号码<span class="text-danger" style="margin: 0 5px;">*</span></label>
                    <div class="layui-input-block" id="callback_number">
                        <input type="text" name="callback_number" placeholder="回拨号码"
                               autocomplete="off" class="layui-input" value="">
                        <tip>提示：呼叫线路为<strong>电信回拨</strong>、<strong>移动回拨</strong>时，必须提供回拨号码才能进行拨号</tip>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="isTest">查看电话次数</label>
                    <div class="layui-input-block">
                        <input type="number" name="customer_view_num" id="customer_view_num" min="0" placeholder="0"
                               autocomplete="off" class="layui-input" value="">
                        <tip class="">提示：0 为无限制查看客户电话次数</tip>
                    </div>
                </div>
                <div class="layui-form-item {if $user.id !== 1} d-none {/if}">
                    <label class="layui-form-label" for="isTest">测试账号</label>
                    <div class="layui-input-block" id="isTest">
                        <input type="checkbox" lay-skin="switch" lay-filter="testFilter" name="is_test" value="1"
                               lay-text="是|否">
                    </div>
                </div>
                <div class="layui-form-item d-none test-endtime">
                    <label class="layui-form-label" for="test_endtime">结束时间</label>
                    <div class="layui-input-block" id="test_endtime">
                        <input type="text" name="test_endtime" placeholder="1970-01-01 00:00:00"
                               autocomplete="off" class="layui-input" value="" id="testEndTime">
                    </div>
                    <div class="layui-input-block">
                        <tip>超过测试时间将禁止拨号，空为无限制。</tip>
                    </div>
                </div>
                <div class="layui-form-item d-none test-endtime">
                    <label class="layui-form-label" for="limit_user">限制拨打数量</label>
                    <div class="layui-input-block" id="limit_user">
                        <input type="number" name="limit_call_number" min="0" placeholder="0"
                               autocomplete="off" class="layui-input" value="50">
                        <tip>提示：0 为无限制</tip>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn layui-btn-normal layui-btn-fluid" lay-submit=""
                            lay-filter="open">开通
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{/block}

{block name="js"}
<script>
    layui.use(['form','laydate', 'arronUtil'], function () {
        let $ = layui.jquery,
            arronUtil = layui.arronUtil,
            laydate = layui.laydate,
            form = layui.form;
        let frameIndex = parent.layer.getFrameIndex(window.name);
        let d = new Date();
        // 时间限制为现在
        let minDate = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDay() + ' ' + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds();
        laydate.render({
            elem: '#testEndTime',
            type: 'datetime',
            // min: minDate
        })
        form.on('switch(testFilter)', function (obj) {
            let endtimeItem = $('.test-endtime')
            obj.elem.checked ? endtimeItem.removeClass('d-none') : endtimeItem.addClass('d-none')
        })
        // 进行登录操作
        form.on('submit(open)', function (data) {
            let params = data.field;

            if (params.phone === '') {
                arronUtil.Toast.fire({ title: '请输入手机号' });
                return false;
            }
            if (params.username === '') {
                arronUtil.Toast.fire({ title: '账号不能为空' });
                return false;
            }
            if (params.realname === '') {
                arronUtil.Toast.fire({ title: '真实姓名不能为空' });
                return false;
            }
            if (params.password === '') {
                arronUtil.Toast.fire({ title: '密码不能为空' });
                return false;
            }
            if (params.is_test === '1' && params.test_endtime === '') {
                arronUtil.Toast.fire({ title: '结束时间不能为空' })
                return false
            }
            $.post(arronUtil.url('/user/add'), params, function (res) {
                let option = { title: res.msg }
                if (res.code === 1) {
                    option.icon = 'success'
                    option.didDestroy = function () {
                        parent.layer.close(frameIndex)
                        parent.layui.table.reload('userTable')
                    }
                }

                arronUtil.Toast.fire(option)
            });

            return false;
        });

    });
</script>

{/block}
