{extend name="public/base" /}
{block name="css"}
<style>
    html, body {
        width: 100%;
        height: 100%;
        overflow: hidden
    }

    body {
        background: rgb(228, 228, 228);
    }

    body:after {
        content: '';
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(3px);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .layui-container {
        width: 100%;
        height: 100%;
        overflow: hidden
    }

    .admin-login-background {
        position: absolute;
        left: 50%;
        top: 20%;
        margin-left: -250px;
        margin-top: -100px;
        width: 500px;
    }

    .logo-title {
        text-align: center;
        letter-spacing: 2px;
        padding: 14px 0;
    }

    .logo-title h1 {
        color: #1E9FFF;
        font-size: 25px;
        font-weight: bold;
    }

    .login-form {
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 14px 20px;
        box-shadow: 0 0 8px #eeeeee;
    }

    .login-form .layui-form-item {
        position: relative;
    }

    .login-form .layui-form-item label {
        position: absolute;
        left: 1px;
        top: 1px;
        width: 100px;
        line-height: 20px;
        text-align: center;
        color: #565656;
    }

    .layui-form-item .layui-input-block {
        margin-left: 130px;
    }
</style>
{/block}
{block name="body"}
<div class="layui-container" id="lqp">
    <div class="admin-login-background ">
        <div class="layui-form login-form ">
            <form class="layui-form layuimini-form" action="">
                <input type="hidden" name="id" value="{$userInfo.id}" />
                <div class="layui-form-item logo-title">
                    <h1>编辑账号</h1>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">小号</label>
                    <div class="layui-input-block">
                        <select name="number_store_id" {if empty($axbNumbers)} disabled {/if}>
                            <option value="">{if empty($axbNumbers)}不可用{/if}</option>
                            {foreach $axbNumbers as $val}
                                {if $userInfo.xnumber === $val.number}
                                    <option value="{$val.id}" selected>{$val.number}</option>
                                {else}
                                    <option value="{$val.id}">{$val.number}</option>
                                {/if}
                            {/foreach}
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" for="phone">手机号<span class="text-danger" style="margin: 0 5px;">*</span></label>
                    <div class="layui-input-block" id="phone">
                        <input type="text" name="phone" lay-verify="required|phone" placeholder="手机号"
                               autocomplete="off" class="layui-input" value="{$userInfo.phone}">
                        <tip>提示：必须提供正确的手机号才能进行拨号</tip>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" for="account">账号</label>
                    <div class="layui-input-block" id="account">
                        <input type="text" name="username" lay-verify="required|account" placeholder="账号"
                               autocomplete="off" class="layui-input" value="{$userInfo.username}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="password">密码</label>
                    <div class="layui-input-block" id="password">
                        <input type="password" name="password" lay-verify="required|password" placeholder="密码"
                               autocomplete="off" class="layui-input" value="{$userInfo.password}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn layui-btn-normal layui-btn-fluid" lay-submit=""
                            lay-filter="edit">保存
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{/block}

{block name="js"}
<script>
    layui.use(['form'], function () {
        let $ = layui.jquery,
            form = layui.form;

        let frameIndex = parent.layer.getFrameIndex(window.name);

        // 进行登录操作
        form.on('submit(edit)', function (data) {
            let params = data.field;
            if (!params.number_store_id) {
                layer.msg('请选择小号')
                return false
            }
            if (params.phone === '') {
                layer.msg('手机号不能为空');
                return false;
            }
            if (params.username === '') {
                layer.msg('账号不能为空');
                return false;
            }
            if (params.password === '') {
                layer.msg('密码不能为空');
                return false;
            }

            $.post("{:url('/user/edit')}", params, function (res) {
                if (res.code === 1) {
                    layer.msg(res.msg, {icon: 6, time: 2500}, function () {
                        parent.layer.close(frameIndex);
                        parent.layui.table.reload('userTable');
                    });
                } else {
                    layer.msg(res.msg, {icon: 5});
                }
            });

            return false;
        });

    });
</script>

{/block}
