{extend name="../common/public/base" /}
{block name="css"}
{include file="../common/public/bootstrap" /}
{/block}
{block name="body"}
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="container-fluid ">
            <div class="row mt-5 justify-content-center">
                <div class="col-md-8 col-sm-12">
                    <form class="layui-form layuimini-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-block">
                                <input type="text" name="username"  value="{$user.username}" class="layui-input text-muted border-0" readonly>
                                <tip>登录账号，暂不支持更改！</tip>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">昵称</label>
                            <div class="layui-input-block">
                                <input type="text" name="nickname" placeholder="请输入昵称"  value="{$user.nickname}" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" for="realname">法 人</label>
                            <div class="layui-input-block" id="realname">
                                <input type="text" name="realname" placeholder="法人" autocomplete="off" class="layui-input" value="{$user.realname}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">余额(￥/元)</label>
                            <div class="layui-input-block">
                                <input type="text" name="balance" value="{$user.balance}" class="layui-input text-muted border-0" disabled>
                                <tip><a href="javascript:;" layuimini-content-href="payment/index.html" data-title="充值管理">前往充值>></a></tip>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">呼叫线路</label>
                            <div class="layui-input-block">
                                <input type="text" name="" value="{$user.callType.title|default=''}" class="layui-input text-muted border-0" disabled>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">配额</label>
                            <div class="layui-input-block">
                                <input type="text" name="ration" value="{$user.ration}" class="layui-input text-muted border-0" disabled>
                                <tip>提示：1个小号为1个座席</tip>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">限制用户数</label>
                            <div class="layui-input-block">
                                <input type="text" name="limit_user" value="{$user.limit_user}" class="layui-input text-muted border-0" disabled>
                                <tip>提示：0 为无限制开通拨号用户</tip>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">费率</label>
                            <div class="layui-input-block">
                                <input type="text" name="rate" value="{$user.rate}" class="layui-input text-muted border-0" disabled>
                                <tip>提示：用于计算话费</tip>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
    layui.use(['form', 'miniTab', 'jquery', 'arronUtil'], function () {
        let form = layui.form,
            arronUtil = layui.arronUtil,
            $ = layui.jquery,
            miniTab = layui.miniTab;

        miniTab.listen();

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.post(arronUtil.url("/user/profile"), data.field, function (res) {
                let option = { title: res.msg }
                if (res.code) {
                    option.icon = 'success'
                }

                arronUtil.Toast.fire(option)
            })

            return false;
        });

    });
</script>

{/block}
