{extend name="public/base" /}
{block name="css"}
<link rel="stylesheet" href="__STATIC__/lib/bootstrap/css/bootstrap.min.css" media="all">
<link rel="stylesheet" href="__STATIC__/lib/bootstrap/font/bootstrap-icons.css" media="all">
{/block}
{block name="body"}
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="container-fluid">
            <div class="row mt-5 justify-content-center">
                <div class="col-6">
                    <form class="layui-form layuimini-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label required">旧的密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="old_password" lay-verify="required" lay-reqtext="旧的密码不能为空" placeholder="请输入旧的密码" autocomplete="off" value="" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label required">新的密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="new_password" lay-verify="required" lay-reqtext="新的密码不能为空" placeholder="请输入新的密码" autocomplete="off" value="" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label required">确认密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="confirm_password" lay-verify="required" lay-reqtext="确认密码不能为空" placeholder="请输入确认密码" autocomplete="off" value="" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
    layui.use(['form', 'miniTab', 'jquery'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery,
            miniTab = layui.miniTab;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.post('{:url("/user/resetPassword")}', data.field, function (res) {
                if (res.code) {
                    layer.msg(res.msg, {icon: 6});
                } else {
                    layer.msg(res.msg, {icon: 5});
                }
            });

            return false;
        });

    });
</script>

{/block}
