body {
    padding: 1rem;
    background: #f2f2f2;
    min-height: calc(100% - 2rem);
}

/**
2021/06/17
@author arron
 */
.layui-body {
    padding-bottom: 0 !important;
}

/*.layuimini-tab .layui-tab-title {
    box-shadow: 0 5px 16px 5px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 5px 16px 8px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 16px 5px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 0 16px 5px rgba(0, 0, 0, .2);
}*/

.layuimini-menu-left {
    box-shadow: 0 0 16px 5px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 16px 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 16px 5px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 0 16px 5px rgba(0, 0, 0, .2);
}

.layuimini-container {
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #fff;
    height: 100%;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2);
    -o-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2);
}

.layuimini-main {
    margin: 1rem;
}

/**必填红点 */
.layuimini-form > .layui-form-item > .required:after {
    content: '*';
    color: red;
    position: absolute;
    margin-left: 4px;
    font-weight: bold;
    line-height: 1.8em;
    top: 6px;
    right: 5px;
}

.layuimini-form > .layui-form-item > .layui-form-label {
    width: 120px !important;
}

.layuimini-form > .layui-form-item > .layui-input-block {
    margin-left: 150px !important;
}

.layuimini-form > .layui-form-item > .layui-input-block > tip {
    display: inline-block;
    margin-top: .625rem;
    line-height: 1rem;
    font-size: .625rem;
    color: #a29c9c;
}

/**搜索框*/
.layuimini-container .table-search-fieldset {
    margin: 0;
    border: 1px solid #e6e6e6;
    padding: 10px 20px 5px 20px;
    color: #6b6b6b;
}

/**自定义滚动条样式 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #9c9da0;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em
}



