{extend name="public/base" /}
{block name="css"}
{include file="public/bootstrap" /}
<style>
    .lqp-hover:hover .card-img {
        transform: rotateY(90deg);
    }
</style>
{/block}
{block name="body"}

<div class="container-fluid bg-white rounded-3 shadow-sm mb-3">
    <!--<div class="row mb-2">
        <div class="col-md-5 col-sm-12 pb-4">
            <div class="card border-0 p-0 border-end">
                <div class="card-body py-0">
                    <p class="card-title mb-4 fw-bold"> Hi，您好<span class="text-primary">{$user.username}</span>！</p>
                    <div class="row">
                        <div class="col-3">
                            <img src="__STATIC__/images/dashuser.png" style="max-height: 80px;">
                        </div>
                        <div class="col-4">
                            <div class="mb-4">账号：<span class="fw-bold">{$user.username}</span></div>
                            <div> 手机：<span class="fw-bold">***********</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 text-center my-auto">
            <div class="card border-0 p-0 border-end">
                <div class="card-body py-0">
                    <p class="card-title">当前余额/元</p>
                    <h5 class="card-text my-3 text-success"><i class="fa fa-yen-sign me-2"></i>{$user.balance??''}</h5>
                    <a href="javascript:;" layuimini-content-href="payment/index.html" data-title="充值管理"
                       class="layui-btn layui-btn-normal text-decoration-none shadow rounded-pill">
                        <i class="fa fa-wallet me-2"></i>
                        充值
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card border-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="d-flex flex-row align-items-end">
                                <img src="__STATIC__/images/22.png" style="max-height: 78px;">
                                <div class="ms-3">
                                    <p class="mb-0">客服咨询</p>
                                    <p class="fw-bold mb-0">13622850769</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="text-center d-flex flex-row align-items-center">
                                <img src="__STATIC__/images/xiaoqiang.png" style="max-height: 78px;">
                                <p class="mb-0 ms-3">微信咨询</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <div class="row mb-3 py-3 ">
        <div class="col-6 col-md-2 mb-3 mb-sm-3 mb-md-0 d-flex align-items-center justify-content-center">
            <div>
                <h4>网站概况</h4>
            </div>
        </div>
        <div class="col-6 col-md-2 mb-3 mb-sm-3 mb-md-0 border-end d-flex align-items-end justify-content-center">
            <div>
                <p class="">总收入</p>
                <h5 class="">
                    <i class="fa fa-yen-sign fs-6"></i>
                    <span class="l-number fs-2">{$total_cost}</span></h5>
            </div>
        </div>
        <div class="col-6 col-md-2 mb-3 mb-sm-3 mb-md-0 border-end d-flex align-items-end justify-content-center">
            <div class="">
                <p class="">今日收入</p>
                <h5 class="">
                    <i class="fa fa-yen-sign fs-6"></i>
                    <span class="l-number fs-2">{$current_day_cost}</span></h5>
            </div>
        </div>
        <div class="col-6 col-md-2 mb-3 mb-sm-3 mb-md-0 border-end d-flex align-items-end justify-content-center">
            <div>
                <p class="">昨日收入</p>
                <h5 class="">
                    <i class="fa fa-yen-sign fs-6"></i>
                    <span class="l-number fs-2">{$yesterday_cost}</span></h5>
            </div>
        </div>
        <div class="col-6 col-md-2 mb-3 mb-sm-3 mb-md-0 border-end d-flex align-items-end justify-content-center">
            <div>
                <p class="">本月收入</p>
                <h5 class="">
                    <i class="fa fa-yen-sign fs-6"></i>
                    <span class="l-number fs-2">{$current_month_cost}</span></h5>
            </div>
        </div>
        <div class="col-6 col-md-2 mb-3 mb-sm-3 mb-md-0 d-flex align-items-end justify-content-center">
            <div>
                <p class="">今年收入</p>
                <h5 class="">
                    <i class="fa fa-yen-sign fs-6"></i>
                    <span class="l-number fs-2">{$current_year_cost}</span></h5>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-white rounded-3 shadow-sm mb-3 pt-3">
    <div class="row">
        <div class="col">
            <div id="historyChart" style=" height: 500px; "></div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<!--<script src="__STATIC__/js/jquery.rotate.js"></script>-->

<script src="__STATIC__/lib/echarts/echarts.min.js"></script>
<script>
    layui.use(['layer', 'miniTab'], function () {
        let $ = layui.jquery,

            layer = layui.layer,
            miniTab = layui.miniTab;

        // 在新的Tab窗口打开页面
        miniTab.listen();

        let chart = echarts.init($('#historyChart')[0])

        let getDateTime = function (time) {
            let d = new Date()
            d.setTime(time)
            let hour = d.getHours(),
                minute = d.getMinutes(),
                second = d.getSeconds(),
                millsecond = d.getMilliseconds();

            if (hour < 10) {
                hour = '0' + hour;
            }
            if (minute < 10) {
                minute = '0' + minute;
            }
            if (second < 10) {
                second = '0' + second;
            }
            return hour + ':' + minute + ':' + second + '.' + millsecond;
        }
        let d = new Date();
        let hours = 3,  // 小时数据
            minutes = 60,   // 每小时60分
            per = 5,    // 时间间隔 5 分
            perSecond = per * 60 * 1000,    // 时间间隔 毫秒数
            t = Math.ceil(hours * minutes / per);   // 总共多少条数据
        let datetime = [];
        let minutesAgo = d.getTime();  // 获取毫秒
        let nowTime = 0;
        for (let i = 0; i < t; i ++) {
            nowTime = minutesAgo;
            minutesAgo = minutesAgo - perSecond;
            datetime.push({ startTime: getDateTime(minutesAgo), endTime: getDateTime(nowTime) })
        }

        let getData = function () {
            $.post('{:url("/HbCall/getHistoryList")}', {}, function (res) {
                console.log(res)
                chart.setOption({
                    title: {
                        text: '拨号统计',
                    },
                    dataset: [
                        {
                            source: res.rows
                        }
                    ],
                    legend: {},
                    tooltip: {
                        trigger: 'axis',
                    },
                    toolbox: {
                        feature: {
                            restore: { title: '还原' },
                            saveAsImage: { title: '保存图片' },
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        // axisLabel: {
                        //     rotate: 45
                        // }
                    },
                    yAxis: {
                        type: 'value',
                        boundaryGap: [0, '100%'],
                        // max: 'dataMax'
                    },
                    grid: {
                        bottom: 10,
                        left: 0,
                        right: 10,
                        containLabel: true
                    },
                    series: [
                        {
                            name: '拨号次数',
                            type: 'line',
                            encode: {
                                x: 'createtime',
                                y: 'call_duration'
                            },
                            areaStyle: {
                            }
                        }
                    ]
                })
            })
        };

        // getData()

        // setInterval(function () {
        //     getData()
        // }, 1000 * 300);
    });
</script>

{/block}
