<div class="offcanvas offcanvas-end w-25" tabindex="-1" id="offcanvas" style="">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">编辑</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="">
            <form class="" name="formEditor">
                <input name="id" type="hidden" value="" />
                <div class="mb-3">
                    <label class="form-label" for="username">用户名<span class="text-warning px-1">*</span></label>
                    <input type="text" name="username" id="username" lay-verify="required" placeholder="用户名"
                           autocomplete="off" class="form-control" value="">
                    <div class="form-text">提示：此昵称作为登录账号使用，创建后暂不支持更改</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">密码<span class="text-warning px-1">*</span></label>
                    <input type="password" name="password" id="password" placeholder="密码" autocomplete="off" class="form-control" value="">
                </div>

                <div class="mb-3 d-grid">
                    <button class="btn btn-primary" type="submit">保 存</button>
                </div>
            </form>
        </div>
    </div>
</div>
