<!--    kh-->
<div class="container-fluid p-0 mb-5 pb-5 lqp-custorm">
    <div class="container m-auto">
        <div class="row mb-5 text-center">
            <div class="col-12">
                <h3>客户案列</h3>
                <h6 class="text-muted my-4">为各领域提供实质性的、有针对性的解决方案，提升商家服务能力、提升消费者体验和转化率</h6>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4" id="information">
            <div class="col text-muted">
                <div class="card p-4 border-0">
                    <img class="inline-block" src="__STATIC__/images/cc1.png" style="width: 56px; height: 56px;"
                         alt="Pug icon">
                    <p class="fs-5 text-dark my-3">星慧信息咨询</p>
                    <div class="fs-ms" style="min-height: 110px;">
                        前前后后我们也找了几家软
                        件公司的产品来进行对比，
                        最后选择了专门做我们这行
                        业的汇邦软件，无论是费用
                        还是服务同别的单位有很大
                        的不同，更有耐心。
                    </div>

                </div>
            </div>
            <div class="col text-muted">
                <div class="card p-4 border-0">
                    <img class="inline-block" src="__STATIC__/images/cc2.png" style="width: 56px; height: 56px;"
                         alt="Pug icon">
                    <p class="fs-5 text-dark my-3">东莞汇千信息</p>
                    <div class="fs-ms" style="min-height: 110px;">
                        用喵头鹰是个偶然的机会本
                        来是找他们公司做网站后面
                        知道他们有开发一款管理系
                        统我们是做网站客户所有给
                        我们免费使用二个月用了之
                        后感觉非常好。
                    </div>

                </div>
            </div>
            <div class="col text-muted">
                <div class="card p-4 border-0">
                    <img class="inline-block" src="__STATIC__/images/cc3.png" style="width: 56px; height: 56px;"
                         alt="Pug icon">
                    <p class="fs-5 text-dark my-3">信海网络</p>
                    <div class="fs-ms" style="min-height: 110px;">
                        用喵头鹰之前我们有使用另
                        一款非的软件，我们也定制
                        了功能，钱也花了不少，但
                        最后软件本身的功能太复杂
                        定制的又比较不全面，最后
                        汇邦找我们做原型客户
                    </div>

                </div>
            </div>
            <div class="col text-muted">
                <div class="card p-4 border-0">
                    <img class="inline-block" src="__STATIC__/images/cc4.png" style="width: 56px; height: 56px;"
                         alt="Pug icon">
                    <p class="fs-5 text-dark my-3">深圳万信公司</p>
                    <div class="fs-ms" style="min-height: 110px;">
                        我们本身也有开发团队，但
                        并不是无所不能的。至少在
                        软件制作板块，我们深刻体
                        会到了来自东汇邦软件科技
                        公司的专业，到底还是专业
                        的事要专人的人来做
                    </div>

                </div>
            </div>

        </div>

        <div class="row justify-content-center">
            <div class="col-4 text-muted" id="loadMore">
                <div class="card p-4 border-0">
<!--                    <img class="inline-block" src="__STATIC__/images/more.png" style="width: 150px; height: 150px;"-->
<!--                         alt="Pug icon">-->
                
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-primary lqp-user" id="grad1">
    <div class="container-xxl py-3 py-lg-4">
        <div class="row text-center">
            <div class="col-12">
                <h3 class="fw-light text-white mb-4">新用户注册,即可免费体验试用喵头鹰</h3>
                <a class="btn btn-outline-light  px-5 wow animate__animated animate__bounce lqp-borderradius20"
                   href="javascript:;"
                   target="_blank" rel="noopener">马上注册</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark py-5">
    <div class="container">
        <div class="space-top-2 space-bottom-1 space-bottom-lg-2">
            <div class="row text-center">
                <div class="col lqp-bottom-nav"></div>
                <div class="col">
                    <h6 class="text-white mb-3">申请试用</h6>
                    <form name="applyForm" action="" method="post">
                        <div class="input-group input-group-round">
                            <ul class="p-0 w-100">
                                <li class="mb-1 d-flex">
                                    <i class="bi bi-asterisk me-2 text-danger"></i>
                                    <input type="text" class="form-control bg-dark border-secondary text-white-50 p-1"
                                           style="font-size:0.857rem;" placeholder="公司名称" name="mc" value="">
                                </li>
                                <li class="mb-1 d-flex">
                                    <i class="bi bi-asterisk me-2 text-danger"></i>
                                    <input type="" class="form-control bg-dark border-secondary text-white-50 p-1"
                                           style="font-size:0.857rem;" placeholder="您的姓名" name="mz" value="">
                                </li>
                                <li class="mb-1 d-flex">
                                    <i class="bi bi-asterisk me-2 text-danger"></i>
                                    <input type="" class="form-control bg-dark border-secondary text-white-50 p-1"
                                           style="font-size:0.857rem;" placeholder="手机号码" name="sj" value="">
                                </li>
                                <li class="mb-1 d-flex">
                                    <i class="bi bi-asterisk me-2 text-danger"></i>
                                    <input type="" class="form-control bg-dark border-secondary text-white-50 p-1"
                                           style="font-size:0.857rem;" placeholder="邮箱或QQ号" name="em" value="">
                                </li>
                                <li class="mb-1 d-flex">
                                    <i class="bi bi-circle-fill me-2 text-dark"></i>
                                    <input type="" class="form-control bg-dark border-secondary text-white-50 p-1"
                                           style="font-size:0.857rem;" placeholder="公司规模（单位：人）" name="gm"
                                           value="">
                                </li>
                                <li class="d-grid d-flex">
                                    <i class="bi bi-circle-fill me-2 text-dark"></i>
                                    <a class="btn btn-primary btn-sm apply w-100">申请试用</a>
                                </li>
                            </ul>

                        </div>
                    </form>
                </div>
                <div class="col">
                    <h6 class="text-white mb-3">联系我们</h6>
                    <ul class="nav nav-sm nav-x-0 nav-white flex-column lqp-contact text-muted">
                        <li>
                            <p>地址：东莞市南城区第一国际商务大夏D座708</p>
                        </li>
                        <li>
                            <p>24h技术支持</p>
                        </li>
                        <li>
                            <p>致电陈经理:<h6 class="text-white">136 2285 0769</h6></p>
                        </li>
                        <li>
                            <img src="__STATIC__/images/xiaoqiang.png" style="max-height: 64px;"/>
                            <p>扫一扫</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--回到顶部-->
<div class="position-fixed rounded-pill px-2 bottom-outline-primary shadow lqp-top"
     style="bottom: 30%; right: 20px;z-index: 99;">
    <a class="" href="#top">
        <i class="bi bi-chevron-double-up fs-2"></i>
    </a>
</div>

<div class="bg-dark">
    <hr class="opacity-xs m-0 tw" style="border: 0;border-top: .0625rem solid #e7eaf3;">
    <div class="row w-100 py-3">
        <div class="col-12">
            <p class="text-white-50 text-center m-0 p-0 lqp-foot">
                Copyright @ 2013-2020 东莞汇邦软件科技有限公司 版权所有
                <a href="http://www.beian.miit.gov.cn" style="color: #626161;" target="_blank">粤ICP备17059330号</a>
                <span id="cnzz_stat_icon_1262203475">
                    <a href="https://www.cnzz.com/stat/website.php?web_id=1262203475" target="_blank" title="站长统计">
                    <img border="0" hspace="0" vspace="0" src="http://icon.cnzz.com/img/pic1.gif">
                    </a>
                    </span>
                <script src=" http://s13.cnzz.com/z_stat.php?id=1262203475&amp;show=pic1"
                        type="text/javascript"></script>
                <script src="http://c.cnzz.com/core.php?web_id=1262203475&amp;show=pic1&amp;t=z" charset="utf-8"
                        type="text/javascript"></script>
            </p>
        </div>
    </div>
</div>


<script>

    let name = 'arron';
    let template = `
        <div class="col text-muted">
            <div class="card p-4 border-0">
                <img class="inline-block" src="__STATIC__/images/cc4.png" style="width: 56px; height: 56px;"
                     alt="Pug icon">
                <p class="fs-5 text-dark my-3">深圳万信公司</p>
                <div class="fs-ms" style="min-height: 110px;">
                    ${name}
                </div>

            </div>
        </div>
    `;

    let page = 2, pageNum = 4;
    $('#loadMore').on('click', function () {
        $.post('{:url("index/test")}', {page: page, pageNum: pageNum}, function (res) {
            let info = res.data || [
                {company: '东莞汇邦软件', detail: '呼叫中心1'},
                {company: '东莞汇邦软件', detail: '呼叫中心2'},
                {company: '东莞汇邦软件', detail: '呼叫中心3'},
                {company: '东莞汇邦软件', detail: '呼叫中心4'},
                {company: '东莞汇邦软件', detail: '呼叫中心4'},
            ];
            info.forEach(function (item, index) {
                let template = `
                    <div class="col text-muted">
                        <div class="card p-4 border-0">
                            <img class="inline-block" src="__STATIC__/images/cc4.png" style="width: 56px; height: 56px;"
                                 alt="Pug icon">
                            <p class="fs-5 text-dark my-3">${item.company}</p>
                            <div class="fs-ms" style="min-height: 110px;">
                                ${item.detail}
                            </div>
                        </div>
                    </div>
                `;

                $('#information').append(template);
            })
        });

        page++;
    });

    $(".customerBox").slide({
        mainCell: ".customerList ul",
        autoPlay: true,
        effect: "leftMarquee",
        vis: 5,
        interTime: 50,
        trigger: "click"
    });
    //vis:5 当数量=5||>5的时候才滚动
</script>
