
<title>呼叫系统 - 汇邦CRM系统V3.5版正式发布</title>
<meta name="keywords" content="汇邦猎头,猎头,汇邦软件,东莞汇邦软件">
<meta name="description" content="汇邦猎头人才管理系统是东莞汇邦软件科技有限公司开发的一款满足猎头公司和人力资源服务企业日常管理">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" href="__STATIC__/css/lqp-theme.css" media="all">

<script src="__STATIC__/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>

<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
