
<script src="__STATIC__/lib/layui-v2.6.8/layui.js" charset="utf-8"></script>
<script src="__STATIC__/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="__STATIC__/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<script src="__STATIC__/lib/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
<script src="__STATIC__/lib/jq-module/jquery.particleground.min.js" charset="utf-8"></script>

<script>
    layui.use(['jquery', 'layer'], function () {
        let $ = layui.jquery,
            layer = layui.layer;

        // cookie
        let cookie = function (key = null, val = null, obj = {}) {
            if (key === null) {
                let val = [];
                let cookie = document.cookie.split('; ');
                $.each(cookie, function (index, item) {
                    let i = item.split('=');
                    val[i[0]] = i[1];
                })

                return val;
            } else {
                if (val === null) {
                    let val = '';
                    let cookie = document.cookie.split('; ');
                    $.each(cookie, function (index, item) {
                        let i = item.split('=');
                        if (i[0] === key) {
                            val = i[1];
                            return;
                        }
                    })

                    return val;
                } else {
                    document.cookie = key + '=' + val;
                    return true;
                }
            }
        }

        // cookie('balance_tips', 0);

        if (!cookie('balance')) {
            $.get('Index/getCompanyBalance', function (res) {
                cookie('balance', res);
            });
        }

        // 提醒信息
        let tipIndex = null;
        let tips = function () {
            tipIndex = layer.open({
                title: false,
                content: '您的余额已经不足，请联系及时充值！',
                offset: 'rt',
                shade: false,
                btn: false,
                skin: 'layui-layer-molv',
            })
        }

        // 定时弹窗提醒
        let time = 3600 * 1000;
        let interval = null;
        let intervalCheck = null
        if (cookie('balance') <= 0) {
            if (!cookie('balance_tips')) {
                tips();
                cookie('balance_tips', 1);
                interval = setInterval(function () {
                    tips();
                }, time)
            }
        }

        let check = function () {
            if (cookie('balance') > 0) {
                clearInterval(intervalCheck);
                clearInterval(interval);
                layer.close(tipIndex)
            }
        };

        intervalCheck = setInterval(function () {
            check();
        }, time);


    })
</script>

