{extend name="public/base" /}
{block name="css"}
{include file="public/bootstrap" /}
{/block}
{block name="body"}
<div class="container-fluid">
    <div class="row bg-white mb-3 shadow-sm rounded-3">
        <div class="col pt-3">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">支付方式</label>
                        <div class="layui-input-block">
                            <input type="radio" name="pay_type" value="1" title="微信" checked="">
                            <input type="radio" name="pay_type" value="2" title="支付宝">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">金额/元</label>
                        <div class="layui-input-inline">
                            <input type="number" min="0" name="money" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <button type="submit" class="layui-btn layui-btn-normal" lay-submit
                                lay-filter="data-money-btn">立即充值
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="layuimini-container">
    <div class="layuimini-main">
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter" lay-even></table>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['form', 'table', 'jquery'], function () {
        let $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            id: 'paymentTable',
            url: '{:url("/payment/getOrderList")}',
            method: 'post',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            //异步请求，格式化数据
            parseData: function (res) {
                return {
                    'code': 0,
                    'msg': '',
                    'data': res.rows,
                    'count': res.total
                }
            },
            cols: [[
                // {type: "checkbox", width: 50},
                {field: 'payno', title: '订单号', align: 'center'},
                {field: 'title', title: '类型', align: 'center'},
                {field: 'amount', title: '充值金额(￥)', align: 'center'},
                {field: 'create_time', title: '充值时间', align: "center"},
                {field: 'pay_time', title: '支付时间', align: "center"},
                {
                    field: 'pay_type', title: '充值方式', align: "center", templet(row) {
                        if (row.pay_type === '微信') {
                            return '<img width="20" src="__STATIC__/images/wepay-logo.png" title="' + row.pay_type + '" alt="' + row.pay_type + '" />';
                        }
                        if (row.pay_type === '支付宝') {
                            return '<i class="fa-brands fa-alipay fs-4 text-primary" title="' + row.pay_type + '"></i>'
                        }
                    }
                },
                {
                    field: 'status', title: '状态', align: "center", templet: function (d) {
                        if (d.status === '未支付') {
                            // return '<span style="color: #f00;">' + d.status + '</span>';
                            return '<span class="layui-btn layui-btn-xs layui-btn-danger" lay-event="gopay">去支付</span>';
                        } else if (d.status === '已关闭') {
                            return '<span class="text-danger">' + d.status + '</span>';
                        } else {
                            return '<span class="text-info">' + d.status + '</span>';
                        }
                    }
                },
            ]],
            page: {
                limits: [15, 20, 25, 30],
                limit: 15
            },
            skin: 'line',
            even: true,
        });

        table.on('tool(currentTableFilter)', function (obj) {
            if (obj.event === 'gopay') {
                let payType = obj.data.pay_type === '微信' ? 1 : 2;
                pay(payType, obj.data.amount, obj.data.payno);
            }
        })

        // 监听操作
        form.on('submit(data-money-btn)', function (data) {
            let result = data.field;
            if (!result.money) {
                layer.msg('请输入要充值的金额！', {icon: 0});
                return false;
            }

            if (result.money <= 0) {
                layer.msg('请输入正确的金额！', {icon: 0});
                return false;
            }

            pay(result.pay_type, result.money);
            return false;
        });

        // 支付页面
        let pay = function (payType, amount, payNo = '') {
            layer.open({
                title: '支付',
                type: 2,
                area: ['100%', '100%'],
                content: '{:url("/payment/pay")}?payType=' + payType + '&amount=' + amount + '&payno=' + payNo,
                btn: false,
                cancel: function (index, layero) {
                    layer.close(index);
                    table.reload('paymentTable');
                }
            });
        }
    });
</script>

{/block}
