{extend name="public/base" /}
{block name="css"}
{include file="public/bootstrap" /}
{/block}
{block name="body"}
<div class="container h-100">
    <div class="row justify-content-center align-items-center text-center">
        <div class="col-3 me-2">
            <h6 class="">微信支付</h6>
            <img src="{$qr}" />
            <input name="payno" type="hidden" value="{$payno}" />
        </div>
        <!--<div class="col-3" >
             <h6 class="">支付宝支付</h6>
            <img src="/static/images/xiaoqiang.png">
        </div>-->
    </div>
</div>

{/block}

{block name="js"}


{/block}
