{extend name="../common/public/base" /}
{block name="css"}
{include file="../common/public/bootstrap" /}
{/block}
{block name="body"}
<div class="container-fluid bg-white rounded-3 py-2">
    <div class="row justify-content-center">
        <div class="col-12">
            <table class="layui-table" id="currentTableId" lay-filter="currentTableFilter" lay-data="">
                <thead>
                <tr>
                    <th lay-data="{field: 'id', title: 'ID', width: 100, align: 'center'}"></th>
                    <th lay-data="{field: 'content', title: '记录内容'}"></th>
                    <th lay-data="{field: 'next_call_time', title: '下次回访', align: 'center', width: 180}"></th>
                    <th lay-data="{field: 'create_at', title: '记录时间', align: 'center', width: 180}"></th>
                    {if ($module === 'home')}
                    <th lay-data="{fixed: 'right', title: '操作', align: 'center', toolbar: '#tool', width: 150}"></th>
                    {/if}
                </tr>
                </thead>
            </table>
            {if ($module === 'home')}
            <script type="text/html" id="currentTableBar">
                <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" data-bs-toggle="modal" data-bs-target="#recordModal"><i class="fa fa-plus"></i> 添加</button>
            </script>
            <script type="text/html" id="tool">
                <button type="button" class="layui-btn layui-btn-xs" data-bs-toggle="modal" data-bs-target="#recordModal" data-id="{{ d.id }}" title="编辑"><i class="fa fa-user-edit"></i></button>
                <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del" title="删除"><i class="fa fa-trash-can"></i></button>
            </script>
            {/if}
        </div>

    </div>
</div>
{include file="../common/customer/edit_record" /}
{/block}
{block name="js"}
<script src="__STATIC__/lib/layui_exts/excel.js"></script>
<script>
    layui.use(['layer', 'miniTab', 'jquery', 'table', 'laydate'], function () {
        let $ = layui.jquery,
            layer = layui.layer,
            miniTab = layui.miniTab,
            laydate = layui.laydate,
            table = layui.table;

        miniTab.listen();
        let option = { icon: 0 }, customer_id = '{$customerId}'
        // 客户列表
        table.init('currentTableFilter', {
            id: 'recordTable',
            url: '{:url("/CustomerRecord/getCustomerRecordList")}',
            method: 'post',
            where: {
                customer_id: customer_id
            },
            toolbar: '#currentTableBar',
            // height: 680,
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            //异步请求，格式化数据
            parseData: function (res) {
                return {
                    'code': 0,
                    'msg': '',
                    'data': res.data,
                    'count': res.total
                }
            },
            page: {
                limits: [15, 30, 45, 60],
                limit: 15,
            },
            skin: 'line',
            even: true,
        });

        table.on('tool(currentTableFilter)', function (obj) {
            let id = obj.data.id;
            switch (obj.event) {
                case 'edit':
                    layer.open({
                        type: 2,
                        title: '编辑',
                        area: ['700px', '600px'],
                        content: '{:url("/CustomerRecord/edit")}?id=' + id
                    });
                    break;
                case 'del':
                    layer.confirm('确定删除么？', { title: '温馨提示'}, function () {
                        $.post('{:url("/CustomerRecord/del")}', { id: id }, function (res) {
                            if (res.code === 1) {
                                option.icon = 1;
                                table.reload('recordTable', {
                                    page: {
                                        curr: 1
                                    }
                                })
                            }

                            layer.msg(res.msg, option);
                        })
                    })
                    break;
            }
        });
        table.on('toolbar(currentTableFilter)', function (obj) {
            switch (obj.event) {
                case 'add':
                    layer.open({
                        type: 2,
                        title: '添加',
                        area: ['700px', '600px'],
                        content: '{:url("/CustomerRecord/add", ["customer_id" => $customerId])}'
                    });
                    break;
            }
        })

        // 回访记录模态
        const recordModal = new bootstrap.Modal('#recordModal')
        const recordForm = $('form[name=record-add-form]')
        recordForm.find('input[name=customer_id]').val(customer_id)
        $('#recordModal').on('show.bs.modal', function (e) {
            let id = $(e.relatedTarget).data('id')
            let f = document['record-add-form'], title = ''
            if (id) {
                title = '编辑'
                $.get("{:url('/CustomerRecord/edit')}", { id: id }, function (res) {
                    if (res.code === 1) {
                        for (let i = 0; i < f.elements.length; i++) {
                            let name = f.elements[i].name,
                                nodeName = f.elements[i].nodeName,
                                el = $(e.currentTarget).find('[name="' + name + '"]');
                            el.val(res.data[name])
                        }
                    }
                })
            } else {
                $('[name="id"]').val('')
                title = '添加'
                // 重置表单
                f.reset()
            }

            console.log(title)

            $('.offcanvas-title').text(title)
            laydate.render({
                elem: '#record-datetime',
                type: 'datetime',
            })
        })
        recordForm.submit(function (e) {
            let formData = $(this).serializeArray(),
                id = $('[name="id"]').val(),
                url = id ? '{:url("/CustomerRecord/edit")}' : '{:url("/CustomerRecord/add")}'

            $.post(url, formData, function (res) {
                let op = { title: res.msg }
                if (res.code === 1) {
                    op.icon = 'success'
                    recordModal.hide()

                    table.reload('recordTable', {
                        page: {
                            curr: 1
                        }
                    })
                }

                Toast.fire(op)
            })

            return false
        })
    });
</script>

{/block}
