
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" style="width: 600px;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">编辑</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form class="" action="" id="formEditor" name="formEditor">
            <input type="hidden" name="id" value="" />
            <input type="hidden" name="type" value="{$type}" />
            <div class="mb-3">
                <label class="form-label">类型</label>
                <select class="form-select" name="cate">
                    {foreach $cateList as $key => $val}
                    {if $key >= 0}
                    <option value="{$key}">{$val}</option>
                    {/if}
                    {/foreach}
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label" for="account">{$typeText}名称</label>
                <input type="text" name="title" id="account" placeholder="{$typeText}名称"
                       autocomplete="off" class="form-control" value="" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="phone">手机号</label>
                <input type="text" name="phone" id="phone" placeholder="手机号"
                       autocomplete="off" class="form-control" value="" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="professional">专业</label>
                <input type="text" name="professional" id="professional" placeholder="专业"
                       autocomplete="off" class="form-control" value="">
            </div>

            <div class="mb-3">
                <label class="form-label" for="province">所在地</label>
                <input type="text" name="province" placeholder="所在地"
                       autocomplete="off" class="form-control" id="province" value="">
            </div>

            <div class="mb-3">
                <label class="form-label" for="email">邮箱</label>
                <input type="text" name="email" id="email" placeholder="邮箱"
                       autocomplete="off" class="form-control" value="">
            </div>

            <div class="mb-3">
                <label class="form-label" for="comment">备注</label>
                <textarea type="text" name="comment" placeholder="备注"
                          autocomplete="off" class="layui-textarea" id="comment"></textarea>
            </div>
            <div class="mb-3 d-grid">
                <button class="btn btn-primary" type="submit">
                    保 存
                </button>
            </div>
        </form>
    </div>
</div>
