{extend name="public/base" /}
{block name="css"}
{include file="public/bootstrap" /}
{/block}
{block name="body"}

<div class="container-fluid bg-white rounded-3 py-3">
    <div class="row">
        <div class="col">
            <form class="layui-form layui-form-pane" lay-filter="searchForm" action="">
                <div class="layui-form-item">
                    {if ($module === 'admin')}
                    <div class="layui-inline">
                        <label class="layui-form-label">筛选</label>
                        <div class="layui-input-inline">
                            <select name="company_id" lay-filter="filterCompany">
                                <option value="0">全部公司</option>
                                {foreach $company as $val}
                                <option value="{$val.id}">{$val.corporation}</option>
                                {/foreach}
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select name="user_id" lay-filter="filterUser">
                            </select>
                        </div>
                    </div>
                    {/if}
                    {if ($module !== 'home')}
                    <div class="layui-inline">
                        <label class="layui-form-label">分配状态</label>
                        <div class="layui-input-inline">
                            <select name="status" lay-filter="distributionFilter">
                                <option value="-1">全部</option>
                                <option value="0">未分配</option>
                                <option value="1">已分配</option>
                            </select>
                        </div>
                    </div>
                    {/if}

                    <div class="layui-inline" id="datetime">
                        <label class="layui-form-label">时间筛选</label>
                        <div class="layui-input-inline">
                            <input type="text" name="startDate" autocomplete="off" id="startDate" class="layui-input" placeholder="开始日期">
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline">
                            <input type="text" name="endDate" autocomplete="off" id="endDate" class="layui-input" placeholder="结束日期">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">搜索</label>
                        <div class="layui-input-inline">
                            <select name="operate" lay-filter="filterOperate">
                                <option value="title">客户名称</option>
                                <option value="phone">联系电话</option>
                                <option value="comment">备 注</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="keyword" class="layui-input" value="" placeholder="关键词">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <button type="submit" class="layui-btn layui-btn-normal" lay-submit
                                lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary"><i class="fa fa-refresh"></i> 重 置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-2 col-md-3 col-sm-12">
            <div class="layui-card border border-light-subtle mt-2">
                <div class="layui-card-header">分类</div>
                <div class="layui-card-body">
                    <ul class="layui-menu p-0" id="filterCate">
                        {foreach $cateList as $key => $val}
                        <li class="{if ($key == '-1')}layui-menu-item-checked{/if}" lay-options="{cate: {$key}}">
                            <div class="layui-menu-body-title">{$val}</div>
                        </li>
                        {/foreach}
                    </ul>
                </div>
            </div>
            {if $module !== 'home'}
            <div class="layui-card border border-light-subtle">
                <div class="layui-card-header">筛选</div>
                <div class="layui-card-body overflow-y-auto overflow-x-hidden" style="max-height: 380px;">
                    <ul class="layui-menu p-0" id="filterUser">
                        {if $module === 'admin'}
                        <li class="layui-menu-item-checked" lay-options="{user_id: 0, company_id: 0}">
                            <div class="layui-menu-body-title">全部</div>
                        </li>
                        {foreach $company as $key => $val}
                        <li class="layui-menu-item-group layui-menu-item-up" lay-options="{type: 'group'}">
                            <div class="layui-menu-body-title">
                                {$val.corporation} <i class="layui-icon layui-icon-up"></i>
                            </div>
                            {if !empty($val.user)}
                            <ul class="p-0">
                                <li class="" lay-options="{user_id: 0, company_id: {$company[$key]['user'][0]['company_id']}}">
                                    <div class="layui-menu-body-title">全部</div>
                                </li>
                                {foreach $val.user as $k => $v}
                                <li lay-options="{user_id: {$v.id}, company_id: {$v.company_id}}">
                                    <div class="layui-menu-body-title">{$v.realname}</div>
                                </li>
                                {/foreach}
                            </ul>
                            {/if}
                        </li>
                        {/foreach}
                        {elseif $module === 'company'}
                        <li class="layui-menu-item-checked" lay-options="{user_id: 0, company_id: 0}">
                            <div class="layui-menu-body-title">全部</div>
                        </li>
                        {foreach $users as $key => $val}
                        <li class="" lay-options="{user_id: {$val.id}, company_id: {$val.company_id}}">
                            <div class="layui-menu-body-title">{$val.realname}</div>
                        </li>
                        {/foreach}
                        {/if}
                    </ul>
                </div>
            </div>
            {/if}
        </div>

        <div class="col-lg-10 col-md-9 col-sm-12">
            <table class="layui-table" id="currentTableId" lay-filter="currentTableFilter" lay-data="">
                <thead>
                <tr>
                    <th lay-data="{type: 'checkbox', fixed: 'left'}"></th>
                    <th lay-data="{field: 'id', title: 'ID', align: 'center', width: 100, fixed: 'left'}"></th>
                    <th lay-data="{field: 'title', title: '客户名称', align: 'center', width: 200}"></th>
                    <th lay-data="{field: 'phone', title: '联系电话', align: 'center', style: 'cursor: pointer;', templet: '#phone', event: 'showPhone', width: 150}"></th>
                    <th lay-data="{field: 'province', title: '所在地', align: 'center', width: 100}"></th>
                    <th lay-data="{field: 'comment', title: '备注', align: 'center', width: 240}"></th>
                    <th lay-data="{field: 'cate_text', title: '类型', align: 'center', width: 100}"></th>
                    {if ($module === 'admin')}
                    <th lay-data="{field: 'corporation', title: '所属公司', align: 'center', width: 300}"></th>
                    {/if}
                    {if ($module !== 'home')}
                    <th lay-data="{field: 'realname', title: '跟进人', align: 'center', width: 150}"></th>
                    {/if}
                    <th lay-data="{field: 'called_count', title: '呼叫次数', align: 'center', width: 100}"></th>
                    <th lay-data="{field: 'record_count', title: '回访记录', align: 'center', width: 100, event: 'showRecord', style: 'cursor: pointer;', templet: '#record'}"></th>
                    <th lay-data="{field: 'last_calltime', title: '最近呼叫', align: 'center', width: 180}"></th>
                    <th lay-data="{field: 'create_time', title: '创建时间', align: 'center', width: 180}"></th>
                    {if ($module !== 'admin')}
                    <th lay-data="{fixed: 'right', title: '操作', toolbar: '#barDemo', align: 'center', width: 150}"></th>
                    {/if}
                </tr>
                </thead>
            </table>

            <script type="text/html" id="phone">
                <span class="hide-phone d-inline" data-value="{{d.phone}}" data-show="false">{{d.phone}}</span> <i class="fa-regular fa-eye phone-icon" title="点击查看"></i>
            </script>

            <script type="text/html" id="record">
                <span class="text-primary" title="点击查看">{{d.record_count}}</span>
            </script>

            {if ($module !== 'admin')}
            <button type="button" class="layui-btn layui-btn-sm data-count-edit layui-btn-normal d-none" id="importExcel">导入客户</button>
            <script type="text/html" id="currentTableBar">
                <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"><i class="fa fa-plus"></i> 添加客户</button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="importExcel"><i class="fa fa-file-import"></i> 导入客户</button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-info" lay-event="info"><i class="fa fa-info"></i> 导入说明</button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-warm" lay-event="delete"><i class="fa fa-trash-can"></i> 批量删除</button>
                {if ($module === 'company')}
                <button type="button" class="layui-btn layui-btn-sm layui-btn-danger" lay-event="distribution"><i class="fa fa-share-from-square"></i> 分配客户</button>
                {/if}
                <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" lay-event="changeCate"><i class="fa fa-up-down-left-right"></i> 移动分类</button>
                <span class="ms-3 text-secondary">注：点击'回访记录'列可查看详细内容</span>
            </script>
            {/if}

            <script type="text/html" id="barDemo">
                {if ($module === 'home')}
                <button type="button" class="layui-btn layui-btn-xs layui-btn-normal" lay-event="makeCall" title="点击拨号"><i class="fa fa-phone"></i></button>
                {/if}
                <button type="button" class="layui-btn layui-btn-info layui-btn-xs" data-bs-toggle="offcanvas" data-id="{{ d.id }}" data-bs-target="#offcanvas" title="编辑"><i class="fa fa-user-edit"></i></button>
                <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete" title="删除"><i class="fa fa-trash-can"></i></button>
            </script>
        </div>
    </div>
</div>

{include file="customer/edit" /}
{/block}
{block name="js"}
<script src="__STATIC__/lib/layui_exts/excel.js"></script>
<script>
    layui.use(['layer', 'miniTab', 'element', 'excel', 'upload', 'table', 'form', 'laydate', 'dropdown'], function () {
        let $ = layui.jquery,
            layer = layui.layer,
            miniTab = layui.miniTab,
            element = layui.element,
            excel = layui.excel,
            table = layui.table,
            upload = layui.upload,
            dropdown = layui.dropdown,
            laydate = layui.laydate,
            form = layui.form;

        //菜单点击事件
        dropdown.on('click(filterUser)', function(options){
            reloadTable(Object.assign({}, form.val('searchForm'), options), true)
        });
        dropdown.on('click(filterCate)', function(options){
            reloadTable(Object.assign({}, form.val('searchForm'), options), true)
        });

        laydate.render({
            elem: '#datetime',
            range: ['#startDate', '#endDate'],
            type: 'datetime',
            done: function (value) {
                let d = value.split(' - '),
                    params = [],
                    user = eval('(' + $('#filterUser li.layui-menu-item-checked').attr('lay-options') + ')'),
                    cate = eval('(' + $('#filterCate li.layui-menu-item-checked').attr('lay-options') + ')');
                params = Object.assign({}, form.val('searchForm'), { startDate: d[0], endDate: d[1] })
                Object.assign(params, user)
                Object.assign(params, cate)
                reloadTable(params)
            }
        });

        let offcanvas = $('#offcanvas')
        offcanvas.on('show.bs.offcanvas', e => {
            let id = $(e.relatedTarget).data('id')
            let f = document.formEditor, title = ''
            if (id) {
                title = '编辑'
                $.get('{:url("/customer/edit")}', { id: id }, res => {
                    if (res.code === 1) {
                        for (let i = 0; i < f.elements.length; i++) {
                            let name = f.elements[i].name,
                                nodeName = f.elements[i].nodeName,
                                el = $(e.currentTarget).find('[name="' + name + '"]');

                            if (nodeName === 'SELECT') {
                                let v = Object.keys(res.cateList).find(key => parseInt(key) === res.data[name])
                                el.val(v)
                            } else {
                                el.val(res.data[name])
                            }

                            if (name === 'phone') {
                                el.attr('disabled', true)
                            }
                        }
                    }
                })
            } else {
                title = '添加'
                $(e.currentTarget).find('[name="phone"]').attr('disabled', false)
                f.reset()
            }

            $('.offcanvas-title').text(title)
        })

        $('form[name="formEditor"]').submit(function () {
            let formData = $(this).serialize(), id = $('[name="id"]').val()
            let url = id ? '{:url("/customer/edit")}' : '{:url("/customer/add")}'
            $.post(url, formData, function (res) {
                let option = { title: res.msg }
                if (res.code === 1) {
                    option.icon = 'success'
                    option.timer = 1500
                    let params = [],
                        cate_item = $('.cate-list.active')
                    params[cate_item.data('name')] = cate_item.data('key')
                    Toast.fire(option).then(function () {
                        table.reload('customerTable', {
                            where: Object.assign({}, form.val('searchForm'), params)
                        })
                        $('[data-bs-dismiss="offcanvas"]').click()
                    })
                } else {
                    Toast.fire(option)
                }

            })

            return false
        })

        miniTab.listen();
        let option = { icon: 0 }

        table.init('currentTableFilter', {
            id: 'customerTable',
            url: '{:url("/customer/getCustomerList")}',
            method: 'post',
            toolbar: '#currentTableBar',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            parseData: function (res) {
                return {
                    'code': 0,
                    'msg': '',
                    'data': res.data,
                    'count': res.total
                }
            },
            page: {
                limits: [15, 30, 45, 60, 90, 150, 300, 600, 900, 1500],
                limit: 15,
            },
            even: true,
            skin: 'line',
            cellMinWidth: 50,
        })

        table.on('tool(currentTableFilter)', function (obj) {
            let editId = obj.data.id;
            // 传这个Id去后台查出备忘列表，渲染
            switch (obj.event) {
                case 'showRecord':
                    let index = layer.open({
                        title: '回访记录列表',
                        type: 2,
                        shade: 0.2,
                        maxmin: true,
                        shadeClose: true,
                        area: ['100%', '100%'],
                        content: '{:url("/customer/customerRecordList")}?customerId=' + editId,
                    });
                    $(window).on("resize", function () {
                        layer.full(index);
                    });
                    break;
                case 'showPhone':
                    let hide = $(this).find('.hide-phone'), icon = $(this).find('.phone-icon');

                    if (hide.data('show')) {
                        hide.text(hide.data('value')).data('show', false)
                        icon.removeClass('fa-eye-slash').addClass('fa-eye')
                    } else {
                        $.get('{:url("/customer/getCustomerPhone")}', { id: editId }, function (res) {
                            if (res.code === 1 && res.data) {
                                hide.text(res.data).data('show', true)
                                icon.removeClass('fa-eye').addClass('fa-eye-slash')
                            } else {
                                Toast.fire({
                                    title: res.msg,
                                })
                            }
                        })
                    }
                    break;
                case 'makeCall':
                    makeCall({ phone: obj.data.phone, customerId: obj.data.id }, obj);
                    break;
                case 'delete':
                    layer.confirm('确定删除么？', { title: '温馨提示' }, function (index) {
                        layer.close(index)
                        $.post('{:url("/customer/del")}', { id: editId }, function (res) {
                            let op = { title: res.msg }
                            if (res.code === 1) {
                                op.icon = 'success';
                                op.timer = 1500
                                Toast.fire(op).then(() => {
                                    reloadTable()
                                })
                            } else {
                                Toast.fire(op);
                            }
                        })
                    })
                    break;
            }
        });

        table.on('toolbar(currentTableFilter)', function (obj) {
            let checkStatus = table.checkStatus('customerTable').data;
            let ids = '';

            if (['distribution', 'changeCate', 'delete'].includes(obj.event)) {
                let temp = [];
                if (checkStatus.length <= 0) {
                    Toast.fire('请选择客户', { timer: 1500 });
                    return false;
                }

                $.each(checkStatus, (index, item) => {
                    temp.push(item.id)
                })

                if (temp.length > 0) {
                    ids = temp.join(',')
                }
            }

            switch (obj.event) {
                case 'distribution':
                    let userId = 0;
                    layer.open({
                        type: 1,
                        title: '选择用户',
                        skin: 'layui-layer-rim',
                        area: ['420px', '500px'],
                        content: `
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <ul class="list-group">
                                            {if ($module === 'company')}
                                            {foreach $user.user as $key => $val}
                                            <li class="list-group-item select-user" data-id="{$val.id}">{$val.realname}</li>
                                            {/foreach}
                                            {/if}
                                        </ul>
                                    </div>
                                </div>
                                `,
                        success: function(layero, index){
                            layero.find('.select-user').on('click', function () {
                                userId = $(this).data('id')

                                $.post('{:url("/customer/distribution")}', { ids: ids, user_id: userId }, function (res) {
                                    let op = { title: res.msg }
                                    if (res.code === 1) {
                                        layer.close(index)
                                        op.icon = 'success'
                                        op.timer = 1500
                                        Toast.fire(op).then(() => {
                                            table.reload('customerTable', {
                                                page: {
                                                    curr: 1
                                                }
                                            })
                                        })
                                    } else {
                                        Toast.fire(op)
                                    }
                                })
                            })
                        }
                    });
                    break;
                case 'changeCate':
                    let cateId = 0;
                    layer.open({
                        type: 1,
                        title: '选择分类',
                        skin: 'layui-layer-rim',
                        area: ['420px', '500px'],
                        content: `
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <ul class="list-group">
                                            {foreach $cateList as $key => $val}
                                            {if $key >= 0}
                                            <li class="list-group-item select-cate" data-id="{$key}">{$val}</li>
                                            {/if}
                                            {/foreach}
                                        </ul>
                                    </div>
                                </div>
                                `,
                        success: function(layero, index){
                            layero.find('.select-cate').on('click', function () {
                                cateId = $(this).data('id')

                                $.post('{:url("/customer/changeCate")}', { ids: ids, cate: cateId }, function (res) {
                                    let op = { title: res.msg }
                                    if (res.code === 1) {
                                        layer.close(index)
                                        op.icon = 'success'
                                        op.timer = 1500
                                        Toast.fire(op).then(() => {
                                            table.reload('customerTable')
                                        })
                                    } else {
                                        Toast.fire(op)
                                    }
                                })
                            })
                        }
                    });
                    break;
                case 'info':
                    layer.open({
                        type: 1,
                        title: false,
                        skin: 'layui-layer-rim',
                        area: ['615px', '385px'],
                        content: `<div class="p-3">
                           注：只能上传Excel表格，格式为:<br /> ['客户名称', '电话号码', '所在地', '邮箱', '备注']
                           <img src="__STATIC__/images/customer-example-import.png" class="pt-3" />
                        </div>`
                    });
                    break;
                case 'importExcel':
                    $('#importExcel').click();
                    break;
                case 'delete':
                    layer.confirm('确定删除么？', { title: '温馨提示' }, function (index) {
                        $.post('{:url("/customer/del")}', { id: ids }, function (res) {
                            layer.close(index)
                            let op = { title: res.msg }
                            if (res.code === 1) {
                                op.icon = 'success'
                                op.timer = 1500
                                Toast.fire(op).then(() => {
                                    reloadTable()
                                })
                            } else {
                                Toast.fire(op)
                            }
                        })
                    });
                    break;
            }
        });

        let makeCall = function (params = { phone: '', customerId: 0 }, obj = null) {
            $.post('{:url("/hbcall/makeCall")}', { mobile: params.phone, customerId: params.customerId }, function (res) {
                if ((res.code == '1000' || res.code == '0000' || res.code == '1003') && res.code !== 0) {
                    obj.update({
                        last_calltime: utils.getDateTime(),
                        called_count: obj.data.called_count + 1
                    })

                    utils.caller.success(res)
                } else {
                    utils.caller.fail(res)
                }
            });
        }

        // 导入客户
        let loading = null, flag = false;
        let uploadIns = upload.render({
            elem: '#importExcel',
            url: '{:url("/customer/importExcel")}',
            accept: 'file', //普通文件
            exts: 'xls|excel|xlsx', //导入表格
            auto: true,  //选择文件后不自动上传
            before: function (obj) {
                // loading = layer.load(); //上传loading
                if (!flag) {
                    let layero = layer.confirm('是否允许上传重复的客户，注：重复的客户以客户电话为准',
                        { icon: 3, title: '温馨提示', btn: ['允许', '不允许'] }, function (index) {
                        uploadIns.config.data.is_repeat_customer = 1
                        layer.close(index)
                        flag = true
                        uploadIns.upload()
                    }, function (index) {
                        uploadIns.config.data.is_repeat_customer = 0
                        flag = true
                        uploadIns.upload()
                    })
                }

                return flag
            },
            // 选择文件回调
            choose: function (obj) {
            },
            done: function (res) {
                layer.close(loading)
                let op = { title: res.msg }
                if (res.code === 1) {
                    op.icon = 'success';
                    op.timer = 1500
                    table.reload('customerTable', {
                        page: {
                            curr: 1
                        }
                    })
                }

                flag = false
                Toast.fire(op)
            },
            error: function () {
                flag = false
                setTimeout(function () {
                    Toast.fire("上传失败！");
                    //关闭所有弹出层
                    layer.close(loading); //疯狂模式，关闭所有层
                }, 1000);
            }
        });

        let reloadTable = function (params = {}, deep = false) {
            table.reload('customerTable', {
                where: params,
                page: {
                    curr: 1
                }
            }, deep)
        }
        form.on('select(distributionFilter)', function (data) {
            let params = [],
                user = eval('(' + $('#filterUser li.layui-menu-item-checked').attr('lay-options') + ')'),
                cate = eval('(' + $('#filterCate li.layui-menu-item-checked').attr('lay-options') + ')');
            params[data.elem.name] = data.value
            params = Object.assign({}, form.val('searchForm'), params)
            Object.assign(params, user)
            Object.assign(params, cate)
            reloadTable(params);
        })

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            let user = eval('(' + $('#filterUser li.layui-menu-item-checked').attr('lay-options') + ')'),
                cate = eval('(' + $('#filterCate li.layui-menu-item-checked').attr('lay-options') + ')');
            Object.assign(data.field, user)
            Object.assign(data.field, cate)
            //执行搜索重载
            reloadTable(data.field)

            return false
        });

        $('button[type="reset"]').on('click', function () {
            let params = [],
                user = eval('(' + $('#filterUser li.layui-menu-item-checked').attr('lay-options') + ')'),
                cate = eval('(' + $('#filterCate li.layui-menu-item-checked').attr('lay-options') + ')');
            Object.assign(params, user)
            Object.assign(params, cate)
            reloadTable(params)
        })
    });
</script>

{/block}
