{extend name="public/base" /}
{block name="css"}
{include file="public/bootstrap" /}
{/block}
{block name="body"}

<div class="container-fluid bg-white rounded-3 py-3">
    <div class="row">
        <div class="col">
            <form class="layui-form layui-form-pane" lay-filter="searchForm" name="searchForm">
                <div class="layui-form-item">
                    {if ($module !== 'home')}
                    <div class="layui-inline">
                        <label class="layui-form-label">分配状态</label>
                        <div class="layui-input-inline">
                            <select name="status" lay-filter="distributionFilter">
                                <option value="-1">全部</option>
                                <option value="0">未分配</option>
                                <option value="1">已分配</option>
                            </select>
                        </div>
                    </div>
                    {/if}

                    <div class="layui-inline" id="datetime">
                        <label class="layui-form-label">时间筛选</label>
                        <div class="layui-input-inline">
                            <input type="text" name="startDate" autocomplete="off" id="startDate" class="layui-input" placeholder="开始日期">
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline">
                            <input type="text" name="endDate" autocomplete="off" id="endDate" class="layui-input" placeholder="结束日期">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">搜索</label>
                        <div class="layui-input-inline">
                            <select name="operate" lay-filter="filterOperate">
                                {foreach ($searchItem as $key => $item)}
                                <option value="{$key}">{$item}</option>
                                {/foreach}
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="keyword" class="layui-input" value="" placeholder="关键词">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <button type="submit" class="layui-btn layui-btn-normal" lay-submit
                                lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary"><i class="fa fa-refresh"></i> 重 置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-2 col-md-3 col-sm-12">
            <div class="layui-card border border-light-subtle mt-2">
                <div class="layui-card-header">分类</div>
                <div class="layui-card-body">
                    <ul class="layui-menu p-0" id="filterCate">
                        {foreach $cateList as $key => $val}
                        <li class="{if ($key == '-1')}layui-menu-item-checked{/if}" lay-options="{cate: {$key}}">
                            <div class="layui-menu-body-title">{$val}</div>
                        </li>
                        {/foreach}
                    </ul>
                </div>
            </div>
            {if $module !== 'home'}
            <div class="layui-card border border-light-subtle">
                <div class="layui-card-header">筛选</div>
                <div class="layui-card-body overflow-y-auto overflow-x-hidden" style="max-height: 380px;">
                    <ul class="layui-menu p-0" id="filterUser">
                        {if $module === 'admin'}
                        <li class="layui-menu-item-checked" lay-options="{user_id: 0, company_id: 0}">
                            <div class="layui-menu-body-title">全部</div>
                        </li>
                        {foreach $company as $key => $val}
                        <li class="layui-menu-item-group layui-menu-item-up" lay-options="{type: 'group'}">
                            <div class="layui-menu-body-title">
                                {$val.corporation} <i class="layui-icon layui-icon-up"></i>
                            </div>
                            {if !empty($val.user)}
                            <ul class="p-0">
                                <li class="" lay-options="{user_id: 0, company_id: {$company[$key]['user'][0]['company_id']}}">
                                    <div class="layui-menu-body-title">全部</div>
                                </li>
                                {foreach $val.user as $k => $v}
                                <li lay-options="{user_id: {$v.id}, company_id: {$v.company_id}}">
                                    <div class="layui-menu-body-title">{$v.realname}</div>
                                </li>
                                {/foreach}
                            </ul>
                            {/if}
                        </li>
                        {/foreach}
                        {elseif $module === 'company'}
                        <li class="layui-menu-item-checked" lay-options="{user_id: 0, company_id: {$user.id}}">
                            <div class="layui-menu-body-title">全部</div>
                        </li>
                        {foreach $users as $key => $val}
                        <li class="" lay-options="{user_id: {$val.id}, company_id: {$val.company_id}}">
                            <div class="layui-menu-body-title">{$val.realname}</div>
                        </li>
                        {/foreach}
                        {/if}
                    </ul>
                </div>
            </div>
            {/if}
        </div>

        <div class="col-lg-10 col-md-9 col-sm-12">
            <table class="layui-table" id="currentTableId" lay-filter="currentTableFilter" lay-data="">
                <thead>
                <tr>
                    <th lay-data="{type: 'checkbox', fixed: 'left'}"></th>
                    <th lay-data="{field: 'id', title: 'ID', align: 'center', width: 100, fixed: 'left'}"></th>
                    <th lay-data="{field: 'title', title: '{$typeText}名称', align: 'center', width: 200}"></th>
                    <th lay-data="{field: 'phone', title: '联系电话', align: 'center', style: 'cursor: pointer;', templet: '#phone', event: 'showPhone', width: 150}"></th>
                    <th lay-data="{field: 'province', title: '所在地', align: 'center', width: 100}"></th>
                    <th lay-data="{field: 'comment', title: '备注', align: 'center', width: 240}"></th>
                    <th lay-data="{field: 'cate_text', title: '类型', align: 'center', width: 100}"></th>
                    {if $type === 2}
                    <th lay-data="{field: 'professional', title: '专业', align: 'center', width: 150}"></th>
                    <th lay-data="{field: 'certificate', title: '证书类型', align: 'center', width: 100}"></th>
                    {/if}
                    {if ($module === 'admin')}
                    <th lay-data="{field: 'corporation', title: '所属公司', align: 'center', width: 300}"></th>
                    {/if}
                    {if ($module !== 'home')}
                    <th lay-data="{field: 'realname', title: '跟进人', align: 'center', width: 150}"></th>
                    {/if}
                    <th lay-data="{field: 'called_count', title: '呼叫次数', align: 'center', width: 100}"></th>
                    <th lay-data="{field: 'record_count', title: '回访记录', align: 'center', width: 100, event: 'showRecord', style: 'cursor: pointer;', templet: '#record'}"></th>
                    <th lay-data="{field: 'last_calltime', title: '最近呼叫', align: 'center', width: 180}"></th>
                    <th lay-data="{field: 'create_time', title: '创建时间', align: 'center', width: 180}"></th>
                    <th lay-data="{field: 'update_time', title: '更新时间', align: 'center', width: 180}"></th>
                    {if ($module !== 'admin')}
                    <th lay-data="{fixed: 'right', title: '操作', toolbar: '#barDemo', align: 'center', width: 150}"></th>
                    {/if}
                </tr>
                </thead>
            </table>

            <script type="text/html" id="phone">
                <span class="hide-phone d-inline" data-value="{{d.phone}}" data-show="false">{{d.phone}}</span> <i class="fa-regular fa-eye phone-icon" title="点击查看"></i>
            </script>

            <script type="text/html" id="record">
                <span class="text-primary" title="点击查看">{{d.record_count}}</span>
            </script>

            <button type="button" class="layui-btn layui-btn-sm data-count-edit layui-btn-normal d-none" id="importExcel">导入{$typeText}</button>
            <script type="text/html" id="currentTableBar">
                {if ($module !== 'admin')}
                <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"><i class="fa fa-plus"></i> 添加{$typeText}</button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="importExcel"><i class="fa fa-file-import"></i> 导入{$typeText}</button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-info" lay-event="info"><i class="fa fa-info"></i> 导入说明</button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-warm" lay-event="delete"><i class="fa fa-trash-can"></i> 批量删除</button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" lay-event="changeCate"><i class="fa fa-up-down-left-right"></i> 移动分类</button>
                {if ($module === 'company')}
                <button type="button" class="layui-btn layui-btn-sm layui-btn-danger" lay-event="distribution"><i class="fa fa-share-from-square"></i> 分配{$typeText}</button>
                {if $user->talent_on}
                <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="migrate"><i class="fa fa-share-from-square"></i> 迁移{$typeText}</button>
                {/if}
                <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" lay-event="trash" title="已分配并且被回收的数据"><i class="fa fa-trash-can"></i> 回收站</button>
                {/if}
                {/if}
                <span class="ms-3 text-secondary">注：点击'回访记录'列可查看详细内容</span>
            </script>

            <script type="text/html" id="barDemo">
                {if ($module === 'home')}
                <button type="button" class="layui-btn layui-btn-xs layui-btn-normal" lay-event="makeCall" title="点击拨号"><i class="fa fa-phone"></i></button>
                {/if}
                <button type="button" class="layui-btn layui-btn-info layui-btn-xs" data-bs-toggle="offcanvas" data-id="{{ d.id }}" data-bs-target="#offcanvas" title="编辑"><i class="fa fa-user-edit"></i></button>
                <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete" title="删除"><i class="fa fa-trash-can"></i></button>
            </script>
        </div>
    </div>
</div>
{include file="customer/edit" /}
{/block}
{block name="js"}
{if ($module === 'company')}
<script>
    let user = JSON.parse('{:json_encode($user->user->visible(["id", "username"]))}')
</script>
{/if}
<script>
    let type = {$type},
        typeText = '{$typeText}',
        cateList = JSON.parse('{:json_encode($cateList)}');
</script>
<script src="__STATIC__/js/common/customer.js?v={:time()}"></script>
{/block}
