<!-- Modal -->
<div class="modal fade" id="recordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">回访记录</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="" name="record-add-form" action="">
                    <input type="hidden" name="customer_id" value="{$customer_id|default=''}" />

                    <div class="mb-3">
                        <label class="form-label" for="comment">记录内容</label>
                        <textarea type="text" name="content" id="comment" placeholder="记录内容"
                                  autocomplete="off" class="layui-textarea" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">下次回访</label>
                        <input type="text" class="layui-input" name="next_call_time" id="record-datetime" placeholder="yyyy-MM-dd" required>
                    </div>
                    <div class="mb-3 d-grid">
                        <button class="btn btn-primary" type="submit">保 存
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
