{extend name="../common/public/base" /}
{block name="css"}
{include file="../common/public/bootstrap" /}
<link href="__STATIC__/lib/summernote-0.8.18-dist/summernote-lite.min.css" rel="stylesheet">
{/block}
{block name="body"}
<div class="layuimini-container">
    <div class="layuimini-main" id="app">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                {foreach $groupItemList as $key => $val}
                {if $val['switch']}
                <li {if $key === 'site'}class="layui-this"{/if}>{$val['title']}</li>
                {/if}
                {/foreach}
                <li>配置项管理</li>
            </ul>
            <div class="layui-tab-content">
                {foreach $groupItemList as $key => $val}
                {if $val['switch']}
                <div class="layui-tab-item {if $key === 'site'} layui-show {/if}">
                    <form id="app-form" class="layui-form layuimini-form">
                        {foreach $groupList[$key] as $k => $v}
                        {if $v.group_name === $key}
                        <div class="layui-form-item">
                            <label class="layui-form-label {if $v.required} required {/if}">{$v.title}</label>
                            {switch $v['type']}
                                {case text}
                                <div class="layui-input-block">
                                    <input type="text" name="{$v.name}" class="layui-input" {if $v.required} lay-verify="required" {/if} placeholder="请输入{$v.title}" value="{$v.value}">
                                    {if !empty($v.tip)}
                                    <tip>{$v.tip}</tip>
                                    {/if}
                                </div>
                                {/case}
                                {case radio}
                                <div class="layui-input-block">
                                    {foreach ['local'=>'本地存储','alioss'=>'阿里云oss','qnoss'=>'七牛云oss','txcos'=>'腾讯云cos'] as $key1 => $val1}
                                    <input type="radio" name="{$v.name}" lay-filter="upload_type" value="{$key1}" title="{$val1}" {if $key1 === $v.value}checked=""{/if}>
                                    {/foreach}
                                    <tip>{$v.tip}</tip>
                                </div>
                                {/case}
                                {case textarea}
                                <div class="layui-input-block">
                                    <textarea name="{$v.name}" class="layui-textarea" {if $v.required} required lay-verify="required" {/if}>{$v.value}</textarea>
                                </div>
                                {/case}
                                {case editor}
                                <div class="layui-input-block">
                                    <textarea name="{$v.name}" class="editor" {if $v.required} required lay-verify="required" {/if}>{$v.value}</textarea>
                                </div>
                                {/case}
                            {/switch}
                        </div>
                        {/if}
                        {/foreach}

                        <div class="hr-line"></div>
                        <div class="layui-form-item text-center">
                            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit lay-filter="saveBtn">确认</button>
                            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                        </div>
                    </form>
                </div>
                {/if}
                {/foreach}

                <div class="layui-tab-item">
                    {foreach $groupItemList as $key => $val}
                    {if $val['switch']}
                        <div class="row mb-3">
                            <div class="col">
                                <table class="table table-striped table-hover table-sm">
                                    <tr><th colspan="9">{$val['title']}</th></tr>
                                    <tr>
                                        <th>名称</th>
                                        <th>标题</th>
                                        <th>内容</th>
                                        <th>提示</th>
                                        <th>类型</th>
                                        <th>必填</th>
                                        <th>状态</th>
                                        <th>排序</th>
                                        <th>操作</th>
                                    </tr>
                                    {foreach $groupList[$key] as $k => $v}
                                    <tr>
                                        <td>{$v['name']}</td>
                                        <td>{$v['title']}</td>
                                        <td>{$v['content']}</td>
                                        <td>{$v['tip']}</td>
                                        <td>{$v['type_text']}</td>
                                        <td>{$v['required_text']}</td>
                                        <td>{$v['status_text']}</td>
                                        <td>{$v['sort']}</td>
                                        <td>
                                            <div class="d-flex">
                                                <a class="editBtn me-2 text-decoration-none" data-id="{$v['id']}" href="javascript:;" data-bs-toggle="modal" data-bs-target="#editModal">编辑</a>
                                                <a class="delBtn text-danger text-decoration-none" data-id="{$v['id']}" href="javascript:;">删除</a>
                                            </div>
                                        </td>
                                    </tr>
                                    {/foreach}
                                    <tr>
                                        <td colspan="9">
                                            <div class="d-flex justify-content-center">
                                                <a class="addBtn" data-group="{$key}" href="javascript:;" data-bs-toggle="modal" data-bs-target="#editModal"><i class="fa fa-plus"></i> 添加</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    {/if}
                    {/foreach}
                </div>
            </div>
        </div>
    </div>
</div>

{include file="system_config/edit" /}
{/block}

{block name="js"}
<script src="__STATIC__/lib/summernote-0.8.18-dist/summernote-lite.min.js"></script>
<script>
    layui.use(['form', 'miniTab', 'jquery', 'arronUtil', 'table', 'element'], function () {
        let form = layui.form,
            $ = layui.jquery,
            arronUtil = layui.arronUtil,
            element = layui.element,
            miniTab = layui.miniTab;

        // 编辑框
        const SUMMERNOTE_CONFIG = {
            placeholder: '请输入内容',
            tabsize: 2,
            height: 200,
            focus: false,
        }
        $.each($('.editor'), function (index, item) {
            $(item).summernote(SUMMERNOTE_CONFIG)
        })

        let initContentOptions = function (val) {
            if (['radio', 'checkbox', 'select'].includes(val)) {
                $('.content-options').removeClass('d-none')
            } else {
                $('.content-options').addClass('d-none')
            }
        }

        $('select[name="type"]').on('change', function (e) {
            initContentOptions($(this).val())
        })

        $('#editModal').on('show.bs.modal', function (e) {
            let id = $(e.relatedTarget).data('id')
            let f = document.editForm, title = ''
            if (id) {
                title = '编辑'
                $.get(arronUtil.url('/SystemConfig/edit'), {id: id}, res => {
                    if (res.code === 1) {
                        for (const element of f.elements) {
                            let name = element.name,
                                el = $(e.currentTarget).find('[name="' + name + '"]');

                            if (['required', 'status'].includes(name)) {
                                el.prop('checked', res.data[name] === 1)
                            } else {
                                el.val(res.data[name])
                            }
                        }

                        initContentOptions($('select[name="type"]').val())
                    }
                })
            } else {
                title = '添加'
                $('[name="id"]').val('')
                f.reset()
            }

            $('.modal-title').text(title)
        })

        $('form[name="formEditor"]').submit(function () {
            let formData = $(this).serializeArray(),
                id = $('[name="id"]').val(),
                url = id ? arronUtil.url("/User/edit") : arronUtil.url("/User/add"),
                rate = $(this).find('input[name=rate]');

            $.post(url, formData, function (res) {
                let option = { title: res.msg }
                if (res.code === 1) {
                    option.icon = 'success'
                    option.timer = 2000
                    option.didDestroy = function () {
                        if (id) {
                            table.reload('userTable', {
                                where: form.val('searchForm')
                            })
                        } else {
                            controller.reloadTable()
                        }

                        $('[data-bs-dismiss="offcanvas"]').click()
                    }
                }

                arronUtil.Toast.fire(option)
            })

            return false
        })

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.post(arronUtil.url("/SystemConfig/save"), data.field, function (res) {
                let option = { title: res.msg, position: 'top' }
                if (res.code) {
                    option.icon = 'success'
                }

                arronUtil.Toast.fire(option)
            })

            return false;
        })

        $('.delBtn').on('click', function (e) {
            let data = $(this).data()
            arronUtil.Toast.fire({
                title: '真的删除这条数据么',
                showConfirmButton: true,
                confirmButtonText: '确定',
                toast: false,
                icon: 'question',
                timer: false,
            }).then(function (val) {
                if (val.isConfirmed) {
                    $.post(arronUtil.url('/SystemConfig/del'), data, function (res) {
                        let option = { title: res.msg, position: 'top' }
                        if (res.code) {
                            option.icon = 'success'

                            // 移除 tr
                            e.target.closest('tr').remove()
                        }

                        arronUtil.Toast.fire(option)
                    })
                }
            });
        })

        $('.delete-content-option').on('click', function (e) {
            e.target.closest('tr').remove()
        })

        $('.add-content-option').on('click', function (e) {
            $('.content-options').find('table tbody').append($('<tr />')
                .append($('<td />').append($('<input />', {
                    name: 'content[name][]',
                    class: 'form-control form-control-sm',
                    placeholder: '名称',
                })))
            )
        })
    });
</script>

{/block}
