{extend name="../common/public/base" /}

{block name="css"}

{/block}

{block name="content"}
<div class="d-none">{$news.content}</div>
<!--轮播-->
<div class="container-fluid lqp-newsbg">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-center"
             style="min-height: 600px; line-height: 30px;">
            <img class="d-block order-lg-2" src="__STATIC__/images/news/n-1.png" alt=""
                 style="height: auto; max-width: 600px;">
            <div class="position-relative mx-auto order-lg-1" style="max-width: 42rem; z-index: 10;">
                <div class="text-center text-lg-start text-lg-nowrap">
                    <h2 class="text-light mb-3 wow animate__animated animate__swing">喵头鹰---电话销售系统</h2>
                    <ul class="p-0">
                        <li class="text-light fs-6">80%的客户期望通话</li>
                        <li class="text-light fs-6">52%的客户遇到问题需要电话沟通</li>
                        <li class="text-light fs-6">67%的企业通过电话营销获得业务增长</li>
                    </ul>
                    <a class="btn btn-outline-light px-4 my-4 lqp-borderradius20" href="#">
                        立即申请
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--模式-->
<div class="container-fluid p-100" style="background-color: rgb(243,245,251);">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3">
            <!--        <div class="col" style="background: url('__STATIC__/images/news/system5.png') no-repeat center; background-size: 80px"></div>-->
            <div class="col  wow animate__animated animate__slideInLeft">
                <div class="text-white text-center py-2 mb-5 primaryColor fs-4" id="primaryColor"
                     style="border-radius: 10px;">喵头鹰-电销外呼系统
                </div>
                <div class="d-flex mb-4">
                    <img src="__STATIC__/images/news/system1.png" style="max-height: 64px; width: auto;">
                    <p class="ps-4 text-primary">CRM与电销系统互联、一键外
                        呼人机协助、通话信息实时更
                        新、APP与客户端协同、外出
                        拨打信息也能同步客户周期管
                        理、定时定期跟踪回访客户。</p>

                </div>
                <div class="d-flex">
                    <img src="__STATIC__/images/news/system2.png" style="max-height: 64px; width: auto;">
                    <p class="ps-4 " style="color: #FFA800">高并发、不封卡、每天轻松外
                        呼500通！科学化管理、专客
                        专跟、客户不流失屏显本地号
                        接通率高、特批服务商白名单
                        卡、不标记。</p>
                </div>
            </div>
            <div class="col">
                <div class="row justify-content-center my-5 ">
                    <div class="text-center primaryColor fs-2 text-white fw-bold"
                         style="width: 100px; height: 100px; line-height:100px; border-radius: 50px;">模式
                    </div>
                </div>
                <div class="row justify-content-center mb-2">
                    <div class="text-center yellowColor fs-2 text-white fw-bold"
                         style="width: 100px; height: 100px; line-height:100px; border-radius: 50px;">痛点
                    </div>
                </div>
            </div>
            <div class="col  wow animate__animated animate__slideInRight">
                <div class="text-white text-center py-2 mb-5 fs-4" id="waringColor" style="border-radius: 10px;">
                    传统电销外呼系统
                </div>
                <div class="d-flex mb-4">
                    <p class="pe-4 text-primary">座机拨打、离开工位就没法工作、工作效率低外出工作手机拨打、CMR信息更新不了群呼盲呼、户不精准，耗时耗力手动记录电话信息，数据不精准。</p>
                    <img src="__STATIC__/images/news/system3.png" style="max-height: 64px; width: auto;">
                </div>
                <div class="d-flex">
                    <p class="pe-4" style="color: #FFA800">
                        拨打效率低，电话拨打量少电话被标记，客户不接电话或者封卡客户接通率低，员工没信心、没士气跟进不及时，有效客户流失多。</p>
                    <img src="__STATIC__/images/news/system4.png" style="max-height: 64px; width: auto;">
                </div>
            </div>
            <!--        <div class="col" style="background: url('__STATIC__/images/news/system5.png') no-repeat center;background-size: 80px"></div>-->
        </div>
    </div>
</div>
<!--现状-->
<div class="container-fluid p-0 my-5"
     style="background: url('__STATIC__/images/news/system5.png') no-repeat 300px 150px; background-size: 80px;">
    <div class="container">
        <div class="row mb-5 text-center">
            <div class="col-12">
                <h3>现状和需求分析</h3>
                <h6 class="text-muted my-4">电销神器为您提供全套的解决方案，您只需要一张手机卡即可，轻松开启全新的电销之路</h6>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-md-6">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item me-5" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                                type="button" role="tab" aria-controls="home" aria-selected="true">
                            <img src="__STATIC__/images/news/n-2-1.png" style="max-height: 40px;" class="mb-2">
                            <p>教育行业</p>
                        </button>
                    </li>
                    <li class="nav-item me-5" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">
                            <img src="__STATIC__/images/news/n-2-2.png" style="max-height: 40px;" class="mb-2">
                            <p>保险行业</p>
                        </button>
                    </li>
                    <li class="nav-item me-5" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                                type="button" role="tab" aria-controls="contact" aria-selected="false">
                            <img src="__STATIC__/images/news/n-2-3.png" style="max-height: 40px;" class="mb-2">
                            <p>旅游行业</p>
                        </button>
                    </li>
                    <li class="nav-item me-5" role="presentation">
                        <button class="nav-link" id="contact-tab2" data-bs-toggle="tab" data-bs-target="#contact2"
                                type="button" role="tab" aria-controls="contact2" aria-selected="false">
                            <img src="__STATIC__/images/news/n-2-4.png" style="max-height: 40px;" class="mb-2">
                            <p>金融行业</p>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content" id="myTabContent">
            <!--            教育行业-->
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row row-cols-1 row-cols-md-2" style="margin-top: 120px;">
                    <div class="col">
                        <img src="__STATIC__/images/news/n-2-5.png" style="max-height: 350px;">
                    </div>
                    <div class="col  wow animate__animated animate__slideInRight">
                        <div class="mb-2 fs-4">教育行业需求</div>
                        <div class="mb-5 fs-5" style="color: #0d6efd">教育行业需求教育行业需求教育行业需求教育行业需求</div>
                        <ul class="p-0">
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                                传统语音接入服务已经无法满足移动互联网时代的业务要求，需要全渠道接入满足多用户界面接入需求；
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                                      企业客服号码识别度低，品牌形象难以统一；
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                                      通信资源的稳定与否，影响了电销获客能力的强弱；
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                                      业务发展迅速，自建系统难以承载业务容量，需要不断进行系统增容，维护成本、建设成本高。
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                              缺乏有效质检。话务量巨大，人工质检效率低见效差，用户满意度有待提升。                            </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-5 row-cols-1 row-cols-md-2"
                     style="margin-bottom: 120px; background: url('__STATIC__/images/news/system5.png') no-repeat 1250px 50px; background-size: 80px;">
                    <div class="col order-2 text-center">
                        <img src="__STATIC__/images/news/n-2-6.png" style="max-height: 350px;">
                    </div>
                    <div class="col  wow animate__animated animate__slideInLeft">
                        <div class="mb-2 fs-4 ">教育行业解决</div>
                        <div class="mb-5 fs-5 " style="color: #0d6efd">教育行业解决教育行业解决教育行业解决</div>
                        <ul class="p-0">
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                                即开即用的全渠道联络中心系统1.1、全渠道接入、全媒体沟通，统一工作台，多用户界面接入；
                                1.2、即开即用，提供大容量高可用的呼叫中心服务，不必自建、维护；1.3、分散座席统一呼叫数据汇总，减少信息孤岛；1.4、移动座席，App轻松触达客户，及时营销和服务。
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                             统一通信标识，帮助企业轻松管理通信资源2.1、提供统一外显号码接入，全国固话、手机号码、海量中继搭配业务拨打需要；2.2.、齐全的外呼功能，提高呼出接通率；
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                               全量话务语音、文本智能质检，提升座席能力；挖掘海量数据价值，灵活客户画像、数据透视分析，帮助管理者决策；
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">智能对话机器人提高服务效率，降低成本，人机辅助效果更好； </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--            保险行业-->
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row row-cols-1 row-cols-md-2" style="margin-top: 120px;">
                    <div class="col">
                        <img src="__STATIC__/images/news/n-2-5.png" style="max-height: 350px;">
                    </div>
                    <div class="col  wow animate__animated animate__slideInRight">
                        <div class="mb-2 fs-4">保险行业需求</div>
                        <div class="mb-5 fs-5" style="color: #0d6efd">教育行业需求教育行业需求教育行业需求教育行业需求</div>
                        <ul class="p-0">
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                                传统语音接入服务已经无法满足移动互联网时代的业务要求，需要全渠道接入满足多用户界面接入需求；
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                                      企业客服号码识别度低，品牌形象难以统一；
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                                      通信资源的稳定与否，影响了电销获客能力的强弱；
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                                      业务发展迅速，自建系统难以承载业务容量，需要不断进行系统增容，维护成本、建设成本高。
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                              缺乏有效质检。话务量巨大，人工质检效率低见效差，用户满意度有待提升。                            </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-5 row-cols-1 row-cols-md-2"
                     style="margin-bottom: 120px; background: url('__STATIC__/images/news/system5.png') no-repeat 1250px 50px; background-size: 80px;">
                    <div class="col order-2 text-center">
                        <img src="__STATIC__/images/news/n-2-6.png" style="max-height: 350px;">
                    </div>
                    <div class="col  wow animate__animated animate__slideInLeft">
                        <div class="mb-2 fs-4 ">保险行业解决</div>
                        <div class="mb-5 fs-5 " style="color: #0d6efd">教育行业解决教育行业解决教育行业解决</div>
                        <ul class="p-0">
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                                即开即用的全渠道联络中心系统1.1、全渠道接入、全媒体沟通，统一工作台，多用户界面接入；
                                1.2、即开即用，提供大容量高可用的呼叫中心服务，不必自建、维护；1.3、分散座席统一呼叫数据汇总，减少信息孤岛；1.4、移动座席，App轻松触达客户，及时营销和服务。
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                             统一通信标识，帮助企业轻松管理通信资源2.1、提供统一外显号码接入，全国固话、手机号码、海量中继搭配业务拨打需要；2.2.、齐全的外呼功能，提高呼出接通率；
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                               全量话务语音、文本智能质检，提升座席能力；挖掘海量数据价值，灵活客户画像、数据透视分析，帮助管理者决策；
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">智能对话机器人提高服务效率，降低成本，人机辅助效果更好； </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--            旅游行业-->
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row row-cols-1 row-cols-md-2" style="margin-top: 120px;">
                    <div class="col">
                        <img src="__STATIC__/images/news/n-2-5.png" style="max-height: 350px;">
                    </div>
                    <div class="col  wow animate__animated animate__slideInRight">
                        <div class="mb-2 fs-4">旅游行业需求</div>
                        <div class="mb-5 fs-5" style="color: #0d6efd">教育行业需求教育行业需求教育行业需求教育行业需求</div>
                        <ul class="p-0">
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                                传统语音接入服务已经无法满足移动互联网时代的业务要求，需要全渠道接入满足多用户界面接入需求；
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                                      企业客服号码识别度低，品牌形象难以统一；
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                                      通信资源的稳定与否，影响了电销获客能力的强弱；
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                                      业务发展迅速，自建系统难以承载业务容量，需要不断进行系统增容，维护成本、建设成本高。
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                              缺乏有效质检。话务量巨大，人工质检效率低见效差，用户满意度有待提升。                            </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-5 row-cols-1 row-cols-md-2"
                     style="margin-bottom: 120px; background: url('__STATIC__/images/news/system5.png') no-repeat 1250px 50px; background-size: 80px;">
                    <div class="col order-2 text-center">
                        <img src="__STATIC__/images/news/n-2-6.png" style="max-height: 350px;">
                    </div>
                    <div class="col  wow animate__animated animate__slideInLeft">
                        <div class="mb-2 fs-4 ">旅游行业解决</div>
                        <div class="mb-5 fs-5 " style="color: #0d6efd">教育行业解决教育行业解决教育行业解决</div>
                        <ul class="p-0">
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                                即开即用的全渠道联络中心系统1.1、全渠道接入、全媒体沟通，统一工作台，多用户界面接入；
                                1.2、即开即用，提供大容量高可用的呼叫中心服务，不必自建、维护；1.3、分散座席统一呼叫数据汇总，减少信息孤岛；1.4、移动座席，App轻松触达客户，及时营销和服务。
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                             统一通信标识，帮助企业轻松管理通信资源2.1、提供统一外显号码接入，全国固话、手机号码、海量中继搭配业务拨打需要；2.2.、齐全的外呼功能，提高呼出接通率；
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                               全量话务语音、文本智能质检，提升座席能力；挖掘海量数据价值，灵活客户画像、数据透视分析，帮助管理者决策；
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">智能对话机器人提高服务效率，降低成本，人机辅助效果更好； </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--            金融行业-->
            <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab2">
                <div class="row row-cols-1 row-cols-md-2" style="margin-top: 120px;">
                    <div class="col">
                        <img src="__STATIC__/images/news/n-2-5.png" style="max-height: 350px;">
                    </div>
                    <div class="col  wow animate__animated animate__slideInRight">
                        <div class="mb-2 fs-4">金融行业需求</div>
                        <div class="mb-5 fs-5" style="color: #0d6efd">教育行业需求教育行业需求教育行业需求教育行业需求</div>
                        <ul class="p-0">
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                                传统语音接入服务已经无法满足移动互联网时代的业务要求，需要全渠道接入满足多用户界面接入需求；
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                                      企业客服号码识别度低，品牌形象难以统一；
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                                      通信资源的稳定与否，影响了电销获客能力的强弱；
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                                      业务发展迅速，自建系统难以承载业务容量，需要不断进行系统增容，维护成本、建设成本高。
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                              缺乏有效质检。话务量巨大，人工质检效率低见效差，用户满意度有待提升。                            </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-5 row-cols-1 row-cols-md-2"
                     style="margin-bottom: 120px; background: url('__STATIC__/images/news/system5.png') no-repeat 1250px 50px; background-size: 80px;">
                    <div class="col order-2 text-center">
                        <img src="__STATIC__/images/news/n-2-6.png" style="max-height: 350px;">
                    </div>
                    <div class="col  wow animate__animated animate__slideInLeft">
                        <div class="mb-2 fs-4 ">金融行业解决</div>
                        <div class="mb-5 fs-5 " style="color: #0d6efd">教育行业解决教育行业解决教育行业解决</div>
                        <ul class="p-0">
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                                即开即用的全渠道联络中心系统1.1、全渠道接入、全媒体沟通，统一工作台，多用户界面接入；
                                1.2、即开即用，提供大容量高可用的呼叫中心服务，不必自建、维护；1.3、分散座席统一呼叫数据汇总，减少信息孤岛；1.4、移动座席，App轻松触达客户，及时营销和服务。
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                             统一通信标识，帮助企业轻松管理通信资源2.1、提供统一外显号码接入，全国固话、手机号码、海量中继搭配业务拨打需要；2.2.、齐全的外呼功能，提高呼出接通率；
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">
                               全量话务语音、文本智能质检，提升座席能力；挖掘海量数据价值，灵活客户画像、数据透视分析，帮助管理者决策；
                            </span>
                            </li>
                            <li class="d-flex mb-3">
                            <span class="bg-primary me-3"
                                  style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                                <span style="max-width: 500px">智能对话机器人提高服务效率，降低成本，人机辅助效果更好； </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--场景-->
<div class="container-fluid py-5 mb-5" style="background-color: rgb(243,245,251)">
    <div class="container">
        <div class="row py-5 text-center">
            <div class="col-12">
                <h3>适用场景</h3>
                <h6 class="text-muted my-4">喵头鹰为客户服务行业应用场景专门打造的云呼叫中心系统</h6>
            </div>
        </div>
        <div class="wow animate__animated animate__slideInUp">
            <div class="row mb-5 text-center row-cols-3 row-cols-md-auto">
                <div class="col">
                    <div class="primaryColor text-start ps-1 w-50"
                         style="border-radius: 15px 100px 30px 5px;color: #fff;">
                        客服场景
                    </div>
                    <div class="card border-primary">
                        <div class="card-body">
                            电话咨询、投诉、售后和 回访等业务场景
                        </div>
                    </div>
                </div>
                <div class="col d-flex align-items-center justify-content-center">
                    <img src="__STATIC__/images/news/right.png" style="max-height: 20px">
                </div>
                <div class="col">
                    <div class="primaryColor text-start ps-1 w-50"
                         style="border-radius: 15px 100px 30px 5px;color: #fff;">
                        电话回访
                    </div>
                    <div class="card border-primary">
                        <div class="card-body">
                            对老客户电话回访及二次挖掘
                        </div>
                    </div>
                </div>
                <div class="col d-flex align-items-center justify-content-center">
                    <img src="__STATIC__/images/news/right.png" style="max-height: 20px">
                </div>
                <div class="col">
                    <div class="primaryColor text-start ps-1 w-50"
                         style="border-radius: 15px 100px 30px 5px;color: #fff;">
                        电话营销
                    </div>
                    <div class="card border-primary">
                        <div class="card-body ">
                            精准客户电话营销、会议邀请
                        </div>
                    </div>
                </div>
                <div class="col d-flex align-items-center justify-content-center">
                    <img src="__STATIC__/images/news/right.png" style="max-height: 20px">
                </div>
                <div class="col">
                    <div class="primaryColor text-start ps-1 w-50"
                         style="border-radius: 15px 100px 30px 5px;color: #fff;">
                        大数据分析
                    </div>
                    <div class="card border-primary">
                        <div class="card-body">
                            <h6 class="fw-bold">系统监控拨打行为分析
                                洞察用户全生命周期</h6>
                            数据“采集+管理+分析+应用”
                            智能一体化
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col text-center" style="min-width: 440px;">
                    <div class="d-flex justify-content-between mb-5">
                        <div class="primaryColor vertical-line"
                             style="width: 50px; height: 35px; line-height: 35px; background-color: #1e9fff; color: #fff; border-radius: 10px;">
                            手机
                        </div>
                        <div class="primaryColor vertical-line2 level-line"
                             style="width: 50px; height: 35px; line-height: 35px; background-color: #1e9fff; color: #fff; border-radius: 10px;">
                            电话
                        </div>
                        <div class="primaryColor vertical-line"
                             style="width: 50px; height: 35px; line-height: 35px; background-color: #1e9fff; color: #fff; border-radius: 10px;">
                            APP
                        </div>
                    </div>
                    <div class="card border-primary">
                        <div class="card-body">
                            <div class="d-flex justify-content-between px-5">
                                <img src="__STATIC__/images/news/cj2.png" style="max-height: 30px;">
                                <img src="__STATIC__/images/news/cj3.png" style="max-height: 30px;">
                                <img src="__STATIC__/images/news/cj4.png" style="max-height: 30px;">
                            </div>
                            <div class="fw-bold my-4">特批白名单</div>
                            <div>高并发，不封号，日呼过千通</div>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <p class="border-bottom border-primary text-nowrap">一键外呼、人机协助、通话信息实时更新</p>
                </div>
                <div class="col d-flex justify-content-lg-start align-items-center vertical-level">
                    <img src="__STATIC__/images/news/cj1.png" style="max-height: 120px">
                </div>

            </div>
        </div>
    </div>
</div>
<!--沟通-->
<div class="container-fluid py-5 text-center"
     style="background: url('__STATIC__/images/news/system5.png') no-repeat 300px 300px; background-size: 80px;">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h3>全方位连接用户，沟通无处不在</h3>
                <h6 class="text-muted my-4">一套平台，集中+分布部署，快速上线，全国分布式座席。
                    通信资源灵活管理，高效电话接通率。号码异常状态检测，自动筛选，提高座席拨打效率。</h6>
            </div>
        </div>
        <div class="row wow animate__animated animate__slideInRight">
            <div class="col">
                <img src="__STATIC__/images/news/gt.png" style="max-height: 380px; width: auto; max-width: 100%;">
            </div>
        </div>
    </div>
</div>
<!--话务数据实时管理-->
<div class="container-fluid my-5 p-100" style="background-color: rgb(243,245,251);">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-2 wow animate__animated animate__slideInLeft">
                <div class="fs-5 mb-2 text-primary">话务数据实时管理</div>
                <div class="mb-5">呼叫中心平台将整体话务数据存储在云端，方便实时调看。</div>
                <ul class="p-0">
                    <li class="d-flex mb-3">
                        <span class="bg-primary me-3"
                              style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                        <span style="max-width: 500px">
                            <h6 class="text-primary">后台大屏监控 </h6>
                             实时查看最新通话数据，方便及时调整安排人员接待
                        </span>
                    </li>
                    <li class="d-flex mb-3">
                         <span class="bg-primary me-3"
                               style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                        <span style="max-width: 500px">
                           <h6 class="text-primary">话务报表分析</h6>
                           详尽的多维度话务报表，满足企业多场景管理需要
                        </span>
                    </li>
                    <li class="d-flex mb-3">
                        <span class="bg-primary me-3"
                              style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                        <span style="max-width: 500px">
                             <h6 class="text-primary">辅助业务决策</h6>
                              丰富的报表方便灵活评估业务情况，为您的业务保驾护航
                        </span>
                    </li>

                </ul>
            </div>
            <div class="col text-center">
                <img src="__STATIC__/images/news/gl.png" style="max-height: 300px;">
            </div>
        </div>
    </div>
</div>
<!--    流程-->
<div class="container-fluid pb-5">
    <!--    style="background: url('__STATIC__/images/news/system5.png') no-repeat 1600px 300px; background-size: 80px;"-->
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col-12">
                <h3>喵头鹰电销系统决流程</h3>
                <h6 class="text-muted my-4">获得更多客户增长，从这里开始</h6>
            </div>
        </div>
        <div class="row text-center wow animate__animated animate__slideInUp">
            <div class="col">
                <img src="__STATIC__/images/news/lc.png" style="max-height: 380px; width: auto; max-width: 100%;">
            </div>
        </div>
    </div>
</div>
<!--安全-->
<div class="container-fluid p-100" style="background-color: rgb(243,245,251);">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col text-center mb-sm-5">
                <img src="__STATIC__/images/news/aq.png" style="max-height: 300px;">
            </div>
            <div class="col"></div>
            <div class="col wow animate__animated animate__slideInRight">
                <div class="fs-5 mb-5 text-primary">云端部署稳定安全</div>
                <ul class="p-0">
                    <li class="d-flex mb-3">
                        <span class="bg-primary me-3"
                              style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                        <span style="max-width: 500px">
                            <h6 class="text-primary">免部署</h6>
                             上线速度快，灵活租用，即开即用。
                        </span>
                    </li>
                    <li class="d-flex mb-3">
                         <span class="bg-primary me-3"
                               style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                        <span style="max-width: 500px">
                           <h6 class="text-primary">数据安全</h6>
                             分布式部署，数据安全可靠，稳定可靠。
                        </span>
                    </li>
                    <li class="d-flex mb-3">
                        <span class="bg-primary me-3"
                              style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                        <span style="max-width: 500px">
                             <h6 class="text-primary">节约成本</h6>
                              无需购买硬件设备，低成本，高效率。
                        </span>
                    </li>
                    <li class="d-flex mb-3">
                        <span class="bg-primary me-3"
                              style="min-width: 10px; height: 10px; border-radius: 50px;"></span>
                        <span style="max-width: 500px">
                             <h6 class="text-primary">灵活高效</h6>
                             多种通信通道的接入和交互，高并发不封号。
                        </span>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!--    服务-->
<div class="container-fluid p-0 my-5 pb-5 d-flex text-center">
    <!--    style="background: url('__STATIC__/images/news/system5.png') no-repeat 200px 160px; background-size: 80px;"-->
    <div class="container m-auto">
        <div class="row mb-5">
            <div class="col-12">
                <h3>服务支持</h3>
                <h6 class="text-muted my-4">我们珍惜您每一次在线咨询，有问必答，用专业的态度，贴心的服务让您真正感受到我们的与众不同</h6>
            </div>
        </div>
        <div class="row row-cols-3">
            <div class="col">
                <img src="__STATIC__/images/news/s1.png" alt="..." style="max-height: 100px;">
                <div class="card-body p-0 text-center pt-4">
                    <h6 class="text-muted  ">7*24h技术支持</h6>
                </div>
            </div>
            <div class="col">
                <img src="__STATIC__/images/news/s2.png" alt="..." style="max-height: 100px;">
                <div class="card-body p-0 text-center pt-4">
                    <h6 class="text-muted wow animate__animated ">常见问题</h6>
                </div>
            </div>
            <div class="col">
                <img src="__STATIC__/images/news/s3.png" alt="..." style="max-height: 100px;">
                <div class="card-body p-0 text-center pt-4">
                    <h6 class="text-muted wow animate__animated ">售后保障</h6>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
    // console.log($(window).width());
</script>
{/block}

