{extend name="../common/public/base" /}
{block name="css"}
{include file="../common/public/bootstrap" /}
{/block}
{block name="body"}
<div class="layuimini-container">
    <div class="layuimini-main">

        <table class="layui-table" id="currentTableId" lay-filter="currentTableFilter" lay-even lay-data="">
            <thead>
                <tr>
                    <th lay-data="{field: 'id', align: 'center', width: 100}">ID</th>
                    <th lay-data="{field: 'username', align: 'center', templet: function (row) {
                        return row.user.username
                    }}">用户</th>
                    <th lay-data="{field: 'ip', align: 'center'}">登录IP</th>
                    <th lay-data="{field: 'platform', align: 'center'}">系统信息</th>
                    <th lay-data="{field: 'platform_version', align: 'center'}">系统版本</th>
                    <th lay-data="{field: 'browser', align: 'center'}">浏览器信息</th>
                    <th lay-data="{field: 'browser_version', align: 'center'}">浏览器版本</th>
                    <th lay-data="{field: 'device', align: 'center'}">设备信息</th>
                    <th lay-data="{field: 'device_type', align: 'center'}">设备类型</th>
                    <th lay-data="{field: 'create_time', align: 'center'}">登录时间</th>
                </tr>
            </thead>
        </table>

    </div>
</div>
{/block}

{block name="js"}

<script src="__STATIC__/js/admin/user_logs.js?v={:time()}"></script>

{/block}
