{extend name="../common/public/base" /}
{block name="css"}
{include file="../common/public/bootstrap" /}
<style type="text/css">
    #phone-numbers span:active {
        background-color: blue;
    }
</style>
{/block}
{block name="body"}
<div class="container-fluid bg-white rounded-3 py-2">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-7 mb-3">
            <div class="layui-tab layui-tab-card">
                <ul class="layui-tab-title">
                    <li class="layui-this">客户管理</li>
                </ul>
                <div class="layui-tab-content p-3 pt-0 overflow-scroll" style="max-height: 750px;">
                    <div class="layui-tab-item layui-show">
                        <div class="import-description mb-3">
                            <button class="btn btn-outline-primary btn-sm" id="lastImport">
                                <i class="fa fa-clock"></i> 上次导入
                            </button>
                            <button class="btn btn-primary btn-sm" id="importExcel">
                                <i class="fa fa-file-import"></i> 导入客户
                            </button>
                            <button class="btn btn-danger btn-sm clear-customer">
                                <i class="fa fa-trash-can"></i> 清空列表
                            </button>
                            <a href="{:url('/HbCall/downloadTemplate')}" class="btn btn-info btn-sm download-template"><i class="fa fa-download"></i> 下载模板</a>
                            <a href="javascript:;" class="ms-3 check-rules text-decoration-none"><i class="fa fa-info-circle"></i> 导入说明</a>
                        </div>
                        <div class="customer-list">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-5">
            <div class="row justify-content-center mb-5">
                <div class="col-sm-12 col-md-8 col-lg-7 col-xl-8">
                    <div class="row pb-3" style="background-color: #f4f4f4;">
                        <div class="col">
                            <div class="row">
                                <div class="col p-0 position-relative">
                                    <i class="fa fa-info-circle position-absolute call-info" style=" top: 10px; right: 10px; "></i>
                                    <input type="text" name="phone" value=""
                                           placeholder="请输入号码"
                                           class="w-100 callinginput fs-1 border-0 text-center py-5 bg-transparent"
                                           id="input"
                                           onkeyup="this.value= this.value.match(/\d+(\d{0,2})?/) ? this.value.match(/\d+(\d{0,2})?/)[0] : ''">
                                </div>
                            </div>

                            <!-- 拨号键 -->
                            <div class="row row-cols-3 gy-5 py-4 justify-content-center fs-1"
                                 id="phone-numbers"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}
{block name="js"}
<script src="__STATIC__/lib/layui_exts/excel.js"></script>
<script>
    layui.use(['layer', 'miniTab', 'element', 'excel', 'upload', 'table'], function () {
        let $ = layui.jquery,
            layer = layui.layer,
            miniTab = layui.miniTab,
            element = layui.element,
            excel = layui.excel,
            table = layui.table,
            upload = layui.upload;

        miniTab.listen();

        // 输入框获取焦点
        let inputFocus = function () {
            $("#input").focus();
        };
        inputFocus();

        // 右键事件
        document.oncontextmenu = function (e) {
            // 阻止默认事件
            e.preventDefault()
        }
        // 点击删除右键菜单
        document.onclick = function (e) {
            $('#right-contextmenu').remove()
        }

        let callInfoIcon = $('.call-info'), callTipsIndex = null, showCallInfoTimes = utils.cookie('showCallInfoTimes');
        let showCallTips = function () {
            callTipsIndex = layer.tips('点击查看注意事项', callInfoIcon, {
                tips: [1, '#3595cc'],
                time: 5000,
            });
        }
        showCallTips();
        callInfoIcon.on('click', function () {
            showCallInfo()
        })
        callInfoIcon.hover(function () {
            showCallTips()
        }, function () {
            layer.close(callTipsIndex)
        })
        let showCallInfo = function () {
            parent.layer.open({
                type: 1,
                time: 0,
                title: ['温馨提示', 'background-color: #009688; color: #fff'],
                closeBtn: false,
                shadeClose: true,
                content: `
                <ul class="" style="line-height: 1.5rem; padding: 1rem; ">
                    <li class="">1、只允许拨打本公司业务电话，不允许拨打其他行业电话。</li>
                    <li class="">2、拨号当中不允许出现：金融、地产相关高频行业。</li>
                    <li class="">3、通话中不允许出现：代开发票、造假等违法字眼。</li>
                    <li class="">4、不允许在通话中辱骂。</li>
                </ul>
                `
            });
        }
        // 首次显示呼叫提示信息
        if (!showCallInfoTimes || parseInt(showCallInfoTimes) === 0) {
            showCallInfo()
            utils.cookie('showCallInfoTimes', 1)
        }

        let callinginput = $('.callinginput');
        let customerContainer = $('.customer-list');
        // 生成拨号按键
        let btnSize = 4;    // 按键大小 单位：1rem = 16px
        let buildPhoneNumber = function () {
            let phoneNumbersDiv = $('#phone-numbers');
            let isPhoneIcon = false;
            let cssClass = 'align-middle cursor rounded-circle d-inline-block';
            let css = {
                width: btnSize + 'rem',
                height: btnSize + 'rem',
                lineHeight: btnSize + 'rem',
                cursor: 'pointer',
                backgroundColor: "rgb(228, 228, 228)"
            };
            for (let i = 1; i < 14; i++) {
                let col = $('<div />', {
                    class: 'col text-center'
                });
                let text = i;

                // * 键
                if (i === 10) {
                    text = `<i class="fa fa-asterisk"></i>`
                    col.append($('<span />', {
                        class: cssClass + ' fs-4'
                    }).css(css).html(text));
                }

                if (i === 11) {
                    text = 0;
                }

                // 删除键
                if (i === 12) {
                    text = `<i class="fa fa-backspace text-sm-center small"></i>`;
                    col.append($('<span />', {
                        class: cssClass + ' fs-3'
                    }).css(css).html(text).on('click', function (e) {
                        callinginput.val('');
                        inputFocus();
                    }));
                }

                // 拨号键
                if (i === 13) {
                    isPhoneIcon = true;
                    text = `<i class="fa fa-phone"></i>`;
                    css.backgroundColor = 'rgb(8, 86, 246)';
                    css.color = '#fff';
                    col.append($('<span />', {
                        class: cssClass + ' fs-2'
                    }).css(css).html(text).on('click', function (e) {
                        makeCall({ phone: callinginput.val() }, createItem({called_number: callinginput.val()}));
                    }));
                } else {
                    isPhoneIcon = false;
                }

                if (Number.isFinite(text)) {
                    col.append($('<span />', {
                        class: cssClass,
                        'data-value': text
                    }).css(css).html(text).on('click', function (e) {
                        if (callinginput.val().length < 11) {
                            callinginput.val(callinginput.val() + $(this).data('value'));//输入框值,val()里面
                        }
                    }));
                }

                phoneNumbersDiv.append(col);
            }
        };
        buildPhoneNumber();

        callinginput.on('keydown', function (e) {
            // e.preventDefault();
            // 大键盘||小键盘
            if ((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 96 && e.keyCode <= 106)) {
                if (callinginput.val().length >= 11) {
                    return false
                }
            } else if (e.keyCode === 13) {
                makeCall({ phone: $(this).val() }, createItem({called_number: $(this).val()}));
            }
        })

        // 按键盘
        /*$(window).on('keydown', function (e) {
            // 大键盘||小键盘
            if ((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 96 && e.keyCode <= 106)) {
                if (callinginput.val().length < 11) {
                    callinginput.val(callinginput.val() + e.key);
                    // callinginput.val() + e.key;
                    console.log('lpp');
                    console.log(callinginput.val() + e.key);
                }

            } else if (e.keyCode === 13) {
                makeCall();
            }
        });*/

        let makeCall = function (params = { phone: '', customerId: 0 }, addList = null, customerCalled = null) {
            if (params.phone.length < 11 || !utils.isPhone(params.phone)) {
                layer.msg('请输入正确的号码', { icon: 2 });
                return false;
            }

            $.post('{:url("/hbcall/makeCall")}', { mobile: params.phone, customerId: params.customerId }, function (res) {
                if (res.code === 1000) {
                    if (customerCalled) {
                        // 更新客户拨号记录
                        $.post('{:url("/Customer/updateCustomerCalledCount")}', { phone: params.phone, customerId: params.customerId }, function (r) {
                        })

                        $(customerCalled).addClass('text-black-50')

                        let callTime = utils.getDateTime()
                        if ($(customerCalled).find('.called-customer').length === 0) {
                            $(customerCalled).find('.click-call').before($('<div />', {
                                class: 'called-customer text-end col-3 ',
                                text: callTime
                            }))
                        } else {
                            $(customerCalled).find('.called-customer').text(callTime)
                        }
                        customerContainer.append(customerCalled)
                    }
                    // 添加历史列表
                    if (addList) {
                        let hl = $('.call-history-list .list-group');
                        hl.prepend($(addList));
                        hl.children().last().remove();
                    }

                    utils.caller.success(res)
                } else {
                    utils.caller.fail(res)
                }
            });
        }

        // 呼叫历史
        // $.post('{:url("/hbcall/getCallHistory")}', {}, function (res) {
        //     if (res.code === 1) {
        //         let div = $('<div />', {
        //             class: 'list-group list-group-flush'
        //         });
        //         res.rows.forEach((item, index) => {
        //             div.append(createItem(item))
        //         })
        //
        //         $('.call-history-list').append(div)
        //     }
        // })
        // 创建历史列表
        let createItem = function (item) {
            return $('<div />', {
                class: 'row p-2 mx-1 border-bottom call-history-item',
                click: function () {
                    item.createtime = utils.getDateTime()
                    makeCall({ phone: item.called_number, customerId: item.customer ? item.customer.id : 0 }, createItem(item))
                },
                mouseover: function () {
                    $(this).children('.click-call').removeClass('d-none')
                    $(this).children('.call-datetime').addClass('d-none')
                    $(this).children('.phone').text(item.called_number)
                },
                mouseout: function () {
                    $(this).children('.click-call').addClass('d-none')
                    $(this).children('.call-datetime').removeClass('d-none')
                    $(this).children('.phone').text(item.called_number.toString().replace(item.called_number.toString().substring(3, 7), '****'))
                }
            }).append($('<div />', {
                class: 'col-6 text-truncate',
                text: item.customer?.title,
            })).append($('<span />', {
                class: 'phone col-3',
                text: item.called_number.toString().replace(item.called_number.toString().substring(3, 7), '****')
            })).append($('<div />', {
                class: 'click-call col-3 text-primary text-end',
                text: '点击拨号'
            })).append($('<div />', {
                class: 'text-muted col-3 text-end call-datetime',
                text: item.createtime
            }))
        }
        // 创建客户列表
        let createCustomerItem = function (item, isCalled = false) {
            let aClass = 'call-history-item row p-2 mx-1 border-bottom ';
            if (isCalled) {
                aClass += ' text-black-50'
            }
            let listItem = $('<div />', {
                class: aClass,
                click: function () {
                    makeCall({ phone: item.phone, customerId: item.id }, createItem({ called_number: item.phone, customer: { id: item.id, title: item.title }, createtime: utils.getDateTime() }), this)
                },
                mouseover: function () {
                    $(this).children('.click-call').removeClass('d-none')
                    $(this).children('.called-customer').addClass('d-none')
                    $(this).children('.phone').text(item.phone)
                },
                mouseout: function () {
                    $(this).children('.click-call').addClass('d-none')
                    $(this).children('.called-customer').removeClass('d-none')
                    $(this).children('.phone').text(item.phone.toString().replace(item.phone.toString().substring(3, 7), '****'))
                },
                // 右键菜单
                contextmenu: function (e) {
                    let parent = this,
                        ts = $('<div />', {
                            class: 'shadow-sm text-primary position-absolute',
                            css: { left: e.clientX + 'px', top: e.clientY + 'px', width: '150px' },
                            id: 'right-contextmenu'
                        }).append($('<div />', {
                            class: 'list-group'
                        }).append($('<div />', {
                            type: 'button',
                            class: 'list-group-item list-group-item-action',
                            text: '立即拨号',
                            click: function () {
                                makeCall({ phone: item.phone, customerId: item.id }, createItem({ called_number: item.phone }), parent)
                            }
                        }).append($('<i />', {
                            class: 'fa fa-phone float-end small lh-base',
                            css: { lineHeight: 'inhert' }
                        }))).append($('<div />', {
                            type: 'button',
                            class: 'list-group-item list-group-item-action',
                            text: '添加回访记录',
                            click: function () {
                                layer.open({
                                    type: 2,
                                    title: '添加',
                                    area: ['700px', '600px'],
                                    content: '{:url("/CustomerRecord/add")}?customer_id=' + item.id
                                });
                            }
                        }).append($('<i />', {
                            class: 'fa fa-book-bookmark float-end small lh-base',
                            css: { lineHeight: 'inhert' }
                        }))).append($('<button />', {
                            type: 'button',
                            class: 'list-group-item list-group-item-action',
                            text: '从列表中删除',
                            click: function () {
                                $(parent).remove();
                                // $.post('{:url("/HbCall/deleteCustomer")}', { customerList: [item.id] }, res => {
                                //     let icon = 0;
                                //     if (res.code === 1) {
                                //         icon = 1;
                                //         $(parent).remove()
                                //     }
                                //
                                //     layer.msg(res.msg, {icon: icon, time: 3000});
                                // })
                            }
                        }).append($('<i />', {
                            class: 'fa fa-trash-alt float-end text-sm lh-base'
                        }))));
                    $('#right-contextmenu').remove()

                    $('html body').append(ts)
                }
            }).append($('<div />', {
                class: 'customer-id',
                'data-id': item.id,
            })).append($('<div />', {
                class: 'col-6 text-truncate',
                text: item.title,
                alt: item.title
            })).append($('<div />', {
                class: 'phone col-3',
                text: item.phone.toString().replace(item.phone.toString().substring(3, 7), '****')
            }))

            if (isCalled) {
                listItem.append($('<div />', {
                    class: 'called-customer col-3 text-end',
                    text: item.last_calltime
                }))
            }

            listItem.append($('<div />', {
                class: 'click-call text-primary d-none col-3 text-end',
                text: '点击拨号'
            }))

            return listItem
        }

        // 导入客户
        $('.check-rules').on('click', function () {
            layer.open({
                type: 1,
                title: false,
                skin: 'layui-layer-rim',
                area: ['420px', '300px'],
                content: `<div class="p-3">
                           注：只能上传Excel表格，格式为:<br /> ['客户名称', '电话号码', '所在地', '邮箱']
                           <img src="__STATIC__/images/customer-example-import.png" class="pt-3" />
                        </div>`
            })
        })
        let loading = null;
        upload.render({
            elem: '#importExcel',
            url: '{:url("/Customer/importExcel")}',
            accept: 'file', //普通文件
            exts: 'xls|excel|xlsx', //导入表格
            auto: true,  //选择文件后不自动上传
            before: function (obj) {
                loading = layer.load(); //上传loading
            },
            // 选择文件回调
            choose: function (obj) {
            },
            done: function (res) {
                layer.close(loading);
                let icon = 0;
                if (res.code === 1) {
                    icon = 1;
                    customerContainer.html('')
                    $.each(res.data, (index, item) => {
                        customerContainer.prepend(createCustomerItem(item))
                    })
                }

                return layer.msg(res.msg, {icon: icon, time: 3000})
            },
            error: function () {
                setTimeout(function () {
                    layer.msg("上传失败！", {
                        icon: 1
                    });
                    //关闭所有弹出层
                    layer.closeAll(); //疯狂模式，关闭所有层
                }, 1000);
            }
        });

        let customerList = [];
        let importCount = 0;
        // 导入最后一次导入的客户数据
        $('#lastImport').on('click', function () {
            $.post('{:url("/Customer/getLastImportCustomerList")}', {}, (res) => {
                if (res.code === 1 && res.data.length > 0) {
                    customerList = res.data
                    let isCalled = false
                    $.each(res.data, (index, item) => {
                        if (item.called_count > 0) {
                            isCalled = true
                        }
                        customerContainer.append(createCustomerItem(item, isCalled))
                    })
                }
            })
        })
        $('.clear-customer').on('click', function () {
            customerList = []
            customerContainer.html('')
            // clearCustomer(customerList)
            // const customerList = customerContainer.find('.customer-id');
            // let customerIds = [];
            // $.each(customerList, (index, item) => {
            //     let cid = $(item).data('id')
            //     customerIds.push(cid)
            // })
            // clearCustomer(customerIds)
        })

        let clearCustomer = function (customer) {
            $.post('{:url("/Customer/del")}', { id: customer }, res => {
                let icon = 0;
                if (res.code === 1) {
                    icon = 1;
                    customerContainer.html('')
                }

                layer.msg(res.msg, {icon: icon, time: 3000});
            })
        }
        // 下载客户管理模板
        /*$('.download-template').on('click', function () {
            $.get('{:url("/HbCall/downloadTemplate")}', {}, res => {
                console.log(res)
            })
        })*/
    });
</script>

{/block}
