{extend name="../common/public/base" /}
{block name="css"}
{include file="../common/public/bootstrap" /}
<style>
    .lqp-hover:hover .card-img {
        transform: rotateY(90deg);
    }
</style>
{/block}
{block name="body"}
<div class="container-fluid bg-white rounded-3 shadow-sm mb-3">
    {if $module === 'company'}
    <div class="row mb-3 py-5">
        <div class="col-12 col-md-3 mb-3 mb-sm-3 mb-md-0 d-flex align-items-end justify-content-center">
            <div class="me-3">
                <img src="__STATIC__/images/dashuser.png" style="max-height: 80px;">
            </div>
            <div class=" align-self-end">
                <h6>账号：<span class="fs-bold important">{$user.username}</span></h6>
                <h6>手机：{$user.phone}</h6>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-3 mb-sm-12 mb-md-0 d-flex align-items-end justify-content-center">
            <div class="">
                <p class="mb-2 text-muted">当前余额/元</p>
                <h5 class="text-success fs-2">
                    {php}
                    $number = number_format($user['balance'], 3);
                    $numbers = explode('.', $number);
                    $numbers[0] = '<span class="mx-1">' . $numbers[0] . '</span>';
                    $numbers[1] = '<span class="fs-6 text-muted">.' . $numbers[1] . '</span>';
                    echo '<i class="fa fa-yen-sign fs-6 text-muted"></i>' . implode('', $numbers);
                    {/php}
                    <a href="javascript:;" layuimini-content-href="payment/index.html" data-title="充值管理"
                       class="layui-btn layui-btn-sm layui-btn-normal text-decoration-none shadow rounded-pill ms-3 px-3">
                        <i class="fa fa-wallet me-1"></i>
                        充值
                    </a>
                </h5>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-3 mb-sm-12 mb-md-0 d-flex align-items-end justify-content-center">
            <div class="d-flex flex-row align-items-end">
                <img src="__STATIC__/images/22.png" style="max-height: 78px;">
                <div class="ms-3">
                    <p class="mb-0">客服咨询</p>
                    <p class="fw-bold mb-0">13622850769</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mb-3 mb-sm-12 mb-md-0 d-flex align-items-end justify-content-center">
            <div class="text-center d-flex flex-row align-items-center">
                <img src="__STATIC__/images/xiaoqiang.png" style="max-height: 78px;">
                <p class="mb-0 ms-3">微信咨询</p>
            </div>
        </div>
    </div>
    {/if}
    <div class="row mb-3 py-3">
        {if $module === 'admin'}
        <div class="col-6 col-lg mb-3 mb-sm-3 mb-md-0 border-end d-flex align-items-end justify-content-center">
            <div>
                <p class="text-black-50">总收入</p>
                <h5 class="fs-2 total-payment"></h5>
            </div>
        </div>
        {elseif $module === 'company'}
        <div class="col-6 col-lg mb-3 mb-sm-3 mb-md-0 d-flex align-items-center justify-content-center">
            <div>
                <h4>网站概况</h4>
            </div>
        </div>
        {/if}
        <div class="col-6 col-lg mb-3 mb-sm-3 mb-md-0 border-end d-flex align-items-end justify-content-center">
            <div>
                <p class="text-black-50">总消费</p>
                <h5 class="fs-2 total-cost"></h5>
            </div>
        </div>
        <div class="col-6 col-lg mb-3 mb-sm-3 mb-md-0 border-end d-flex align-items-end justify-content-center">
            <div class="">
                <p class="text-black-50">
                    今日{$total_title}
                    [<span class="text-warning fs-6 percentage"></span>]
                </p>
                <h5 class="fs-2 current-day-cost"></h5>
            </div>
        </div>
        <div class="col-6 col-lg mb-3 mb-sm-3 mb-md-0 border-end d-flex align-items-end justify-content-center">
            <div>
                <p class="text-black-50">
                    昨日{$total_title}
                    [<span class="text-warning fs-6 yesterday-percentage"></span>]
                </p>
                <h5 class="fs-2 yesterday-cost"></h5>
            </div>
        </div>
        <div class="col-6 col-lg mb-3 mb-sm-3 mb-md-0 border-end d-flex align-items-end justify-content-center">
            <div>
                <p class="text-black-50">前天{$total_title}</p>
                <h5 class="fs-2 two-days-ago-cost"></h5>
            </div>
        </div>
        <div class="col-6 col-lg mb-3 mb-sm-3 mb-md-0 border-end d-flex align-items-end justify-content-center">
            <div>
                <p class="text-black-50">本月{$total_title}</p>
                <h5 class="fs-2 current-month-cost"></h5>
            </div>
        </div>
        <div class="col-6 col-lg mb-3 mb-sm-3 mb-md-0 d-flex align-items-end justify-content-center">
            <div>
                <p class="text-black-50">今年{$total_title}</p>
                <h5 class="fs-2 current-year-cost"></h5>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mb-xl-0">
        <div class="col-xl-7 col-lg-12 mb-3 bg-white rounded-3 shadow-sm">
            <div class="row p-3">
                <div class="col-lg-6 col-12 mb-sm-3 h-100">
                    <div id="historyChart" class="h-100" style="height: 270px;" data-chart-list=""></div>
                </div>
                <div class="col-lg-6 col-12 mb-3">
                    <div class="row h-50 gap-3 mb-3">
                        <div class="col p-3 rounded-3" style="background-color: #f7f7f7;">
                            <div class="mb-3 text-black-50">总呼出(个)</div>
                            <h2 class="totalCallHistory "></h2>
                        </div>
                        <div class="col p-3 rounded-3" style="background-color: #f7f7f7;">
                            <div class="mb-3 text-black-50">总时间(分)</div>
                            <h2 class="totalCallDuration "></h2>
                        </div>
                    </div>
                    <div class="row h-50 gap-3">
                        <div class="col p-3 rounded-3" style="background-color: #f7f7f7;">
                            <div class="mb-3 text-black-50">已接听(个)</div>
                            <h2 class="totalCallAndPickUp"></h2>
                        </div>
                        <div class="col p-3 rounded-3" style="background-color: #f7f7f7;">
                            <div class="mb-3 text-black-50">未接听(个)</div>
                            <h2 class="totalCallAndNoPickUp"></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-5 col-lg-12 mb-3">
            <div class="row">
                <div class="col">
                    <div class="card border border-light-subtle shadow-sm">
                        <div class="card-header border-light-subtle"><i class="fa fa-chart-simple text-warning-emphasis me-1"></i>排行榜</div>
                        <div class="card-body">
                            <table class="table table-hover toplist-table">
                                <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>总呼叫</th>
                                    <th>已接听</th>
                                    <th>时间(分)</th>
                                    <th>消费金额(￥)</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col bg-white rounded-3 shadow-sm py-3">
            <div id="callChart" class="h-100" style="height: 350px;"></div>
        </div>
    </div>
</div>

{/block}
{block name="js"}
<script src="__STATIC__/lib/echarts/echarts.min.js"></script>
<script src="__STATIC__/js/common/dashboard.js?v={:time()}"></script>
{/block}
