{extend name="../common/public/base" /}
{block name="css"}
{include file="../common/public/bootstrap" /}
{/block}
{block name="body"}
<div class="layuimini-container ">
    <div class="layuimini-main ">
        <div class="container-fluid ">
            <div class="row mt-5 justify-content-center">
                <div class="col-md-8 col-sm-12">
                    <form class="layui-form layuimini-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label required">昵称</label>
                            <div class="layui-input-block">
                                <input type="text" name="username" lay-verify="required" placeholder="请输入昵称"  value="{$userProfile.username}" class="layui-input" readonly>
                                <tip>此昵称作为登录账号使用，暂不支持更改</tip>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">真实姓名</label>
                            <div class="layui-input-block">
                                <input type="text" name="realname" placeholder="请输入真实姓名"  value="{$userProfile.realname}" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label required">手机号</label>
                            <div class="layui-input-block">
                                <input type="text" name="phone" lay-verify="required|phone" placeholder="请输入手机号"  value="{$userProfile.phone}" class="layui-input">
                                <tip>手机号用于拨号，请认真填写</tip>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">呼叫线路</label>
                            <div class="layui-input-block">
                                {php}
                                $call_type = '';
                                switch ($user['company']['call_type']) {
                                    case 'axb':
                                        $call_type = 'AXB线路';
                                        break;

                                    case 'callback':
                                        $call_type = '三网通回拨';
                                        break;

                                    case 'DxCallBack':
                                        $call_type = '电信回拨';
                                        break;

                                    case 'YDCallBack':
                                        $call_type = '移动回拨';
                                        break;

                                    case 'WxCallback':
                                        $call_type = '新三网回拨线路';
                                        break;
                                }
                                {/php}
                                <input type="text" name="" value="{$call_type}" class="layui-input" disabled>
                            </div>
                        </div>
                        <div class="layui-form-item {if !in_array($user->company->getData('call_type'), [3, 4])}d-none{/if}">
                            <label class="layui-form-label" for="callback_number">回拨号码</label>
                            <div class="layui-input-block" id="callback_number">
                                <input type="text" name="callback_number" placeholder="回拨号码"
                                       autocomplete="off" class="layui-input" value="{$user.callback_number}">
                                <tip>提示：呼叫线路为<strong>电信回拨</strong>、<strong>移动回拨</strong>时，必须提供回拨号码才能进行拨号</tip>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">登陆IP</label>
                            <div class="layui-input-block">
                                <input type="text" name="ip" value="{$userProfile.loginip}" class="layui-input" disabled>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">最后登陆</label>
                            <div class="layui-input-block">
                                <input type="text" name="time"  value="{$userProfile.logintime}" class="layui-input" disabled>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">上次登陆</label>
                            <div class="layui-input-block">
                                <input type="text" name="lasttime" value="{$userProfile.prevtime}" class="layui-input" disabled>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
    layui.use(['form', 'miniTab', 'jquery'], function () {
        let form = layui.form,
            layer = layui.layer,
            $ = layui.jquery,
            miniTab = layui.miniTab;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.post('{:url("/user/profile")}', data.field, function (res) {
                let icon = 5
                if (res.code) {
                    icon = 6
                }

                layer.msg(res.msg, { icon: icon });
            })

            return false;
        });

    });
</script>

{/block}
