{extend name="public/base" /}

{block name="css"}

{/block}

{block name="content"}

<!--轮播-->
<div class="container-fluid mb-5 p-0">
    <img src="__STATIC__/images/about/slide.png" class="" style="max-height: 700px;width: 100%;height: auto;">
</div>
<!--    -->
<div class="container-fluid p-0 my-5 pb-5">
    <div class="container m-auto">
        <div class="row mb-5 text-center">
            <div class="col-12">
                <h3>公司简介</h3>
                <h6 class="text-muted my-4">Company profile</h6>
            </div>
        </div>
        <div class="mb-5 text-muted">
            <div class="d-flex flex-row">
                <span class="quote text-primary pe-4"></span>
                <p class="lqp-text-indent fs-6">
                    东莞汇邦软件科技有限公司位于东莞市南城区鸿福西路南城商务大厦，是一家专注于人力资源管理软件研究、开发及解决方案的高新技术企业.，以CRM系统、OA办公系统、
                    ERP企业管理系统博得用户广泛的好评。致力于将企业同客户互动的全过程数字化、智能化， 帮助企业提升客户满意度，实现可持续的业绩增长!
                </p>
            </div>
            <div class="d-flex flex-row">
                <span class="quote text-primary pe-4"></span>
                <p class="lqp-text-indent fs-6">
                    汇邦CRM系统以“协助企业管理团队，帮助企业利润倍增”为核心思想，提升客户资源管理优化、从简历自动解析入库到智能匹配项目全流程的完整解决方案，能最大优化提
                    高企业客户的办公效率。汇邦CRM系统是以销售管理为核心的，基于销售管理全流程，结合合作伙伴管理、市场与客户服务管理
                </p>
            </div>
            <div class="d-flex flex-row">
                <span class="quote text-primary pe-4"></span>
                <p class="lqp-text-indent fs-6">
                    汇邦软件未来将持续专注于CRM、OA、ERP领域，以“简单、高效、安全、方便”为设计理念，用持续优化企业业务流程和用户体验的态度，进一步结合新型互联网技术，以
                    提升企业管理系统为己任，继续革命。
                </p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-4 text-center justify-content-around">
            <div class="col">
                <img src="__STATIC__/images/about/u1.png"
                     class="card-img-top wow animate__animated animate__slideInUp" alt="..."
                     style="width: auto; height: auto; max-height: 100px;">
                <div class="mt-4">
                    <h5 class="">专有云</h5>
                    <p class="text-muted px-2">
                        在云端为用户开通独立虚拟主
                        机，专属数据库、专属存储、
                        专有云呼叫中心服务。
                    </p>
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="__STATIC__/images/about/u2.png"
                         class="card-img-top wow animate__animated animate__slideInUp" alt="..."
                         style="width: auto; height: auto; max-height: 100px;">
                    <div class="mt-4">
                        <h5 class="">私有云</h5>
                        <p class="text-muted px-2">云呼叫平台私有化部署本地，
                            支持双机热备及群集方案。支
                            持高并发大容量座席。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="__STATIC__/images/about/u3.png"
                         class="card-img-top wow animate__animated animate__slideInUp" alt="..."
                         style="width: auto; height: auto; max-height: 100px;">
                    <div class="mt-4">
                        <h5 class="">喵头小号</h5>
                        <p class="text-muted px-2">专业的号码隐私保护产品，提
                            供AXB、AX两种模式。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="__STATIC__/images/about/u4.png"
                         class="card-img-top wow animate__animated animate__slideInUp" alt="..."
                         style="width: auto; height: auto; max-height: 100px;">
                    <div class="mt-4">
                        <h5 class="">云通信</h5>
                        <p class="text-muted px-2">提供语音SDK、号码识别、隐
                            号保护、语音通知等云通信能力。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    -->
<div class="container-fluid p-0 mb-5 pb-5">
    <div class="container m-auto">
        <div class="row mb-5 text-center">
            <div class="col-12">
                <h3>企业文化</h3>
                <h6 class="text-muted my-4">Corporate Culture</h6>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 lqp-hovershadow">
            <div class="col">
                <div class="card shadowitems">
                    <div class=" border-top border-5 border-primary">
                        <img src="__STATIC__/images/about/yy1.png" class="card-img-top" alt="..."
                             style="width: 100%; height: auto;max-height: 150px;">
                        <h5 class="text-center"><img src="__STATIC__/images/about/y1.png" class="card-img-top" alt="..."
                                                     style="width: auto; height: auto;max-height: 50px;"></h5>
                    </div>
                    <div class="card-body">
                        <h5 class="text-center my-4">伟大使命</h5>
                        <p class="text-muted px-2">解决企业所有通讯需求、高标
                            准、高服务、低投入惠及每一
                            个苛求通讯的企业。</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadowitems">
                    <div class=" border-top border-5 border-info">
                        <img src="__STATIC__/images/about/yy2.png" class="card-img-top" alt="..."
                             style="width: 100%; height: auto;max-height: 150px;">
                        <h5 class="text-center"><img src="__STATIC__/images/about/y2.png" class="card-img-top" alt="..."
                                                     style="width: auto; height: auto;max-height: 50px;"></h5>
                    </div>
                    <div class="card-body">
                        <h5 class="text-center my-4">宏伟愿景</h5>
                        <p class="text-muted px-2">以互联网通信改变企业沟通方
                            式。全通信能力高通讯技术大
                            力解决并改善企业通信方案。</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadowitems">
                    <div class=" border-top border-5 border-danger">
                        <img src="__STATIC__/images/about/yy3.png" class="card-img-top" alt="..."
                             style="width: 100%; height: auto;max-height: 150px;">
                        <h5 class="text-center"><img src="__STATIC__/images/about/y3.png" class="card-img-top" alt="..."
                                                     style="width: auto; height: auto;max-height: 50px;"></h5>
                    </div>
                    <div class="card-body">
                        <h5 class="text-center my-4">产品理念</h5>
                        <p class="text-muted px-2">用户价值是产品发展的方向。
                            坚持以用户价值为主导，用户
                            体验为中心，匠心打造每一款
                            产品。</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--    -->
<div class="container-fluid p-0 mb-5 pb-5">
    <div class="container m-auto">
        <div class="row mb-5 text-center">
            <div class="col-12">
                <h3>平台理念</h3>
                <h6 class="text-muted my-4">DESIGN</h6>
            </div>
        </div>
        <div class="mb-5">
            <p class="lqp-text-indent text-muted fs-6">
                “开放、融合”是我们一直坚持的理念。十年研发技术，我们打造全功能的API接口，基于HTTP、JavaScript、Socket等多种形式，可无缝对接客户企业系统。同时我们
                保持开放理念，支持开发者生态，对接更多的大牛，让产品更好的服务于客户。对于行业有特殊需求的应用，我们会在此基础上针对性开发，融合多元需求，打造定制化版本。
            </p>

        </div>
    </div>
</div>
{/block}


{block name="js"}

{/block}

