{extend name="public/base" /}

{block name="css"}

{/block}

{block name="content"}
<!--<div class="container-fluid p-0 mb-5">-->
<!--    <div class="card bg-dark text-white text-center" style="border-radius: 0px;">-->
<!--        <img src="__STATIC__/images/case/innerbg.png" class="card-img" alt="..." style="max-height: 600px;">-->
<!--        <div class="card-img-overlay">-->
<!--            <h2 class="text-primary">客户案例</h2>-->
<!--            <h5 class="text-white fs-4">-->
<!--                从业十余年，服务10000+坐席-->
<!--            </h5>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="container-fluid mb-5" style="background: url('__STATIC__/images/case/innerbg.png') no-repeat center;">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-center" style="min-height: 600px;">
            <img class="d-block order-lg-2" src="__STATIC__/images/case/2.png" alt=""
                 style="width: auto; height: auto; max-width: 100%;">
            <div class="position-relative mx-auto order-lg-1" style="max-width: 42rem; z-index: 10;">
                <div class="text-center text-lg-start text-lg-nowrap">
                    <p class="h2 text-light mb-3">客户案例</p>
                    <p class="h3 text-light pb-3" style="background: url('__STATIC__/images/case/textbg.png') no-repeat left; background-size: 35% 30%">从业十余年，服务10000+坐席</p>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}


{block name="js"}

{/block}

