{extend name="../common/public/base" /}

{block name="css"}

{/block}

{block name="content"}
<!--<div class="container-fluid p-0 mb-5">-->
<!--    <div class="card bg-dark text-white text-center" style="border-radius: 0px;">-->
<!--        <img src="__STATIC__/images/case/innerbg.png" class="card-img" alt="..." style="max-height: 600px;">-->
<!--        <div class="card-img-overlay">-->
<!--            <h2 class="text-primary">客户案例</h2>-->
<!--            <h5 class="text-white fs-4">-->
<!--                从业十余年，服务10000+坐席-->
<!--            </h5>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="container-fluid mb-5" style="background: url('__STATIC__/images/case/innerbg.png') no-repeat center;">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-center" style="min-height: 600px;">
            <img class="d-block order-lg-2" src="__STATIC__/images/case/2.png" alt=""
                 style="width: auto; height: auto; max-width: 100%;">
            <div class="position-relative mx-auto order-lg-1" style="max-width: 42rem; z-index: 10;">
                <div class="text-center text-lg-start text-lg-nowrap">
                    <p class="h2 text-light mb-3">客户案例</p>
                    <p class="h3 text-light pb-3" style="background: url('__STATIC__/images/case/textbg.png') no-repeat left; background-size: 35% 30%">从业十余年，服务10000+坐席</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-0 mb-5 pb-5 ">
    <div class="container m-auto">
        <div class="row mb-5 text-center">
            <div class="col-12">
                <h3>客户案列</h3>
                <h6 class="text-muted my-4">为各领域提供实质性的、有针对性的解决方案，提升商家服务能力、提升消费者体验和转化率</h6>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4" id="information">
            <div class="col text-muted">
                <div class="card p-4 border-0">
                    <img class="inline-block" src="/static/images/cc1.png" style="width: 56px; height: 56px;" alt="Pug icon">
                    <p class="fs-5 text-dark my-3">星慧信息咨询</p>
                    <div class="fs-ms" style="min-height: 110px;">
                        前前后后我们也找了几家软
                        件公司的产品来进行对比，
                        最后选择了专门做我们这行
                        业的汇邦软件，无论是费用
                        还是服务同别的单位有很大
                        的不同，更有耐心。
                    </div>

                </div>
            </div>
            <div class="col text-muted">
                <div class="card p-4 border-0">
                    <img class="inline-block" src="/static/images/cc2.png" style="width: 56px; height: 56px;" alt="Pug icon">
                    <p class="fs-5 text-dark my-3">东莞汇千信息</p>
                    <div class="fs-ms" style="min-height: 110px;">
                        用喵头鹰是个偶然的机会本
                        来是找他们公司做网站后面
                        知道他们有开发一款管理系
                        统我们是做网站客户所有给
                        我们免费使用二个月用了之
                        后感觉非常好。
                    </div>

                </div>
            </div>
            <div class="col text-muted">
                <div class="card p-4 border-0">
                    <img class="inline-block" src="/static/images/cc3.png" style="width: 56px; height: 56px;" alt="Pug icon">
                    <p class="fs-5 text-dark my-3">信海网络</p>
                    <div class="fs-ms" style="min-height: 110px;">
                        用喵头鹰之前我们有使用另
                        一款非的软件，我们也定制
                        了功能，钱也花了不少，但
                        最后软件本身的功能太复杂
                        定制的又比较不全面，最后
                        汇邦找我们做原型客户
                    </div>

                </div>
            </div>
            <div class="col text-muted">
                <div class="card p-4 border-0">
                    <img class="inline-block" src="/static/images/cc4.png" style="width: 56px; height: 56px;" alt="Pug icon">
                    <p class="fs-5 text-dark my-3">深圳万信公司</p>
                    <div class="fs-ms" style="min-height: 110px;">
                        我们本身也有开发团队，但
                        并不是无所不能的。至少在
                        软件制作板块，我们深刻体
                        会到了来自东汇邦软件科技
                        公司的专业，到底还是专业
                        的事要专人的人来做
                    </div>

                </div>
            </div>
            <div class="col text-muted">
                <div class="card p-4 border-0">
                    <img class="inline-block" src="/static/images/cc5.png" style="width: 56px; height: 56px;" alt="Pug icon">
                    <p class="fs-5 text-dark my-3">湖南舜星公司</p>
                    <div class="fs-ms" style="min-height: 110px;">
                        伴随公司业务板块增加，针对不同业务线的个性化呼叫需求，需要进行稳定的多元化并发资源分配和差异化的呼叫策略，保证不同类型的用户可以及时了解业务信息和服务进展。
                    </div>

                </div>
            </div>
            <div class="col text-muted">
                <div class="card p-4 border-0">
                    <img class="inline-block" src="/static/images/cc6.png" style="width: 56px; height: 56px;" alt="Pug icon">
                    <p class="fs-5 text-dark my-3">汇米传媒</p>
                    <div class="fs-ms" style="min-height: 110px;">
                        为满足公司日益增长的业务呼叫需求及灾备的考虑，需引入能够支持高稳定、高并发的呼叫中心系统来实现高频话务电销需求，并实现不同话务系统的双备切换。
                    </div>

                </div>
            </div>

        </div>

        <!--<div class="row mt-5 justify-content-center">
            <div class="col-1 d-grid" id="loadMore">
                <i class="bi bi-plus-square-dotted me-2 fs-1 text-danger"></i>
            </div>
        </div>-->
    </div>
</div>



{/block}


{block name="js"}

{/block}

