{extend name="public/base" /}

{block name="css"}

{/block}

{block name="content"}
<!--    slide-->
<div class="container-fluid mb-5 bg-deepprimary3">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-center" style="min-height: 600px;">
            <img class="d-block order-lg-2 " src="__STATIC__/images/cooperate/slide.png" alt="" style="width: auto; height: auto; max-width: 100%;">
            <div class="position-relative mx-auto  order-lg-1" style="max-width: 42rem; z-index: 10;">
                <div class="text-center text-lg-start text-lg-nowrap">
                    <h2 class="text-light mb-5">云电销平台,寻找合作伙伴</h2>
                    <h5 class="text-light pb-3">提供通讯资源、外呼管理、小程序、座席管理等应用。</h5>
                    <a class="btn btn-outline-light my-4 px-4 lqp-borderradius20" href="#">
                        立即咨询
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    -->
<div class="container-fluid p-0 mb-5 pb-5">
    <div class="container m-auto">
        <div class="row mb-5 text-center">
            <div class="col-12">
                <h3>云电销平台提供</h3>
                <h6 class="text-muted my-4">喵头鹰为客户服务行业应用场景专门打造的云呼叫中心系统</h6>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-4 mb-5 pb-5 text-center justify-content-around">
            <div class="col">
                <img src="__STATIC__/images//cooperate/u1.png"
                     class="card-img-top wow animate__animated animate__slideInUp" alt="..."
                     style="width: auto; height: auto; max-height: 100px;">
                <div class="mt-4">
                    <h5 class="">一站式解决</h5>
                    <small>One stop solution</small>
                    <p class="text-muted">
                        全国区域通信资源+外呼数据管理
                        +APP+座席管理+接口。
                    </p>
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="__STATIC__/images/cooperate/u2.png"
                         class="card-img-top wow animate__animated animate__slideInUp" alt="..."
                         style="width: auto; height: auto; max-height: 100px;">
                    <div class="mt-4">
                        <h5 class="">零投入</h5>
                        <small>Zero investment</small>
                        <p class="text-muted">
                            无需任何费用投入，有客户即能盈
                            利。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="__STATIC__/images/cooperate/u3.png"
                         class="card-img-top wow animate__animated animate__slideInUp" alt="..."
                         style="width: auto; height: auto; max-height: 100px;">
                    <div class="mt-4">
                        <h5 class="">无技术门槛</h5>
                        <small>No technical threshold</small>
                        <p class="text-muted">无需准备任何技术、无需IT人员。
                            会操作电脑即可管理客户开户。</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="__STATIC__/images/cooperate/u4.png"
                         class="card-img-top wow animate__animated animate__slideInUp" alt="..."
                         style="width: auto; height: auto; max-height: 100px;">
                    <div class="mt-4">
                        <h5 class="">开通上线快</h5>
                        <small>Open online fast</small>
                        <p class="text-muted">当天客户可以上线使用，包括开通
                            管理系统、 线路资源。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    -->
<div class="container-fluid p-0 mb-5 pb-5">
    <div class="container m-auto">
        <div class="row mb-5 text-center">
            <div class="col-12">
                <h3>合作伙伴类型</h3>
                <h6 class="text-muted my-4">携手合作，共赢未来，一起为客户创造价值</h6>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gy-5 mb-5 pb-5">
            <div class="col">
                <div class="d-flex align-items-center">
                    <div class="me-4 wow animate__animated animate__bounce">
                        <img src="__STATIC__/images/cooperate/y1.png" class="card-img-top" alt="..."
                             style="width: auto; height: auto;max-height: 80px;">
                    </div>
                    <div class="">
                        <h5 class="text-start">软件厂商</h5>
                        <p class="text-muted">第三方大数据平台、CRM、行业软件等营销软件厂商。</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex align-items-center">
                    <div class="me-4 wow animate__animated animate__bounce">
                        <img src="__STATIC__/images/cooperate/y2.png" class="card-img-top" alt="..."
                             style="width: auto; height: auto;max-height: 80px;">
                    </div>
                    <div class="">
                        <h5 class="text-start">通讯行业</h5>
                        <p class="text-muted">通讯线路厂商、有客户资源行业资深人士。</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex align-items-center">
                    <div class="me-4 wow animate__animated animate__bounce">
                        <img src="__STATIC__/images/cooperate/y3.png" class="card-img-top" alt="..."
                             style="width: auto; height: auto;max-height: 80px;">
                    </div>
                    <div class="">
                        <h5 class="text-start">集成商</h5>
                        <p class="text-muted">IT类集成商</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex align-items-center">
                    <div class="me-4 wow animate__animated animate__bounce">
                        <img src="__STATIC__/images/cooperate/y4.png" class="card-img-top" alt="..."
                             style="width: auto; height: auto; max-height: 80px;">
                    </div>
                    <div class="">
                        <h5 class="text-start">其它</h5>
                        <p class="text-muted">有客户资源的销售个人</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    -->
<div class="container-fluid p-0 mb-5 pb-5">
    <div class="container m-auto">
        <div class="row mb-5 text-center">
            <div class="col-12">
                <h3>开通流程</h3>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 justify-content-between my-5">
            <div class="col">
                <h5 class="border-start border-primary border-3 text-primary my-4">&nbsp;&nbsp;流程图</h5>
                <div>
                    <img src="__STATIC__/images/cooperate/j1.png" style="width: 100%; height: auto; max-width: 508px;">
                </div>
            </div>
            <div class="col">
                <h5 class="border-start border-primary border-3 text-primary my-4">&nbsp;&nbsp;方案说明</h5>
                <div class="border-dash p-4 fs-6">
                    <div class="fs-5 mb-4">方案优势：</div>
                    <p class="text-muted">1.通话稳定、清晰。全国区域通信资源。</p>
                    <p class="text-muted">  2.开通上线快，开通到上线仅需3-5分钟。</p>
                    <p class="text-muted"> 3.成功低，无软件硬件投入。</p>
                    <p class="text-muted"> 4.使用便捷，Web端，App多种登录方式,操作简单，无需培训就可上手使用。</p>
                    <p class="text-muted"> 5.专注通信十余年，平台稳定可靠。</p>

                </div>
            </div>
        </div>


    </div>
</div>
{/block}


{block name="js"}

{/block}

