{extend name="public/base" /}

{block name="css"}

{/block}

{block name="content"}

<div class="container-fluid p-0 mb-5">
    <div class="card bg-dark text-white text-center" style="border-radius: 0px;">
        <img src="__STATIC__/images/news/slide.png" class="card-img" alt="..." style="height: auto; min-height: 180px;">
        <div class="card-img-overlay" style="min-height: 300px;">
            <h2 class="text-primary">新闻资讯</h2>
            <h5 class="text-white fs-4">
                从业十余年，服务10000+坐席
            </h5>
        </div>
    </div>
</div>
<div class="container-fluid p-0 mb-5">
    <div class="container">
        <div class="row mb-5 text-center">
            <div class="col-12">
                <h3>汇邦CRM系统V3.5版正式发布</h3>
            </div>
        </div>
        <div class="mb-5">
            <p class="lqp-text-indent fs-6 text-muted">
                汇邦猎头人才管理系统是东莞汇邦软件科技有限公司开发的一款满足猎头公司和人力资源服务企业日常管理、人才、客户管理、
                猎头项目管理、业绩管理的一体化猎头公司管理系统。汇邦猎头人才管理系统的设计理念是以猎头和人力资源服务企业的核心资源（客户
                资源人才资源）的数据促使和加固为主，以日常办公，客服关系管理为辅，让企业的业务工作流程，通过高效率的项目人才管理功能，达
                到猎头项目工作流程化管理目标。汇邦猎头人才管理系统将助力猎头企业在竞争中获得优势，获得竞争主动权！
            </p>

        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <img class="img-fluid" src="__STATIC__/images/news/u1.png">
            </div>

        </div>
    </div>
</div>
{/block}


{block name="js"}

{/block}

