{extend name="public/base" /}

{block name="css"}

{/block}

{block name="content"}
<div class="container-fluid mb-5 bg-deepprimary2">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-center" style="min-height: 600px;">
            <img class="d-block order-lg-2" src="__STATIC__/images/product/slide.png" alt=""
                 style="width: auto; height: auto; max-width: 100%;">
            <div class="position-relative mx-auto order-lg-1" style="max-width: 42rem; z-index: 10;">
                <div class="text-center text-lg-start text-lg-nowrap">
                    <h2 class="text-light mb-3">呼叫中心方案</h2>
                    <h5 class="text-light pb-3">简单高效，给你一个不一样的呼叫中心</h5>
                    <ul class="p-0">
                        <li class="text-light fs-6">信号稳定，音质清晰</li>
                        <li class="text-light fs-6">安全接听，实是数据</li>
                        <li class="text-light fs-6">安装快捷，快速接入</li>
                        <li class="text-light fs-6">PC端一键拨号，操作简单</li>
                    </ul>
                    <a class="btn btn-outline-light px-4 my-4 lqp-borderradius20" href="#">
                        立即申请
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    适用场景-->
<div class="container-fluid p-0 mb-5 pb-5">
    <div class="container m-auto">
        <div class="row mb-5 text-center">
            <div class="col-12">
                <h3>适用场景</h3>
                <h6 class="text-muted my-4">喵头鹰为客户服务行业应用场景专门打造的云呼叫中心系统</h6>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-5 pb-5 text-center justify-content-around">
            <div class="col">
                <img src="__STATIC__/images//product/u1.png"
                     class="card-img-top wow animate__animated animate__slideInUp" alt="..."
                     style="width: auto; height: auto; max-height: 147px;">
                <div class="mt-4">
                    <h5 class="">电话应用</h5>
                    <small>Telephone application</small>
                    <p class="text-muted">
                        适用于电话咨询、投诉、售后和回访等业务场景。
                    </p>
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="__STATIC__/images/product/u2.png"
                         class="card-img-top wow animate__animated animate__slideInUp" alt="..."
                         style="width: auto; height: auto; max-height: 147px;">
                    <div class="mt-4">
                        <h5 class="">CRM/工单</h5>
                        <small>CRM / work order</small>
                        <p class="text-muted">
                            对客户信息进行统一管理，实现工单派送和流转。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="__STATIC__/images/product/u3.png"
                         class="card-img-top wow animate__animated animate__slideInUp" alt="..."
                         style="width: auto; height: auto; max-height: 147px;">
                    <div class="mt-4">
                        <h5 class="">接口集成</h5>
                        <small>Interface integration</small>
                        <p class="text-muted">猫头鹰平台与第三方CPM系统无缝集成</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    平台优势-->
<div class="container-fluid p-0 mb-5 pb-5">
    <div class="container m-auto">
        <div class="row mb-5 text-center">
            <div class="col-12">
                <h3>平台优势</h3>
                <h6 class="text-muted my-4">多年呼叫中心技术积累，以我们的专业给您选择的信心</h6>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 gy-4  mb-5 pb-5">
            <div class="col" >
                <div class="card p-4 shadowitems">
                    <div class="d-flex align-items-center">
                        <div class="me-4 wow animate__animated animate__bounce">
                            <img src="__STATIC__/images/product/y1.png" class="card-img-top" alt="..."
                                 style="width: auto; height: auto;max-height: 80px;">
                        </div>
                        <div class="">
                            <h5 class="text-start">专业产品</h5>
                            <p class="text-muted">专注呼叫中心多年，平台稳定，通话清晰。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-4 shadowitems">
                    <div class="d-flex align-items-center">
                        <div class="me-4 wow animate__animated animate__bounce">
                            <img src="__STATIC__/images/product/y2.png" class="card-img-top" alt="..."
                                 style="width: auto; height: auto;max-height: 80px;">
                        </div>
                        <div class="">
                            <h5 class="text-start">全国固话资源</h5>
                            <p class="text-muted">与猫头鹰平台对接，即可快速开通全国31省，311个城市号码呼入呼出。</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="card p-4 shadowitems">
                    <div class="d-flex align-items-center">
                        <div class="me-4 wow animate__animated animate__bounce">
                            <img src="__STATIC__/images/product/y3.png" class="card-img-top" alt="..."
                                 style="width: auto; height: auto;max-height: 80px;">
                        </div>
                        <div class="">
                            <h5 class="text-start">数据安全</h5>
                            <p class="text-muted">为客户开通专属虚拟主机云呼叫服务，专属数据存储，安全稳定可靠。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-4 shadowitems">
                    <div class="d-flex align-items-center">
                        <div class="me-4 wow animate__animated animate__bounce">
                            <img src="__STATIC__/images/product/y4.png" class="card-img-top" alt="..."
                                 style="width: auto; height: auto; max-height: 80px;">
                        </div>
                        <div class="">
                            <h5 class="text-start">灵活部署</h5>
                            <p class="text-muted">提供猫头鹰平台开通呼叫中心，适配各种场景下的业务需求。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    产品功能-->
<div class="container-fluid p-0 mb-5 pb-5">
    <div class="container m-auto">
        <div class="row mb-5 text-center">
            <div class="col-12">
                <h3>产品功能</h3>
                <h6 class="text-muted my-4">深入研究客服行业功能需求，带来专业客服型呼叫中心</h6>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 bg-light rounded-3">
            <div class="col  border-end  mb-3 shadowitems">
                <div class="py-3">
                    <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                        <div class="display-3 fw-normal opacity-15 me-4">01</div>
                        <div class="ps-2"><img class="d-block my-2" src="__STATIC__/images/product/f1.png" width="72"
                                               alt="Order online">
                            <h5>crm/工单/问卷</h5>
                            <p class="text-muted">
                                可自定义CRM字段、工单流
                                程和问卷内容。
                            </p>
                        </div>
                    </div>
                    <hr class="d-md-none d-lg-block d-xl-none">
                </div>
            </div>
            <div class="col  border-end  mb-3 shadowitems">
                <div class="py-3">
                    <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                        <div class="display-3 fw-normal opacity-15 me-4">02</div>
                        <div class="ps-2"><img class="d-block my-2" src="__STATIC__/images/product/f2.png" width="72"
                                               alt="Order online">
                            <h5>智能导航(IVR)</h5>
                            <p class="text-muted">
                                根据不同业务场景配置不同
                                业务流程，为客户提供语音
                                交互式应答。
                            </p>
                        </div>
                    </div>
                    <hr class="d-md-none d-lg-block d-xl-none">
                </div>
            </div>
            <div class="col  border-end  mb-3 shadowitems">
                <div class="py-3">
                    <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                        <div class="display-3 fw-normal opacity-15 me-4">03</div>
                        <div class="ps-2"><img class="d-block my-2" src="__STATIC__/images/product/f3.png" width="72"
                                               alt="Order online">
                            <h5>话务分配(ACD)</h5>
                            <p class="text-muted">
                                提供多种ACD分配方式，实
                                现高效灵活的话务分配。
                            </p>
                        </div>
                    </div>
                    <hr class="d-md-none d-lg-block d-xl-none">
                </div>
            </div>
            <div class="col  border-end  mb-3 shadowitems">
                <div class="py-3">
                    <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                        <div class="display-3 fw-normal opacity-15 me-4">04</div>
                        <div class="ps-2"><img class="d-block my-2" src="__STATIC__/images/product/f4.png" width="72"
                                               alt="Order online">
                            <h5>智能路由</h5>
                            <p class="text-muted">
                                根据时间、客户和被叫信息
                                自动匹配电话服务流程。
                            </p>
                        </div>
                    </div>
                    <hr class="d-md-none d-lg-block d-xl-none">
                </div>
            </div>
            <div class="col  border-end  mb-3 shadowitems">
                <div class="py-3">
                    <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                        <div class="display-3 fw-normal opacity-15 me-4">05</div>
                        <div class="ps-2"><img class="d-block my-2" src="__STATIC__/images/product/f5.png" width="72"
                                               alt="Order online">
                            <h5>实时监控</h5>
                            <p class="text-muted">
                                实时监控坐席、队列动态。
                            </p>
                        </div>
                    </div>
                    <hr class="d-md-none d-lg-block d-xl-none">
                </div>
            </div>
            <div class="col  border-end  mb-3 shadowitems">
                <div class="py-3">
                    <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                        <div class="display-3 fw-normal opacity-15 me-4">06</div>
                        <div class="ps-2"><img class="d-block my-2" src="__STATIC__/images/product/f6.png" width="72"
                                               alt="Order online">
                            <h5>全渠道接入</h5>
                            <p class="text-muted">
                                提供微信、APP+PC在线客
                                服的统一接入。
                            </p>
                        </div>
                    </div>
                    <hr class="d-md-none d-lg-block d-xl-none">
                </div>
            </div>
            <div class="col  border-end  mb-3 shadowitems">
                <div class="py-3">
                    <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                        <div class="display-3 fw-normal opacity-15 me-4">07</div>
                        <div class="ps-2"><img class="d-block my-2" src="__STATIC__/images/product/f7.png" width="72"
                                               alt="Order online">
                            <h5>智能机器人</h5>
                            <p class="text-muted">
                                7*24小时、不眠不休，自动
                                回复80%的客户问题。
                            </p>
                        </div>
                    </div>
                    <hr class="d-md-none d-lg-block d-xl-none">
                </div>
            </div>
            <div class="col  border-end  mb-3 shadowitems">
                <div class="py-3">
                    <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                        <div class="display-3 fw-normal opacity-15 me-4">08</div>
                        <div class="ps-2"><img class="d-block my-2" src="__STATIC__/images/product/f8.png" width="72"
                                               alt="Order online">
                            <h5>服务等级</h5>
                            <p class="text-muted">
                                全面提升客服服务质量，提
                                高客户满意度。
                            </p>
                        </div>
                    </div>
                    <hr class="d-md-none d-lg-block d-xl-none">
                </div>
            </div>
            <div class="col  border-end  mb-3 shadowitems">
                <div class="py-3">
                    <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                        <div class="display-3 fw-normal opacity-15 me-4">09</div>
                        <div class="ps-2"><img class="d-block my-2" src="__STATIC__/images/product/f9.png" width="72"
                                               alt="Order online">
                            <h5>录音质检</h5>
                            <p class="text-muted">
                                免费提供通话录音，随时进
                                行质检考核。
                            </p>
                        </div>
                    </div>
                    <hr class="d-md-none d-lg-block d-xl-none">
                </div>
            </div>
            <div class="col  border-end  mb-3 shadowitems">
                <div class="py-3">
                    <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                        <div class="display-3 fw-normal opacity-15 me-4">10</div>
                        <div class="ps-2"><img class="d-block my-2" src="__STATIC__/images/product/f10.png" width="72"
                                               alt="Order online">
                            <h5>统计报表</h5>
                            <p class="text-muted">
                                提供呼入呼出、坐席、队列
                                满意度评价等多种报表，为
                                客服考核提供重要依据。
                            </p>
                        </div>
                    </div>
                    <hr class="d-md-none d-lg-block d-xl-none">
                </div>
            </div>
        </div>
    </div>
</div>
<!--    方案架构-->
<div class="container-fluid p-0 mb-5 pb-5">
    <div class="container m-auto">
        <div class="row mb-5 text-center">
            <div class="col-12">
                <h3>方案架构</h3>
                <h6 class="text-muted my-4">让技术为我们代言，让技术为安全发声</h6>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 justify-content-between my-5">
            <div class="col">
                <h5 class="border-start border-primary border-3 text-primary my-4">&nbsp;&nbsp;框架架构图</h5>
                <div>
                    <img src="__STATIC__/images/product/j1.png" style="width: 100%; height: auto; max-width: 100%;">
                </div>
            </div>
            <div class="col">
                <h5 class="border-start border-primary border-3 text-primary my-4">&nbsp;&nbsp;框架架构说明</h5>
                <div class="border-dash p-4 fs-6">
                    <div class="fs-5 mb-4">架构优势：</div>
                    <p class="text-muted">为用户开通独立虚拟主机，专属数据库，专属存储，专有云呼叫中心服务。</p>
                    <P class="text-muted">支持云呼叫中心，云电销，全能云等方式，满足用户在呼叫中心上的多种需求。</P>
                    <P class="text-muted">通过物理服务器集群及负载均衡方式，支持超大容量坐席及通话并发。</P>
                    <P class="text-muted">提供丰富API/SDK接口，与第三方业务系统无缝集成。</P>
                    <P class="text-muted">支持CRM/工作流完成自定义配置，支持二次定制开发。</P>
                    <P class="text-muted">在网络能覆盖的地方，不同时间，地域一个账号即可使用。</P>
                </div>
            </div>
        </div>


    </div>
</div>
{/block}


{block name="js"}

{/block}

