{extend name="public/base" /}

{block name="css"}

{/block}

{block name="content"}
<!--    -->
<div class="container-fluid mb-5 bg-deepprimary3">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-center" style="min-height: 600px;">
            <img class="d-block order-lg-2 " src="__STATIC__/images/solution/slide.png" alt=""
                 style="width: 581px; height: auto; max-width: 100%;">
            <div class="position-relative mx-auto  order-lg-1" style="max-width: 42rem; z-index: 10;">
                <div class="text-center text-lg-start text-lg-nowrap">
                    <h2 class="text-light mb-5">呼叫中心方案</h2>
                    <h5 class="text-light pb-3">我们将协助您呼叫中心通讯服务、打造呼叫客服服务、
                        电话回访、电话营销等场景服务！</h5>
                    <a class="btn btn-outline-light px-4 my-4 lqp-borderradius20" href="">
                        立即咨询
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    适用场景-->
<div class="container-fluid p-0 mb-5 pb-5">
    <div class="container m-auto">
        <div class="row mb-5 text-center">
            <div class="col-12">
                <h3>适用场景</h3>
                <h6 class="text-muted my-4">喵头鹰为客户服务行业应用场景专门打造的云呼叫中心系统</h6>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-5 pb-5 text-center justify-content-around">
            <div class="col">
                <img src="__STATIC__/images//solution/u1.png"
                     class="card-img-top wow animate__animated animate__slideInUp" alt="..."
                     style="width: auto; height: auto; max-height: 100px;">
                <div class="mt-4">
                    <h5 class="">客服服务</h5>
                    <small>Customer service</small>
                    <p class="text-muted">
                        适用于电话咨询、投诉、售后和
                        回访等业务场景。
                    </p>
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="__STATIC__/images/solution/u2.png"
                         class="card-img-top wow animate__animated animate__slideInUp" alt="..."
                         style="width: auto; height: auto; max-height: 100px;">
                    <div class="mt-4">
                        <h5 class="">电话回访</h5>
                        <small>Telephone follow up</small>
                        <p class="text-muted">
                            对老客户电话回访及二次挖掘。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="__STATIC__/images/solution/u3.png"
                         class="card-img-top wow animate__animated animate__slideInUp" alt="..."
                         style="width: auto; height: auto; max-height: 100px;">
                    <div class="mt-4">
                        <h5 class="">电话营销</h5>
                        <small>Telemarketing</small>
                        <p class="text-muted">精准客户电话营销。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    优势-->
<div class="container-fluid p-0 mb-5 pb-5">
    <div class="container m-auto">
        <div class="row mb-5 text-center">
            <div class="col-12">
                <h3>服务优势</h3>
                <h6 class="text-muted my-4">十余年呼叫中心技术积累，以我们的专业给您选择的信心</h6>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 gy-5 mb-5 pb-5">
            <div class="col col-lg-6">
                <div class="d-flex align-items-center">
                    <div class="me-4 wow animate__animated animate__bounce">
                        <img src="__STATIC__/images/solution/y1.png" class="card-img-top" alt="..."
                             style="width: auto; height: auto;max-height: 80px;">
                    </div>
                    <div class="">
                        <h5 class="text-start">数据库号码资源</h5>
                        <p class="text-muted">足不出户开号，本地电话号码服务，开通时间快，支持
                            全球电话呼入呼出。</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6">
                <div class="d-flex align-items-center">
                    <div class="me-4 wow animate__animated animate__bounce">
                        <img src="__STATIC__/images/solution/y2.png" class="card-img-top" alt="..."
                             style="width: auto; height: auto;max-height: 80px;">
                    </div>
                    <div class="">
                        <h5 class="text-start">呼叫中心服务</h5>
                        <p class="text-muted">提供部署在呼叫中心服务平台，网络、通信、硬件、软
                            件端管理的一站式服务解决方案。即开即用，灵
                            活部署。</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6">
                <div class="d-flex align-items-center">
                    <div class="me-4 wow animate__animated animate__bounce">
                        <img src="__STATIC__/images/solution/y3.png" class="card-img-top" alt="..."
                             style="width: auto; height: auto;max-height: 80px;">
                    </div>
                    <div class="">
                        <h5 class="text-start">清晰、稳定通话质量</h5>
                        <p class="text-muted">采用点对点专线网络带宽，保障语音通话质量。</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6">
                <div class="d-flex align-items-center">
                    <div class="me-4 wow animate__animated animate__bounce">
                        <img src="__STATIC__/images/solution/y4.png" class="card-img-top" alt="..."
                             style="width: auto; height: auto; max-height: 80px;">
                    </div>
                    <div class="">
                        <h5 class="text-start">数据安全</h5>
                        <p class="text-muted">提供独立云主机、独立存储空间。</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6">
                <div class="d-flex align-items-center">
                    <div class="me-4 wow animate__animated animate__bounce">
                        <img src="__STATIC__/images/solution/y5.png" class="card-img-top" alt="..."
                             style="width: auto; height: auto; max-height: 80px;">
                    </div>
                    <div class="">
                        <h5 class="text-start">
                            开放平台</h5>
                        <p class="text-muted">提供标准API与企业业务系统无缝集成，支持与国际主
                            流CRM系统集成。</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6">
                <div class="d-flex align-items-center">
                    <div class="me-4 wow animate__animated animate__bounce">
                        <img src="__STATIC__/images/solution/y6.png" class="card-img-top" alt="..."
                             style="width: auto; height: auto; max-height: 80px;">
                    </div>
                    <div class="">
                        <h5 class="text-start">系统多语种操作服务</h5>
                        <p class="text-muted">实现全球化系统云部署方式，支持当地工作时间的工作
                            设定，让工作不再有时差的困扰，可为用户提供最佳的
                            服务。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    fw-->
<div class="container-fluid p-0 mb-5 pb-5">
    <div class="container m-auto">
        <div class="row mb-5 text-center">
            <div class="col-12">
                <h3>提供服务</h3>
                <h6 class="text-muted my-4">深入研究客服行业功能需求，带来专业出海呼叫中心方案</h6>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 lqp-serve gy-4">
            <div class="col">
                <div class="card shadowitems">
                    <div class="text-center my-4">
                        <img src="__STATIC__/images//solution/s1.png" class="" alt="..."
                             style="height: auto; max-height: 100px;">
                        <h5 class="pt-4">经验服务</h5>
                        <div class="text-muted px-5" style="min-height: 63px;"> 专注通讯呼叫中心产品近13年，经验丰富值得信赖。</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadowitems">
                    <div class="text-center my-4">
                        <img src="__STATIC__/images//solution/s2.png" class="" alt="..." style="height: auto; max-height: 100px;">
                        <h5 class="pt-4">专业团队</h5>
                        <div class="text-muted px-5" style="min-height: 63px;">提供经验丰富的呼叫中心技术专家方案实施，我们的经验丰富的管理团队将直接参与您的项目部署。</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadowitems">
                    <div class="text-center my-4">
                        <img src="__STATIC__/images//solution/s5.png" class="" alt="..."
                             style="height: auto; max-height: 100px;">
                        <h5 class="pt-4">24小时技术支持</h5>
                        <div class="text-muted px-5" style="min-height: 63px;"> 经验丰富呼叫中心专家，全天候在线随时联系我们！</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadowitems">
                    <div class="text-center my-4">
                        <img src="__STATIC__/images//solution/s6.png" class="" alt="..."
                             style="height: auto; max-height: 100px;">
                        <h5 class="pt-4">及时更新</h5>
                        <div class="text-muted px-5" style="min-height: 63px;">我们将向您提供最新地区资源覆盖状态，以便您解决无法及时和客户沟通等问题从根本上提高企业服务效率。</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadowitems">
                    <div class="text-center serveitems1 my-4">
                        <img src="__STATIC__/images//solution/s4.png" class="" alt="..."
                             style="height: auto; max-height: 100px;">
                        <h5 class="pt-4">定制专属方案</h5>
                        <div class="text-muted px-5" style="min-height: 63px;">我们的呼叫中心搭建将会根据贵司的具体产品和具体要求改进，满足实用性、个性化达到最好的效果。</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadowitems">
                    <div class="m-auto text-center serveitems1 my-4">
                        <img src="__STATIC__/images//solution/s3.png" class="" alt="..."
                             style="height: auto; max-height: 100px;">
                        <h5 class="pt-4">多语言支持</h5>
                        <div class="text-muted px-5" style="min-height: 63px;">为了帮助您的业务更好的扩展服务，我们增加了多版本使用，我们提供多种不同语言的支持。</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}


{block name="js"}

{/block}

