{extend name="public/base" /}
{block name="css"}
{include file="public/bootstrap" /}
{/block}
{block name="body"}
<div class="layuimini-container">
    <div class="layuimini-main">
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add"><i class="fa fa-plus"></i> 添加</button>
                <!--                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>-->
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter" lay-even></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <!--            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>-->
        </script>

    </div>
</div>
{/block}

{block name="js"}

<script>
    layui.use(['jquery', 'form', 'table'], function () {
        let $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '{:url("/XnumberStore/getNumberList")}',
            id: 'XnumberStoreTable',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            //异步请求，格式化数据
            parseData: function (res) {
                return {
                    'code': 0,
                    'msg': '',
                    'data': res.rows,
                    'count': res.total
                }
            },
            cols: [[
                {field: 'number', title: '号码', align: 'center', edit: 'text'},
                {field: 'company_xnumber_count', title: '企业使用情况', align: 'center'},
                {field: 'user_xnumber_count', title: '用户使用情况', align: 'center'},
            ]],
            page: {
                limits: [15, 30, 45, 60],
                limit: 15,
            },
            skin: 'line',
            even: true,
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            table.reload('userTable', {
                page: {
                    curr: 1
                },
                where: data.field
            });

            return false
        });

        $('button[type="reset"]').on('click', function () {
            table.reload('userTable', {
                page: {
                    curr: 1
                },
                where: {}
            }, false)
        })

        //验证输入的是数字
        function isPhoneNo(phone) {
            let pattern = /^1[3456789]\d{9}$/;
            return pattern.test(phone);
        }
        /**
         * toolbar监听事件
         */
        let option = { icon: 0 };
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                layer.prompt({title: '输入号码'}, function (input, index) {
                    if (input.length !== 11 || !isPhoneNo(input)) {
                        layer.msg('请输入正确的号码', { icon: 2 });
                        return false;
                    }

                    $.post('{:url("/XnumberStore/add")}', { number: input }, function (res) {
                        if (res.code === 1) {
                            option.icon = 1
                            layer.close(index)
                        }

                        layer.msg(res.msg, option)
                    })
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                let checkStatus = table.checkStatus('currentTableId'),
                    data = checkStatus.data;
                console.log(data);
                if(data === '' || data === 'undefind'){
                    layer.msg('请勾选需要删除的数据');
                    return false;
                }else{
                    let ids=[],url='';
                    $(data).each(function (i) {
                        ids.push(data[i].id);
                    });
                    console.log(ids);
                    $.post(url,ids,function () {
                        //todo
                    });
                }
            }
        });

        let updateUserField = function (param) {
            $.post('{:url("/User/updateUser")}', param, function (res) {
                if (res.code === 1) {
                    option.icon = 1
                }

                layer.msg(res.msg, option)
            })
        }

        // 单元格编辑
        table.on('edit(currentTableFilter)', function (obj) {
            if (obj.value.length !== 11 || !isPhoneNo(obj.value)) {
                layer.msg('请输入正确的号码', { icon: 2 });
                return false;
            }

            $.post('{:url("/XnumberStore/edit")}', obj.data, function (res) {
                if (res.code === 1) {
                    option.icon = 1
                }

                layer.msg(res.msg, option)
            })
        });

        // table.on('tool(currentTableFilter)', function (obj) {
        //     if (obj.event === 'edit') {
        //         let index = layer.open({
        //             title: '编辑账号',
        //             type: 2,
        //             shade: 0.2,
        //             shadeClose: true,
        //             anim: 2,
        //             area: ['100%', '100%'],
        //             content: '{:url("/user/edit")}?id=' + obj.data.id,
        //         });
        //         $(window).on("resize", function () {
        //             layer.full(index);
        //         });
        //         return false;
        //     } else if (obj.event === 'delete') {
        //         console.log(obj);
        //         console.log(obj.data.id);
        //         let id = obj.data.id, url='';
        //         layer.confirm('真的删除行么', function (index) {
        //             $.post(url,id,function () {
        //                 //todo
        //                 obj.del();
        //                 layer.close(index);
        //             })
        //
        //         });
        //     }
        // });


    });
</script>

{/block}
