{extend name="../common/public/base" /}
{block name="css"}
{include file="../common/public/bootstrap" /}
{/block}
{block name="body"}
<div class="layuimini-container">
    <div class="layuimini-main">
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add"><i class="fa fa-plus"></i> 添加</button>
                <!--                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>-->
            </div>
        </script>

        <table class="layui-table" id="currentTableId" lay-filter="currentTableFilter" lay-even lay-data="">
            <thead>
                <tr>
                    <th lay-data="{field: 'id', align: 'center', width: 100}">ID</th>
                    <th lay-data="{field: 'number', align: 'center', edit: 'text'}">号码</th>
                    <th lay-data="{field: 'company_xnumber_count', align: 'center'}">企业使用情况</th>
                    <th lay-data="{field: 'user_xnumber_count', align: 'center'}">用户使用情况</th>
                </tr>
            </thead>
        </table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>
{/block}

{block name="js"}

<script>
    layui.use(['jquery', 'form', 'table', 'arronUtil'], function () {
        let $ = layui.jquery,
            form = layui.form,
            arronUtil = layui.arronUtil,
            table = layui.table;

        table.init('currentTableFilter', {
            url: '{:url("/XnumberStore/getNumberList")}',
            id: 'XnumberStoreTable',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            parseData: function (res) {
                return {
                    'code': 0,
                    'msg': '',
                    'data': res.rows,
                    'count': res.total
                }
            },
            page: {
                limits: [15, 30, 45, 60],
                limit: 15,
            },
            skin: 'line',
            even: true,
        })
        /**
         * toolbar监听事件
         */
        let option = { icon: 0 };
        table.on('toolbar(currentTableFilter)', function (obj) {
            switch (obj.event) {  // 监听添加操作
                case 'add':
                    layer.prompt({title: '输入号码'}, function (input, index) {
                        if (input.length !== 11 || !arronUtil.isPhone(input)) {
                            layer.msg('请输入正确的号码', { icon: 2 });
                            return false;
                        }

                        $.post('{:url("/XnumberStore/add")}', { number: input }, function (res) {
                            if (res.code === 1) {
                                option.icon = 1
                                layer.close(index)
                                table.reload('XnumberStoreTable', {
                                    page: {
                                        curr: 1
                                    }
                                });
                            }

                            layer.msg(res.msg, option)
                        })
                    });
                    break;
            }
        });

        // 单元格编辑
        table.on('edit(currentTableFilter)', function (obj) {
            if (obj.value.length !== 11 || !arronUtil.isPhone(obj.value)) {
                layer.msg('请输入正确的号码', { icon: 2 });
                return false;
            }

            $.post('{:url("/XnumberStore/edit")}', obj.data, function (res) {
                if (res.code === 1) {
                    option.icon = 1
                }

                layer.msg(res.msg, option)
            })
        });
    });
</script>

{/block}
