{extend name="../common/public/base" /}
{block name="css"}
    {include file="../common/public/bootstrap" /}
{/block}
{block name="body"}
<div class="container-fluid bg-white rounded-3 pt-3">
    <div class="row">
        <div class="col">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-inline">
                            <input type="text" name="title" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">发布时间</label>
                        <div class="layui-input-inline">
                            <input type="text" name="time" class="layui-input" id="newsDate" placeholder=""
                                   autocomplete="off">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <button type="submit" class="layui-btn layui-btn-normal" lay-submit
                                lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="layui-btn layui-btn-sm d-none" id="importExcel"><i class="fa fa-file-import"></i> 批量导入</button>
            <script type="text/html" id="toolbarNews">
                <div class="layui-btn-container">
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add"><i class="fa fa-plus"></i> 发布</button>
                    <button class="layui-btn layui-btn-sm" lay-event="importExcel"><i class="fa fa-file-import"></i> 批量导入</button>
                    <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"><i class="fa fa-trash-can"></i> 批量删除</button>
                </div>
            </script>

            <table class="layui-table" id="newsTableId" lay-filter="newsTableFilter" lay-even lay-data="">
                <thead>
                <tr>
                    <th lay-data="{type: 'checkbox', width: 50}"></th>
                    <th lay-data="{field: 'id', title: 'ID', width: 100}"></th>
                    <th lay-data="{field: 'title', title: '标题'}"></th>
                    <th lay-data="{field: 'is_top', title: '置顶', align: 'center'}"></th>
                    <th lay-data="{field: 'view', title: '查看', align: 'center'}"></th>
                    <th lay-data="{field: 'update_time', title: '更新时间', align: 'center'}"></th>
                    <th lay-data="{title: '操作', width: 100, toolbar: '#newsTableBar', align: 'center'}"></th>
                </tr>
                </thead>
            </table>

            <script type="text/html" id="newsTableBar">
                <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit" title="编辑"><i class="fa fa-user-edit"></i> </a>
                <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="del" title="删除"><i class="fa fa-trash-can"></i> </a>
            </script>

        </div>
    </div>
</div>
{/block}

{block name="js"}
<script src="__STATIC__/js/admin/news.js">
</script>

{/block}
