{extend name="public/base" /}
{block name="body"}
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">

                        <div class="layui-inline">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">发布时间</label>
                            <div class="layui-input-inline">
                                <input type="text" name="time" class="layui-input" id="newsTitle" placeholder=""
                                       autocomplete="off">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                            </button>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-btn" id="importExcel">批量导入</div>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarNews">
            <div class="layui-btn-container">
                <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add">发布新闻</button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除</button>
            </div>
        </script>

        <table class="layui-hide" id="newsTableId" lay-filter="newsTableFilter" lay-even
               lay-data="{id: 'newsTableFilter'}"></table>

        <script type="text/html" id="newsTableBar">
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="del">删除</a>
        </script>

    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(['form', 'table', 'laydate', 'layer', 'excel', 'upload'], function () {
        let $ = layui.jquery,
            form = layui.form,
            laydate = layui.laydate,
            layer = layui.layer,
            excel = layui.excel,
            upload = layui.upload,
            table = layui.table;

        laydate.render({
            elem: '#newsTitle'
        });

        upload.render({
            elem: '#importExcel',
            url: '',
            accept: 'file', //普通文件
            exts: 'xls|excel|xlsx', //导入表格
            auto: false,  //选择文件后不自动上传
            before: function (obj) {
                layer.load(); //上传loading
            },
            // 选择文件回调
            choose: function (obj) {
                let files = obj.pushFile();
                let fileArr = Object.values(files);// 注意这里的数据需要是数组，所以需要转换一下
                // 用完就清理掉，避免多次选中相同文件时出现问题
                for (let index in files) {
                    if (files.hasOwnProperty(index)) {
                        delete files[index];
                    }
                }
                uploadExcel(fileArr); // 如果只需要最新选择的文件，可以这样写： uploadExcel([files.pop()])
            },
            error: function () {
                setTimeout(function () {
                    layer.msg("上传失败！", {
                        icon: 1
                    });
                    //关闭所有弹出层
                    layer.closeAll(); //疯狂模式，关闭所有层
                }, 1000);
            }
        });

        function uploadExcel(files) {
            try {
                excel.importExcel(files, {
                    // 读取数据的同时梳理数据
                    fields: {
                        title: 'A',
                        cover_img: 'B',
                        author: 'C',
                        source: 'D',
                        lId: 'E',
                        keyword: 'F',
                        intro: 'G',
                        content: 'H',
                        power: 'I',
                    }
                }, function (data) {
                    data = Object.values(data);

                    let arr = [];
                    let temp = [];
                    for (let item of data) {
                        for (let value in item) {
                            temp.push(item[value]);
                        }
                    }

                    for (let j = 0; j < temp.length; j++) {
                        if (temp[j].length > 0) {
                            for (let i = 1; i < temp[j].length; i++) {
                                let tt = {
                                    cId: 0,
                                    title: temp[j][i].title,
                                    cover_img: temp[j][i].cover_img,
                                    author: temp[j][i].author,
                                    source: temp[j][i].source,
                                    lId: temp[j][i].lId,
                                    keyword: temp[j][i].keyword,
                                    intro: temp[j][i].intro,
                                    content: temp[j][i].content,
                                    power: temp[j][i].power,
                                };
                                arr.push(tt);
                            }
                        }
                    }

                    $.ajax({
                        async: false,
                        url: '{:url("/news/import")}',
                        type: 'post',
                        dataType: "json",
                        contentType: "application/x-www-form-urlencoded",
                        data: {
                            data: arr
                        },
                        success: function (res) {
                            let icon = 0;
                            if (res.code === 1) {
                                icon = 1;
                                setTimeout(function () {
                                    layer.closeAll(); //疯狂模式，关闭所有层
                                }, 1000);

                                //表格导入成功后，重载表格
                                table.reload('newsTable');
                            }

                            layer.msg(res.msg, {icon: icon});
                        },
                        error: function (msg) {
                            layer.msg('请联系管理员!!!');
                        }
                    });
                });
            } catch (e) {
                layer.msg('请联系管理员!!!');
            }
        }

        table.render({
            elem: '#newsTableId',
            url: '{:url("/news/index")}',
            id: 'newsTable',
            toolbar: '#toolbarNews',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            //异步请求，格式化数据
            parseData: function (res) {
                return {
                    'code': 0,
                    'msg': '',
                    'data': res.data,
                    'count': res.count
                }
            },
            cols: [[
                {type: "checkbox", width: 50},
                {field: 'title', title: '标题'},
                {field: 'is_top', title: '置顶', align: 'center'},
                {field: 'view', title: '查看', align: "center"},
                {field: 'update_time', title: '更新时间', align: "center"},
                {title: '操作', minWidth: 150, toolbar: '#newsTableBar', align: "center"}
            ]],
            page: {
                limits: [10, 20, 30, 40],
                limit: 10,
            },
            skin: 'line',
            even: true,
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            let params = JSON.stringify(data.field);
            console.log(params);
            //todo
            //执行搜索重载
            table.reload('newsTable', {
                page: {
                    curr: 1
                },
                where: data.field
            });

            return false;
        });

        /**
         * toolbar监听事件
         */
        // 表头
        table.on('toolbar(newsTableFilter)', function (obj) {
            if (obj.event === 'add') {
                let index = layer.open({
                    title: '发布新闻',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '{:url("/news/add")}',
                });
                //???
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                let checkStatus = table.checkStatus('newsTable'),
                    data = checkStatus.data;
                if (data.length < 1) {
                    layer.msg('请勾选需要删除的数据');
                    return false;
                }

                let ids = [];
                $(data).each(function (i) {
                    ids.push(data[i].id);
                });

                layer.confirm('删除 ' + data.length + ' 条数据？确定么', function (index) {
                    $.post("{:url('/news/delete')}", {ids: ids}, function (res) {
                        layer.msg(res.msg, {icon: 6});
                        layer.close(index);

                        table.reload('newsTable');
                    });
                });
            }
        });

        //表内
        table.on('tool(newsTableFilter)', function (obj) {
            if (obj.event === 'edit') {
                let index = layer.open({
                    title: '编辑新闻',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '{:url("/news/edit")}?id=' + obj.data.id,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'del') {
                layer.confirm('真的删除这条数据么', function (index) {
                    $.post("{:url('/news/delete')}", {ids: obj.data.id}, function (res) {
                        layer.msg(res.msg, {icon: 6});

                        obj.del();
                        layer.close(index);
                    })

                });
            }
        });


    });
</script>

{/block}
